@model DVETPrivateITI.Entities.Account.ChangePasswodEntity
@{
    ViewBag.Title = "ChangePassword";    
}


<div class="col-md-8 mx-auto">
    <div class="pvt-iti-login-container" style="width:500px; ">

        <div class="pvt_iti_login_titlte">@DVETPrivateITI.Web.PrivateITIResources.ChangePasswdPage.ChangePasswdPage.ChangePassword @*Change Password*@</div>
        @*@using (Html.BeginForm("ChangePassword", "Home", new { area = "Admin", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "formChangePwd", @id = "ChangePwd-form" }))
            {*@

        @Html.Hidden("hdnOTPVerified", false)
        <div class="row">
            <div class="col-md-12">
                @*<div class="form-group">
                        @Html.HiddenFor(M => M.MobileNumber)
                        @Html.DisplayFor(m => m.MobileNumber, new { @class = "form-control", @placeholder = "Mobile Number" })
                    </div>*@
                <div class="form-group">
                    Hi, &nbsp;
                    @Html.HiddenFor(m => m.UserName, new { @id = "UserName" })
                    @Html.HiddenFor(m => m.RegNumber, new { @id = "RegNumber" })
                    @Html.DisplayFor(m => m.UserName, new { @class = "form-control", @placeholder = "Registration Number" })
                </div>
                @*<div class="row mt-6">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="control-label col-md-3">Mobile Number<span><i class="fa fa-info-circle"></i></span>  <span class="required">*</span></label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.MobileNumber, new { @id = "MobileNumber", @class = "form-control requiredValidation" })
                                </div>
                                <div class="col-md-2">
                                    <button type="button" id="btnMobile" class="btn btn-primary">Get OTP</button>

                                </div>
                            </div>
                        </div>
                    </div>*@

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group-mobile">
                            <div class="col-md-4">
                                <label class="control-label" style="margin-left:-36px;">Mobile Number<i class="fa fa-info-circle"></i><span class="required">*</span> </label>
                            </div>
                            <span class="input-country-code" style="width:42px;"><input type="text" class="form-control" readonly="readonly" style="width:69px;margin-left:-28px;" placeholder="+91 "></span>
                            <span class="input-space">-</span>
                            <div class="col-md-4">
                                <span class="input-mobile">
                                    @Html.TextBoxFor(m => m.MobileNumber, new
                               {
                                   @id = "mobileNumber",
                                   @class = "form-control requiredValidation check_mobileNumber",
                                   @maxlength = "10",
                                   @onkeypress = "return AllowNumbers(event)",
                                   disabled = "disabled",
                                   //@placeholder = @DVETPrivateITI.Web.PrivateITIResources.RegistrationPage.RegistrationPage.MobileNumber /*"MOBILE NO."*/
                               })
                                </span>
                            </div>
                            @*<span>&nbsp;&nbsp;<a href="javascript:void(0)" id="hrfMobileVerify">Verify</a></span>*@
                            <div class="col-md-3">

                                <button type="button" class="btn btn-primary" id="hrfmobileverify" style="width: 71px;">Get OTP</button>
                                @*<button type="button" class="btn btn-success fa fa-check" disabled id="hrfverified" style="width: 90px; display:none;">@dvetprivateiti.web.privateitiresources.registrationpage.registrationpage.verified @*verified</button>*@

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group-mobile">
                        <div class="col-md-3">
                            <label class="control-label" style="margin-left:-20px;">Old Password<i class="fa fa-info-circle"></i><span class="required">*</span> </label>

                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.OldPassword, new
                   {
                       @id = "oldPassword",
                       @type = "password",
                       @class = "form-control",
                       disabled = "disabled",
                       @placeholder = @DVETPrivateITI.Web.PrivateITIResources.ChangePasswdPage.ChangePasswdPage.OldPassword /*"Old Password"*/
                   })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="input-group-mobile">
                        <div class="col-md-3">
                            <label class="control-label" style="margin-left:-19px;">New Password<span data-toggle="tooltip" data-placement="top" title='Password should have minimum 1 Capital Alphabet, 1 Number,1 Special Character and without space, e.g. Password@123'><i class="fa fa-info-circle"></i></span><span class="required">*</span> </label>

                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Password, new
                       {
                           @id = "newPassword",
                           @type = "password",
                           @class = "form-control requiredValidation",
                           disabled = "disabled",                        
                           
                           @placeholder = @DVETPrivateITI.Web.PrivateITIResources.ChangePasswdPage.ChangePasswdPage.NewPassword /*"New Password"*/
                       })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="input-group-mobile">
                        <div class="col-md-3">
                            <label class="control-label" style="margin-left:-19px;">Confirm Password<i class="fa fa-info-circle"></i><span class="required">*</span> </label>

                        </div>
                        <div class="col-md-9">

                            @Html.TextBoxFor(m => m.ConfirmPassword, new
                   {
                       @id = "crmPassword",
                       @type = "password",
                       @class = "form-control",
                       disabled = "disabled",
                       @placeholder = @DVETPrivateITI.Web.PrivateITIResources.ChangePasswdPage.ChangePasswdPage.ConfirmNewPassword /*"Confirm New Password"*/
                   })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
               
                <div class="form-group text-center">
                    <button type="submit" id="btnChange" class="btn btn-primary d-block w-100">@DVETPrivateITI.Web.PrivateITIResources.ChangePasswdPage.ChangePasswdPage.Change @*Change*@</button>
                </div>
            </div>
        </div>
        @* }*@
    </div>
</div>

<!-- MODEL FOR MESSAGE -->
<div class="modal fade" id="registor-Sucess-Failure" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Notification</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                &nbsp;&nbsp;<span id="spn-Sucess-Failure"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">@DVETPrivateITI.Web.PrivateITIResources.ChangePasswdPage.ChangePasswdPage.OK @*OK*@</button>
            </div>
        </div>
    </div>
</div>
<!-- !MODEL FOR MESSAGE -->
<!-- MODEL FOR MESSAGE SUCCESS -->
<div class="modal fade" id="registor-Success" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Notification</h6>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                &nbsp;&nbsp;<span id="spn-Success"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnOk" data-dismiss="modal" class="btn btn-primary">@DVETPrivateITI.Web.PrivateITIResources.ChangePasswdPage.ChangePasswdPage.OK @*OK*@</button>
            </div>
        </div>
    </div>
</div>
<!-- !MODEL FOR MESSAGE SUCCESS-->
<!-- OTP POPUP -->
<div class="modal fade" id="getotp">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form>
                        <div class="row">
                            <div class="col-md-3 mt-1">
                                <label class="control-label">@DVETPrivateITI.Web.PrivateITIResources.RegistrationPage.RegistrationPage.EnterOTP @*Enter OTP*@</label>
                            </div>
                            <div class="col-md-pull-6">
                                <input type="text" class="form-control" placeholder="Enter OTP" id="otpNumber" onkeypress="return AllowNumbers(event)">
                                <span id="opterrormsg" class="field-validation-error" style="color: #dc3545; display: none;">@DVETPrivateITI.Web.PrivateITIResources.RegistrationPage.RegistrationPage.EnteredwrongOTP @*Entered wrong OTP.*@</span>
                                <br />
                                <span id="optotpmsg" class="field-validation-success" style="color: #5fba7d; display: none;">@DVETPrivateITI.Web.PrivateITIResources.RegistrationPage.RegistrationPage.OTPsuccessfullysenttothemobilenumber @*OTP successfully sent to the mobile number*@</span>
                                <div class="otpvalid">
                                    <span class="text-danger">@DVETPrivateITI.Web.PrivateITIResources.RegistrationPage.RegistrationPage.PleaseentervalidOTP @*Please enter valid OTP*@</span>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" id="btnVerifyOTP">@DVETPrivateITI.Web.PrivateITIResources.RegistrationPage.RegistrationPage.Submit @*Submit*@</button>
                <button type="button" class="btn btn-primary" id="btnResetForOTP">@DVETPrivateITI.Web.PrivateITIResources.RegistrationPage.RegistrationPage.ResendOTP @*Resend OTP*@</button>
            </div>
        </div>
    </div>
</div>
<!-- /OTP POPUP -->
<!-- SCRIPT ZONE -->
<script type="text/javascript">

    $(function () {

        window.ChangePasswordURL = '@Url.Action("ChangePassword", "Account")';

        $("#btnChange").click(function () {


            var oldPswd = $('#oldPassword').val();
            var newPswd = $('#newPassword').val();
            var crmPswd = $('#crmPassword').val();

            var passwordvalid= /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;



            if (oldPswd == null || oldPswd == "") {
                alertNotification("please enter Password");
                return false;
            }

            if (newPswd == null || newPswd == "") {
                alertNotification("please enter new password");
                return false;

            }

            if (!passwordvalid.test(newPswd)) {
                
                alertNotification("Password should have minimum 1 Capital Alphabet, 1 Number,1 Special Character and without space, e.g. Password@123'");
                return false;
            }

            if (crmPswd == null || crmPswd == "") {
                alertNotification("please enter ConfirmPassword");
                return false;

            }
            if (oldPswd == "" && newPswd == "" && crmPswd == "") {
                alertNotification("please enter Old Password /New Password/ Confirm Password");
                return false;

            }
            else {
                var entityModel = {};

                entityModel.ConfirmPassword = crmPswd;
                entityModel.OldPassword = oldPswd;
                entityModel.Password = newPswd;
                entityModel.UserName = $("#UserName").val();
                entityModel.RegNumber = $("#RegNumber").val();
                                            

                $.ajax({
                    type: "POST",
                    url: window.ChangePasswordURL,
                    contentType: "application/json",
                    data: JSON.stringify({ entityModel: entityModel }),

                    success: function (data) {

                        if (data == "Success") {
                           
                            alertSuccessNotification("Password updated successfully!! Please Re-login the application");

                            //}
                            $("#btnOk").click(function () {
                                window.location.href = '@Url.Action("Login", "Account",new { area=""})';
                            });


                        }
                        else if (data == "SamePassword") {
                            alertNotification("New Password and Old password are same!!");

                        }
                        else if (data == "WrongPassword") {
                            alertNotification("Old passord is wrong!!");

                        }
                        else if (data == "NotSame")
                        {
                            alertNotification("New Password and Confirm Password are should be same")
                        }

                    },
                    error: function (data) {

                        alertNotification('Error!! Password not updated!! Try again');
                    }

                });
            }
        });

                
        window.GetMobileOtpURL = '@Url.Action("GetMobileOtp", "Base")';

        window.GetOtpVerifyURL = '@Url.Action("EnterOtpCheck", "Base")';

        //$('#oldPassword').attr("disabled", "disabled");
        //$('#newPassword').attr("disabled", "disabled");
        //$('#crmPassword').attr("disabled", "disabled");

        function generateOtp() {
            $("#opterrormsg").text("");
            $("#otpNumber").text("");
            $('.otpvalid').attr("style", "display:none");
            if ($('#mobileNumber').val().length == 10 && $('#mobileNumber').val() != "") {
                $.ajax({
                    type: "GET",
                    url: window.GetMobileOtpURL,

                    contentType: "json",

                    data: { mobilenumber: $('#mobileNumber').val() },

                    success: function (data) {
                        JSON.stringify(data);
                        $("#optotpmsg").attr("style", "display:block;color:#20e10e;");
                        if (data == "Success") {

                        }
                        else {

                        }

                    }

                });
            }
            else {
                $("#getotp").modal("hide");
            }
        }

        $("#hrfmobileverify").click(function () {

            
            if ($('#mobileNumber').val().trim() != "" || $('#mobileNumber').val().length == 10) {
                $('#getotp').modal({ show: true, backdrop: 'static', keyboard: false })
                generateOtp();
            }
            else
                alertNotification('Please Enter Valid Mobile Number.');
        });

        $("#btnVerifyOTP").click(function () {
            VerifyEnteredOtp();
        });

        function VerifyEnteredOtp() {
            $("#opterrormsg").text("");
            if ($("#otpNumber").val() != "") {
                $.ajax({
                    type: "GET",
                    url: window.GetOtpVerifyURL,
                    contentType: "json",
                    data: { enterOtp: $("#otpNumber").val() },
                    success: function (res) {
                        if (res === true) {
                            $("#getotp").modal("hide");
                            $("#hdnOTPVerified").val(true);

                            $('#mobileNumber').attr("readonly", "readonly");
                            $('#hrfMobileVerify').attr("style", "display:none");
                            $('#hrfVerified').show();
                            $('#oldPassword').removeAttr("disabled");
                            $('#newPassword').removeAttr("disabled");
                            $('#crmPassword').removeAttr("disabled");



                            $.ajax({
                                type: "GET",
                                url: window.GetOtpClearURL,
                                contentType: "json",
                                data: {},
                                success: function (data) {
                                    if (res === true) {
                                    }
                                }
                            });

                        } else {
                            $('.otpvalid').attr("style", "display:block");
                            $('#optotpmsg').attr("style", "display:none");
                            // $("#statusOTPMsg").removeClass("show-span").addClass("hide-span");
                            // $("#hdnOTPMsg").val(0);
                            $("#hdnOTPVerified").val(false);
                            //$("#MobileNumber").attr("readonly", false);
                        }
                    }
                });
            }
        }

        $("#btnResetForOTP").click(function () {
            generateOtp();
        });

        //$("#registor-Success").keypress(function (e) {
        //    // ESCAPE key pressed
        //    if (e.keyCode == 27) {
        //        debugger;
        //        e.preventDefault();
        //        //$("#registor-Success").model('show');
        //    }
        //});


        //$('#registor-Success').modal({
        //    //show: true,
        //    keyboard: false,
        //    backdrop: 'static'
        //});

        //var pswd = $("password").val();

        //if (pswd.length < 8) {
        //    $('#length').removeClass('valid').addClass('invalid');
        //} else {
        //    $('#length').removeClass('invalid').addClass('valid');
        //}





        function alertNotification(msg) {

            $("#spn-Sucess-Failure").text(msg)

            $("#registor-Sucess-Failure").modal('show');
        };

        function alertSuccessNotification(msg) {

            $("#spn-Success").text(msg)

            $("#registor-Success").modal('show');
        };


        var Message = '@ViewBag.Message';

        if (Message == "SamePassword") {
            $("#spn-Sucess-Failure").text('Old Password and New Password cannot be same')
            $("#registor-Sucess-Failure").modal('show');
        }
        else if (Message == "NotSamePassword") {
            $("#spn-Sucess-Failure").text('Old Password not match with Current Password')
            $("#registor-Sucess-Failure").modal('show');
        }
        else
            $("#registor-Sucess-Failure").modal('hide');
    });
</script>
<!-- !SCRIPT ZONE -->
