@model DVETPrivateITI.Entities.Account.ChangePasswodEntity
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 mx-auto">
    <div class="pvt-iti-login-container">

        <div class="pvt_iti_login_titlte">@DVETPrivateITI.Web.PrivateITIResources.ForgotPasswdPage.ForgotPasswdPage.ForgotPassword @*Forgot Password*@</div>
        @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "formForgotPwd", @id = "frmForgotPwd" }))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.RegNumber, new { @class = "form-control", @placeholder = "Registration Number", @required = "required" })
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" id="btnSubmit" class="btn btn-primary w-50" onclick="return Validate()">@DVETPrivateITI.Web.PrivateITIResources.ForgotPasswdPage.ForgotPasswdPage.SendSMS @*Send SMS*@</button>
                    </div>
                    <div class="form-group text-center">
                        <a href="@Url.Action("Login","Account", new { area = "" })">@DVETPrivateITI.Web.PrivateITIResources.ForgotPasswdPage.ForgotPasswdPage.BacktoLoginpage @*Back to Login page*@</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- MODEL FOR MESSAGE -->
<div class="modal fade" id="registor-Sucess-Failure" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Notification</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                &nbsp;&nbsp;<span id="spn-Sucess-Failure"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">@DVETPrivateITI.Web.PrivateITIResources.ForgotPasswdPage.ForgotPasswdPage.OK  @*OK*@</button>
            </div>
        </div>
    </div>
</div>
<!-- !MODEL FOR MESSAGE -->
<!-- STYLE ZONE -->
<style>
    .error {
        color: red !important;
    }
</style>
<!-- /STYLE ZONE-->
<!-- SCRIPT ZONE -->
<script src="~/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script>

    var Message = '@ViewBag.Message';
    var Number = '@ViewBag.Number';
    

    if (Message == "Success") {
        
        $("#spn-Sucess-Failure").text('Password was sent to your registered Mobile Number   ' + Number)
        $("#registor-Sucess-Failure").modal('show');
    }
    else if (Message == "Error") {
        $("#spn-Sucess-Failure").text('Unable to send Password to your registered Mobile Number' + Number)
        $("#registor-Sucess-Failure").modal('show');
    }
    else
        $("#registor-Sucess-Failure").modal('hide');
    $("#btnSubmit").Click(function () {
        return $('#frmForgotPwd').validate();
    });

    //function Validate() {

    //    return $('#frmForgotPwd').validate();s
    //}

    $(function () {
        var validator = $('#frmForgotPwd').validate({

            rules: {
                RegNumber: {
                    required: true,
                }
            },
            messages: {
                RegNumber: {
                    required: "Registration Number is Required",
                }
            },

            highlight: function (element) { // hightlight error inputs
                //$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
                $(element).parents('.form-group').addClass('has-error has-feedback');
                //console.log("highlight " + $(element).prop("id"));
                $(element).closest('.form-group').find("[data-name='errorField']").show();
            },
        });

    });
</script>
<!-- !SCRIPT ZONE -->
