@model NtierMvc.Model.MRM.PODetailEntity
@{
    ViewBag.Title = "PO Details";
}

<input type="text" id="tableSelected" hidden />
<input type="text" id="HiddenLoggedInDeptName" hidden />
@Html.HiddenFor(m => m.DeptName, new { @id = "HiddenDeptNamePODetails" })
@Html.HiddenFor(m => m.PRSetno, new { @id = "HiddenPRSetno" })
@Html.HiddenFor(m => m.POSetno, new { @id = "HiddenPOSetno" })
@Html.HiddenFor(m => m.SignStatus, new { @id = "HiddenSignStatusPODetails" })
@Html.HiddenFor(m => m.PRStatus, new { @id = "HiddenPRStatusPODetails" })
@*@Html.HiddenFor(m => m.EntryPerson, new { @id = "HiddenEntryPersonPODetails" })*@
@Html.HiddenFor(m => m.ApprovePerson1, new { @id = "HiddenApprovePerson1PODetails" })
@Html.HiddenFor(m => m.ApprovePerson2, new { @id = "HiddenApprovePerson2PODetails" })

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-1 ml-auto pr-2 text-right">
        <img src="~/Images/Common/@ViewBag.Logo" alt="Company Logo" />
    </div>
    <div class="col-md-7 p-0 pt-2">
        <h3>@ViewBag.CompanyName</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        Address:
                    </div>
                    <div class="col-md-10">
                        @ViewBag.Address1
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        @ViewBag.Address2
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        @ViewBag.Address3
                    </div>
                </div>
                @if (ViewBag.Phone != null)
                {
                    <div class="row">
                        <div class="col-md-1">
                            Phone:
                        </div>
                        <div class="col-md-10">
                            @ViewBag.Phone
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-1">
                        Mobile:
                    </div>
                    <div class="col-md-10">
                        @ViewBag.Mobile
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        Email:
                    </div>
                    <div class="col-md-10">
                        @ViewBag.Email1
                    </div>
                </div>
                @if (ViewBag.Email2 != null)
                {
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            @ViewBag.Email2
                        </div>
                    </div>
                }
                @if (ViewBag.Email3 != null)
                {
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            @ViewBag.Email3
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-1">
                        Website:
                    </div>
                    <div class="col-md-10">
                        @ViewBag.Website
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-controller="MRMController" class="row">
    <form id="formPODetails" class="mt-5">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline pull-left">
                        <div class="form-group">
                            <label for="PRNo">PR No :</label>
                            @Html.DropDownListFor(m => m.PRSetno, new SelectList(@ViewBag.ListPRno, "DataStringValueField", "DataTextField", "Select"), new
                                {
                                    @class = "form-control ml-2 requiredValidation clearField",
                                    @id = "PRSetNoPODetails",
                                    @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                                    @onchange = "FetchtPRDetailsFromPRSetNo()"
                                })
                        </div>
                        <div class="form-group" style="margin-left:650px">
                            <label for="PONo">PO No :</label>
                            @Html.TextBoxFor(m => m.PONo, new
                       {
                           @class = "form-control ml-3 mr-2 requiredValidation",
                           @id = "PONoPODetails",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                       })
                        </div>
                        <div class="form-group ml-4">
                            <label for="PODate">PO Date :</label>
                            @Html.TextBoxFor(m => m.POdate, new
                       {
                           @class = "form-control ml-3 requiredValidation",
                           @id = "PODatePODetails",
                           @readonly = "readonly",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                       })
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline pull-right">
                        <div class="form-group mt-4">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input RadioList" id="RadioListRM" name="multiRL" value="RM" onchange="RadioListChange()">
                                <label class="custom-control-label h5" for="RadioListRM">RM</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input RadioList" id="RadioListBOI" name="multiRL" value="BOI" onchange="RadioListChange()">
                                <label class="custom-control-label h5" for="RadioListBOI">Bought Out Items</label>
                            </div>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input RadioList" id="RadioListJW" name="multiRL" value="JW" onchange="RadioListChange()">
                                <label class="custom-control-label h5" for="RadioListJW">Job Work</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input RadioList" id="RadioListGI" name="multiRL" value="GI" onchange="RadioListChange()">
                                <label class="custom-control-label h5" for="RadioListGI">General Items</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input RadioList" id="RadioListC" name="multiRL" value="C" onchange="RadioListChange()">
                                <label class="custom-control-label h5" for="RadioListC">Consumables</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input RadioList" id="RadioListCG" name="multiRL" value="CG" onchange="RadioListChange()">
                                <label class="custom-control-label h5" for="RadioListCG">Capital Goods</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input RadioList" id="RadioListO" name="multiRL" value="O" onchange="RadioListChange()">
                                <label class="custom-control-label h5" for="RadioListO">Others</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <hr style="width:100%" />
            </div>

            <div class="row">
                <div class="col-md-12">

                    <table class="table table-bordered tableRadio" id="tableRM">
                        <thead>
                            <tr>
                                <td>
                                    SN
                                </td>
                                <td>
                                    RM Description
                                </td>
                                <td>
                                    RM Grade
                                </td>
                                <td>
                                    RM Hardness
                                </td>
                                <td>
                                    PSL Level
                                </td>
                                <td>
                                    OD
                                </td>
                                <td>
                                    WT
                                </td>
                                <td>
                                    Len
                                </td>
                                <td>
                                    Qty Required (Nos)
                                </td>
                                <td>
                                    Qty in Stock (Nos)
                                </td>
                                <td>
                                    Purchase Qty (Nos)
                                </td>
                                <td>
                                    Unit Price
                                </td>
                                <td>
                                    Total Price
                                </td>
                                <td>
                                    Discount
                                </td>
                                <td>
                                    Final Price
                                </td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table tableRadio" id="tableBOI">
                        <thead>
                            <tr>
                                <td>
                                    SN
                                </td>
                                @*<td>
                                        RM Code
                                    </td>*@
                                <td>
                                    RM Description
                                </td>
                                <td>
                                    RM Grade
                                </td>
                                <td>
                                    PS Level
                                </td>
                                <td>
                                    Qty Required (Nos)
                                </td>
                                <td>
                                    Qty in Stock (Nos)
                                </td>
                                <td>
                                    Purchase Qty (Nos)
                                </td>
                                <td>
                                    Unit Price
                                </td>
                                <td>
                                    Total Price
                                </td>
                                <td>
                                    HSN
                                </td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table tableRadio" id="tableJW">
                        <thead>
                            <tr>
                                <td>
                                    SN
                                </td>
                                @*<td>
                                        RM Code
                                    </td>*@
                                <td>
                                    Item Description
                                </td>
                                <td>
                                    RM Grade
                                </td>
                                <td>
                                    JW Qty (Nos)
                                </td>
                                <td>
                                    Unit Price
                                </td>
                                <td>
                                    Total Price
                                </td>
                                <td>
                                    WIP No
                                </td>
                                <td>
                                    DRG No
                                </td>
                                <td>
                                    Opn Code
                                </td>
                                <td>
                                    Process Name
                                </td>
                                <td>
                                    EDR
                                </td>
                                <td>
                                    OPN Time
                                </td>
                                <td>
                                    HSN
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="tableRadio" id="tableGI" style="width: 70%;">
                        <thead>
                            <tr>
                                <td style="width: 6%;">
                                    SN
                                </td>
                                <td style="width: 36%;">
                                    Item Description
                                </td>
                                <td style="width: 8%;">
                                    Qty (Nos)
                                </td>
                                <td style="width: 10%;">
                                    Unit Price
                                </td>
                                <td style="width: 11%;">
                                    Total Price
                                </td>
                                @*<td width="16%">
                                        Required Dly. Date
                                    </td>*@
                                <td style="width: 5%;">
                                    HSN
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="tableRadio" id="tableC" style="width: 70%;">
                        <thead>
                            <tr>
                                <td style="width: 6%;">
                                    SN
                                </td>
                                <td style="width: 36%;">
                                    Item Description
                                </td>
                                <td style="width: 8%;">
                                    Qty (Nos)
                                </td>
                                <td style="width: 10%;">
                                    Unit Price
                                </td>
                                <td style="width: 11%;">
                                    Total Price
                                </td>
                                @*<td width="16%">
                                        Required Dly. Date
                                    </td>*@
                                <td style="width: 5%;">
                                    HSN
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="tableRadio" id="tableO" style="width: 70%;">
                        <thead>
                            <tr>
                                <td style="width: 6%;">
                                    SN
                                </td>
                                <td style="width: 36%;">
                                    Item Description
                                </td>
                                <td style="width: 8%;">
                                    Qty (Nos)
                                </td>
                                <td style="width: 10%;">
                                    Unit Price
                                </td>
                                <td style="width: 11%;">
                                    Total Price
                                </td>
                                @*<td width="16%">
                                        Required Dly. Date
                                    </td>*@
                                <td style="width: 5%;">
                                    HSN
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row">
                <hr style="width:100%" />
            </div>

            <table class="table">
                <tr>
                    <td class="text-right">
                        Work Instruction
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.WorkNo, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsWorkNo",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                    <td class="text-right">
                        General Condition
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.GeneralCondition, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsGeneralCondition",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Delivery Date
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DeliveryDate, new
                        {
                           @class = "form-control requiredValidation CalenderDate",
                           @id = "PODetailsDeliveryDate",
                           @readonly = "readonly",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                    <td class="text-right">
                        QMS Requirements
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.POQMSRequirement, new
                        {
                           @class = "form-control requiredValidation",
                           @id = "PODetailsPOQMSRequirement",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Quality
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.POQuality, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsPOQuality",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                    <td class="text-right">
                        PO Validity
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.POValidity, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsPOValidity",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Packing & Forwarding
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.POPackForward, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsPOPackForward",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                    <td class="text-right">
                        PO Revise No
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.PORevNo, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsPORevNo",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Mode of Payment
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.ModeOfPayment, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsModeOfPayment",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                    <td class="text-right">
                        Item Category
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.ItemCategory, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsItemCategory",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Payment Terms
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.PaymentTerms, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsPaymentTerms",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                    <td class="text-right">
                        Mode of Transport
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.ModeOfTransport, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsModeOfTransport",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        Any Other Requirements
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.AnyOtherRequirements, new
                        {
                            @class = "form-control requiredValidation",
                            @id = "PODetailsAnyOtherRequirements",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <img id="imgRequestedBy" src="" alt="Signature" width="50px" height="50px" />
                    </td>
                    <td class="text-center">
                        <img id="imgStoreEx" src="" alt="Signature" width="50px" height="50px" />
                    </td>
                    <td class="text-center">
                        <img id="imgApproverSign" src="" alt="Signature" width="50px" height="50px" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <label id="lblRequestedBy">Purchase Department</label>
                    </td>
                    <td class="text-center">
                        <label id="lblStoreEx">Plant Head</label>
                    </td>
                    <td class="text-center">
                        <label id="lblApproverSign">Management</label>
                    </td>
                </tr>
            </table>

            <div class="row">
                <div class="col-md-12 pt-4 text-center">
                    <button id="SavePODetails" style="font-size:18px" type="button" class="btn btn-success btn-sm" onclick="SaveDetailsForPO(event)">Save</button>
                    <button style="font-size:18px" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    $(document).ready(function () {

        window.UpdateApproveReject = '@Url.Action("UpdateApproveReject", "MRM")';
        window.ChangeEndUseNoForQuoteOrSoNo = '@Url.Action("ChangeEndUseNoForQuoteOrSoNo", "MRM")';
        window.ChangeEndUseNoForNonPO = '@Url.Action("ChangeEndUseNoForNonPO", "MRM")';
        window.ChangeRMCat = '@Url.Action("ChangeRMCat", "MRM")';

        $('#tableRM').hide();
        $('#tableBOI').hide();
        $('#tableJW').hide();
        $('#tableGI').hide();
        $('#tableC').hide();
        $('#tableO').hide();

    });

    //LEASE DATE AND EXP LEASE DATE VALIDATION
    $('.CalenderDate').datepicker({

        format: 'dd-mm-yyyy',
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: '',
    });
    $('.CalenderTillTodayDate').datepicker({

        format: 'dd-mm-yyyy',
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: 'today',
    });
</script>


