
@{
    ViewBag.Title = "MRM";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<link href="~/assets/css/tableStyle.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/tabs.js"></script>

<div ng-controller="MRMController">
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'PR')" id="defaultOpen" ng-click="FetchPRDetailsList()"> Purchase Requisition </button>
        <button class="tablinks" onclick="openCity(event, 'VendorsPO')" ng-click="FetchVendorsPOList()">Vendors PO</button>
        <button class="tablinks" onclick="openCity(event, 'BOM')" ng-click="FetchBOMList()">BOM</button>
        <button class="tablinks" onclick="openCity(event, 'ApprovedVendors')" ng-click="FetchApprovedVendorsList()">Approved Vendors</button>
        <button class="tablinks" onclick="openCity(event, 'BillMonitoring')" ng-click="FetchBMList()">Bill Monitoring</button>
    </div>

    <!-- Tab content -->
    <div id="PR" class="tabcontent">
        @Html.Partial("PRPlanning")
    </div>

    <div id="VendorsPO" class="tabcontent">
        @Html.Partial("POPlanning")
    </div>

    <div id="BOM" class="tabcontent">
        @Html.Partial("PartialBOM")
    </div>

    <div id="BillMonitoring" class="tabcontent">
        @Html.Partial("PartialMRMBillMonitoring")
    </div>
</div>

<script>
    document.getElementById("defaultOpen").click();

    $(document).ready(function () {
        window.PanningTab = '@Url.Action("PRPlanning", "MRM")';
        window.PurchaseTab = '@Url.Action("PartialPurchase", "MRM")';
        window.BOMTab = '@Url.Action("PartialBOM", "MRM")';
    });

    window.onload = function () {
        angular.element(document.getElementById('TblPRPlanningList')).scope().FetchPRDetailsList();
    }
</script>
