@model NtierMvc.Model.GateEntryEntity
@{
    ViewBag.Title = "Bill Monitoring";
}

<div class="row mt-3">
    <div class="col-md-1">
        <button id="btnBill" type="button" class="btn btn-outline-primary btn-sm" style="float: left;" ng-click="MRMBindVendorsMasterBillPopUp()"><i class="fa fa-plus"></i><b> Add Bill</b></button>
    </div>
    <div class="col-md-10">
        <div class="row">
            <table class="text-center">
                <tr>
                    <td>Type</td>
                    <td>Vendor Nature</td>
                    <td>Vendor Name</td>
                    <td>Function Area</td>
                    <td>Financial Year</td>
                    <td>Approval Status</td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownList("Type", new SelectList(@ViewBag.ListType, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchType",
                               @id = "TypeList",
                               @onchange = "getDdlDetailsForList('TypeList')"
                           })
                    </td>
                    <td>
                        @Html.DropDownList("VendorNature", new SelectList(@ViewBag.ListVendorNature, "DataStringValueField", "DataTextField", "Select"),
                                                   new
                                                   {
                                                       @class = "form-control",
                                                       ng_model = "SearchVendorNature",
                                                       @id = "VendorNatureList",
                                                       @onchange = "getDdlDetailsForList('VendorNatureList')"
                                                   })
                    </td>
                    <td>
                        @Html.DropDownList("VendorName", new SelectList(@ViewBag.ListVendorName, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchVendorName",
                               @id = "VendorNameList",
                               @onchange = "getDdlDetailsForList('VendorNameList')"
                           })
                    </td>
                    <td>
                        @Html.DropDownList("FunctionArea", new SelectList(@ViewBag.ListFunctionArea, "DataStringValueField", "DataTextField", "Select"),
                                                   new
                                                   {
                                                       @class = "form-control",
                                                       ng_model = "SearchFunctionArea",
                                                       @id = "FunctionAreaList"
                                                   })
                    </td>
                    <td>
                        @*@Html.DropDownList("FinancialYear", new SelectList(@ViewBag.ListFinancialYear, "DataStringValueField", "DataTextField", "Select"),
                            new
                            {
                                @class = "form-control",
                                ng_model= "SearchFinancialYear",
                                @id= "FinancialYearList"
                            })*@
                    </td>
                    <td>
                        @Html.DropDownList("ApprovalStatus", new SelectList(@ViewBag.ListApprovalStatus, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchApprovalStatus",
                               @id = "ApprovalStatusList"
                           })
                    </td>
                    <td>
                        <button class="btn btn-link" type="button" id="btnSearch" ng-click="FetchVendorsMasterList()">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <table class="text-center">
            <thead class="tblhead">
                <tr>
                    <th>
                        Action
                        <div class="c1">
                            Action
                        </div>
                    </th>
                    <th>
                        Supply Type
                        <div class="c2">
                            Supply Type
                        </div>
                    </th>
                    <th>
                        GateControlNo
                        <div class="c2">
                            GateControlNo
                        </div>
                    </th>
                    <th>
                        Vendor Id
                        <div class="c2">
                            Vendor Id
                        </div>
                    </th>
                    <th>
                        Vendor Name
                        <div class="c2">
                            Vendor Name
                        </div>
                    </th>
                    <th>
                        Supplier Inv No
                        <div class="c2">
                            Supplier Inv No
                        </div>
                    </th>
                    <th>
                        Supplier Inv Date
                        <div class="c2">
                            Supplier Inv Date
                        </div>
                    </th>
                    <th>
                        GR No
                        <div class="c3">
                            GR No
                        </div>
                    </th>
                    <th>
                        GR Date
                        <div class="c3">
                            GR Date
                        </div>
                    </th>                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="L in BOMList">
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="VIEW" ng-click="LoadBillMonitoringViewPopup(L.BMno)">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="EDIT" ng-click="LoadBillMonitoringEditPopup(L.BMno)">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        {{L.SupplyType}}
                    </td>
                    <td>
                        {{L.GateControlNo}}
                    </td>
                    <td>
                        {{L.VendorId}}
                    </td>
                    <td>
                        {{L.VendorName}}
                    </td>
                    <td>
                        {{L.SupplierInvNo}}
                    </td>
                    <td>
                        {{L.SupplierInvDate}}
                    </td>
                    <td>
                        {{L.GRNo}}
                    </td>
                    <td>
                        {{L.GRDate}}
                    </td>
                    
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="c1">
                            <div class="row p-0">
                                <div class="col-md-2 p-0">
                                    <span class="form-group pull-left page-size form-inline">
                                        <b>Records per page : &nbsp;&nbsp;</b>
                                        <select id="ddlBMPageSize" class="form-control control-color"
                                                ng-model="BMPageSize"
                                                ng-change="BMChangePageSize()">
                                            <option value="100000">All</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-8 pull-right p-0">
                                    <div class="row p-0">
                                        <div class="col-md-10 p-0">
                                            <pagination total-items="BMTotalCount" ng-change="BMPageChanged()" items-per-page="BMPageSize" direction-links="true" ng-model="BMPageIndex" max-size="maxsize" class="pagination pull-right" boundary-links="true" rotate="false" num-pages="BMNumPages"></pagination>
                                        </div>
                                        <div class="col-md-2 p-0">
                                            <a class="btn btn-primary p-2 pull-right">Page: {{BMPageIndex}} / {{BMNumPages}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        window.MRMBillMonitoringPopUp = '@Url.Action("MRMBillMonitoringPopUp", "MRM")';
        window.GetDdlDetailsForList = '@Url.Action("GetDdlDetailsForList", "GateEntry", new { @Area = ""})';
        window.FetchBillMonitoringList = '@Url.Action("FetchBillMonitoringList", "MRM")';
        window.MRMGateControlNoDetails = '@Url.Action("GetMRMDetailForGateControlNo", "MRM")';
    });

</script>

<script src="~/Areas/MRM/Scripts/MRMBillMonitoring.js"></script>

