
@{
    ViewBag.Title = "Purchase Order";
}

<div class="row mt-3">
    <table>
        <tr>
            <td>
                <button id="btnPODetails" type="button" class="btn btn-outline-primary btn-sm" ng-click="BindPODetailsPopup()"><i class="fa fa-plus"></i> <b>New Vendor PO</b></button>
            </td>
            <td>
                <label>Vendor Type</label>
            </td>
            <td>
                <label>Supplier ID</label>
            </td>
            <td>
                <label>RM Category</label>
            </td>
            <td>
                <label>Delivery Date</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.DropDownList("VendorType", new SelectList(@ViewBag.ListVendorType, "DataStringValueField", "DataTextField", "Select"),
                        new
                        {
                            @class = "form-control",
                            @id = "POSearchVendorTypeId",
                            ng_model= "POSearchVendorTypeId"
                        })
                </td>
                <td>
                    @Html.DropDownList("SupplierId", new SelectList(@ViewBag.ListSupplierId, "DataStringValueField", "DataTextField", "Select"),
                               new
                               {
                                   @class = "form-control",
                                   @id = "POSearchSupplierId",
                                   ng_model = "POSearchSupplierId",
                                   @multiple = "true"
                               })
                </td>
                <td>
                    @Html.DropDownList("RMCategory", new SelectList(@ViewBag.ListRMCategory, "DataStringValueField", "DataTextField", "Select"),
                               new
                               {
                                   @class = "form-control",
                                   @id = "POSearchRMCategory",
                                   ng_model = "POSearchRMCategory",
                                   @multiple = "true"
                               })
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextBox("DeliveryDateFrom","", new
                       {
                           @class = "form-control requiredValidation CurrentEndDate",
                           @style = "background-color: white",
                           @id = "POSearchDeliveryDateFrom",
                           ng_model = "POSearchDeliveryDateFrom",
                           @placeholder = "Date From",
                           @readonly = "readonly"
                       })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBox("DeliveryDateTo","", new
                       {
                           @class = "form-control ml-3 requiredValidation CurrentEndDate ",
                           @style = "background-color: white",
                           @id = "POSearchDeliveryDateTo",
                           ng_model = "POSearchDeliveryDateTo",
                           @placeholder = "Date To",
                           @readonly = "readonly"
                       })
                        </div>
                    </div>
                            
                </td>
            <td></td>
            <td>
                <button class="btn btn-link" type="button" id="btnSearch" ng-click="FetchPODetailsList()">
                    <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-sm btn-info" type="button" id="btnClearSearchPO">Clear</button>
            </td>
        </tr>
    </table>

    <div class="row mt-1">
        <div class="col-md-12">
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <table>
                <thead class="tblhead">
                    <tr>
                        <th>
                            Action
                            <div class="c1">
                                Action
                            </div>
                        </th>
                        <th>
                            PO No
                            <div class="c2">
                                PO No
                            </div>
                        </th>
                        <th>
                            PO Date
                            <div class="c2">
                                PO Date
                            </div>
                        </th>
                        <th>
                            Work No
                            <div class="c2">
                                Work No
                            </div>
                        </th>
                        <th>
                            Delivery Date
                            <div class="c2">
                                Delivery Date
                            </div>
                        </th>
                        <th>
                            POValidity
                            <div class="c2">
                                POValidity
                            </div>
                        </th>
                        <th>
                            Download
                            <div class="c2">
                                Download
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="L in POList">
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="VIEW" ng-click="LoadVendorPOViewPopup(L.POSetno)">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="EDIT" ng-click="LoadVendorPOEditPopup(L.POSetno)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="DELETE" ng-click="DeleteVendorPODetails(L.POSetno)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        <td>
                            {{L.PONo}}
                        </td>
                        @*<td>
                            {{L.PRSetno}}
                        </td>*@
                        <td>
                            {{L.POdate}}
                        </td>
                        <td>
                            {{L.WorkNo}}
                        </td>
                        <td>
                            {{L.DeliveryDate}}
                        </td>
                        <td>
                            {{L.POValidity}}
                        </td>
                        <td>
                            <button class="btn btn-link btn-sm" value="{{L.POSetno}}" onclick="CreateDocumentForPODetail(this)">
                                <img src="~/Images/excel.png" height="30px" />
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <div class="c1">
                                <div class="row p-0">
                                    <div class="col-md-2 p-0">
                                        <span class="form-group pull-left page-size form-inline">
                                            <b>Records per page : &nbsp;&nbsp;</b>
                                            <select id="ddlPOPageSize" class="form-control control-color"
                                                    ng-model="POPageSize"
                                                    ng-change="POChangePageSize()">
                                                <option value="100000">All</option>
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-md-8 pull-right p-0">
                                        <div class="row p-0">
                                            <div class="col-md-10 p-0">
                                                <pagination total-items="POTotalCount" ng-change="POPageChanged()" items-per-page="POPageSize" direction-links="true" ng-model="POPageIndex" max-size="maxsize" class="pagination pull-right" boundary-links="true" rotate="false" num-pages="PONumPages"></pagination>
                                            </div>
                                            <div class="col-md-2 p-0">
                                                <a class="btn btn-primary p-2 pull-right">Page: {{POPageIndex}} / {{PONumPages}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        window.FetchPODetailsList = '@Url.Action("FetchPODetailsList", "MRM")';
        window.PODetailsPopup = '@Url.Action("PODetailsPopup", "MRM")';
        window.POTableDetails = '@Url.Action("GetPOTableDetails", "MRM")';
        window.GetPRDetailsFromPRSetNo = '@Url.Action("GetPRTableDetails", "MRM")';
        window.SavePODetailsList = '@Url.Action("SavePODetailsList", "MRM")';
        window.CreateDocumentForPO = '@Url.Action("CreateDocumentForPO", "MRM")';
        window.DeleteVendorPODetails = '@Url.Action("DeleteVendorPODetails", "MRM")';
        window.GetSuppliers = '@Url.Action("GetSuppliers", "MRM")';
        window.GetRMCategories = '@Url.Action("GetRMCategories", "MRM")';
        window.GetDeliveryDates = '@Url.Action("GetDeliveryDates", "MRM")';

        $('#POSearchVendorTypeId').chosen({
            width: "210px",
            placeholder_text_single: "Select Vendor Type Id",
            placeholder_text_multiple: "Select Vendor Type Id"
        });

        $('#POSearchSupplierId').chosen({
            width: "210px",
            placeholder_text_single: "Select Supplier Id",
            placeholder_text_multiple: "Select Supplier Ids"
        });

        $('#POSearchRMCategory').chosen({
            width: "210px",
            placeholder_text_single: "Select RMCategory",
            placeholder_text_multiple: "Select RMCategory"
        });

        $('#POSearchDeliveryDate').chosen({
            width: "210px",
            placeholder_text_single: "Select Delivery Date",
            placeholder_text_multiple: "Select Delivery Date"
        });


        $("#POSearchVendorTypeId").chosen().change(
            function POGetSupplierIds() {
                var vendorTypeId = $('#POSearchVendorTypeId').val();

                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: window.GetSuppliers,
                    data: { VendorTypeId: vendorTypeId },
                    success: function (res) {
                        if (res.length > 0) {
                            $("#POSearchSupplierId").empty();
                            $.each(res, function (i, item) {
                                $("#POSearchSupplierId").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                                $("#POSearchSupplierId").trigger("chosen:updated");
                            })
                        }
                    },
                    error: function () {
                        alert(result)
                    }
                });
            }
        );


        $('#POSearchSupplierId').chosen().change(
            function POGetPORMCategories() {
                var SupplierId = '';
                var x = document.getElementById("POSearchSupplierId");
                for (var i = 0; i < x.options.length; i++) {
                    if (x.options[i].selected == true) {
                        //alert(x.options[i].value);
                        SupplierId = SupplierId + x.options[i].value + ',';
                    }
                }

                //VendorId = VendorId.slice(0, -1);
                SupplierId = SupplierId.substring(0, SupplierId.length - 1);

                //var SupplierId = $('#PRSearchSupplierId').val();

                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: window.GetRMCategories,
                    data: { SupplierId: SupplierId },
                    success: function (res) {
                        if (res.length > 0) {
                            $("#POSearchRMCategory").empty();
                            $.each(res, function (i, item) {
                                $("#POSearchRMCategory").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                                $("#POSearchRMCategory").trigger("chosen:updated");
                            })
                        }
                    },
                    error: function (result) {
                        alert(result)
                    }
                });
            }
        )


        //$('#POSearchRMCategory').chosen().change(
        //    function POGetPODeliveryDates() {

        //        var RMCategory = '';
        //        var x = document.getElementById("POSearchRMCategory");
        //        for (var i = 0; i < x.options.length; i++) {
        //            if (x.options[i].selected == true) {
        //                //alert(x.options[i].value);
        //                RMCategory = RMCategory + x.options[i].value + ',';
        //            }
        //        }

        //        //VendorId = VendorId.slice(0, -1);
        //        RMCategory = RMCategory.substring(0, RMCategory.length - 1);

        //        //var RMCategory = $('#PRSearchRMCategory').val();
        //        //var RMCategory = $('#PRSearchRMCategory option:selected').text();

        //        return $.ajax({
        //            contentType: 'application/json; charset=utf-8',
        //            dataType: 'json',
        //            type: 'GET',
        //            url: window.GetDeliveryDates,
        //            data: { RMCategory: RMCategory },
        //            success: function (res) {
        //                if (res.length > 0) {
        //                    $("#POSearchDeliveryDate").empty();
        //                    $.each(res, function (i, item) {
        //                        $("#POSearchDeliveryDate").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
        //                        $("#POSearchDeliveryDate").trigger("chosen:updated");
        //                    })
        //                }
        //            },
        //            error: function (result) {
        //                alert(result)
        //            }
        //        });
        //    }

        //)

        $('#btnClearSearchPO').click(
            function ClearFields() {
                $('#POSearchVendorTypeId').val('');
                $("#POSearchVendorTypeId").trigger("chosen:updated");
                $('#POSearchSupplierId').val('');
                $("#POSearchSupplierId").trigger("chosen:updated");
                $('#POSearchRMCategory').val('');
                $("#POSearchRMCategory").trigger("chosen:updated");
                $('#POSearchDeliveryDateFrom').val('');
                $('#POSearchDeliveryDateTo').val('');
            }
        );

    });

    var DeptName = '@ViewBag.DeptName';

    if (DeptName != 'Management') {
        $('#btnPRPDetails').show();
    }
    else {
        $('#btnPRPDetails').hide();
        }


function CreateDocumentForPODetail(e) {
    
    var PRSetNo = e.value;
    ShowLoadder();
    $.ajax({
        type: 'POST',
        url: window.CreateDocumentForPO,
        data: JSON.stringify({ PRSetNo: PRSetNo }),
        contentType: "application/json; charset=utf-8",
        success: function (data) {

            if (data.fileName != "") {
                console.log(data.fileName);
                HideLoadder();
            }
            else {
                alert(data.errorMessage);
                HideLoadder();
            }
        },
        error: function (x, e) {
            alert(data);
            HideLoadder();
        }
    })
}

    $('.NoEndDate').datepicker({
        format: 'mm-dd-yyyy',
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: '',
        orientation:'bottom'
    });

    $('.CurrentEndDate').datepicker({
        format: 'mm-dd-yyyy',
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: 'today',
        orientation: 'bottom'
    });


</script>
<script src="~/Areas/MRM/Scripts/PODetailPopUp.js"></script>
