
@{
    ViewBag.Title = "Purchase Order";
}

<div class="row mt-3">
    <table>
        <tr>
            <td>
                <button id="btnPODetails" type="button" class="btn btn-outline-primary btn-sm" ng-click="BindPODetailsPopup()"><i class="fa fa-plus"></i> <b>New Vendor PO</b></button>
            </td>
            <td>
                <label>Vendor Type</label>
            </td>
            <td>
                <label>Supplier ID</label>
            </td>
            <td>
                <label>RM Category</label>
            </td>
            <td>
                <label>Delivery Date</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                    @Html.DropDownList("VendorType", new SelectList(@ViewBag.ListVendorType, "DataStringValueField", "DataTextField", "Select"),
                               new
                               {
                                   @class = "form-control",
                                   @id = "POSearchVendorTypeId",
                                   ng_model= "POSearchVendorTypeId",
                                   @onchange="GetSupplierIds()"
                               })
                </td>
                <td>
                    @Html.DropDownList("SupplierId", new SelectList(@ViewBag.ListSupplierId, "DataStringValueField", "DataTextField", "Select"),
                               new
                               {
                                   @class = "form-control",
                                   @id = "POSearchSupplierId",
                                   ng_model = "POSearchSupplierId",
                                   @onchange = "GetPORMCategories()"
                               })
                </td>
                <td>
                    @Html.DropDownList("RMCategory", new SelectList(@ViewBag.ListRMCategory, "DataStringValueField", "DataTextField", "Select"),
                               new
                               {
                                   @class = "form-control",
                                   @id = "POSearchRMCategory",
                                   ng_model = "POSearchRMCategory",
                                   @onchange = "GetPODeliveryDates()"
                               })
                </td>
                <td>
                    @Html.DropDownList("DeliveryDate", new SelectList(@ViewBag.ListDeliveryDate, "DataStringValueField", "DataTextField", "Select"),
                            new
                            {
                                @class = "form-control",
                                @id = "POSearchDeliveryDate",
                                ng_model = "POSearchDeliveryDate"
                            })
                </td>
            <td></td>
            <td>
                <button class="btn btn-link" type="button" id="btnSearch" ng-click="FetchPODetailsList()">
                    <i class="fa fa-search"></i>
                </button>
            </td>
        </tr>
    </table>

    <div class="row mt-1">
        <div class="col-md-12">
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <table>
                <thead class="tblhead">
                    <tr>
                        <th>
                            Action
                            <div class="c1">
                                Action
                            </div>
                        </th>
                        <th>
                            PO No
                            <div class="c2">
                                PO No
                            </div>
                        </th>
                        <th>
                            PO Date
                            <div class="c2">
                                PO Date
                            </div>
                        </th>
                        <th>
                            Work No
                            <div class="c2">
                                Work No
                            </div>
                        </th>
                        <th>
                            Delivery Date
                            <div class="c2">
                                Delivery Date
                            </div>
                        </th>
                        <th>
                            POValidity
                            <div class="c2">
                                POValidity
                            </div>
                        </th>
                        <th>
                            Download
                            <div class="c2">
                                Download
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="L in POList">
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="VIEW" ng-click="LoadVendorPOViewPopup(L.POSetno)">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="EDIT" ng-click="LoadVendorPOEditPopup(L.POSetno)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="DELETE" ng-click="DeleteVendorPODetails(L.POSetno)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        <td>
                            {{L.PONo}}
                        </td>
                        @*<td>
                            {{L.PRSetno}}
                        </td>*@
                        <td>
                            {{L.POdate}}
                        </td>
                        <td>
                            {{L.WorkNo}}
                        </td>
                        <td>
                            {{L.DeliveryDate}}
                        </td>
                        <td>
                            {{L.POValidity}}
                        </td>
                        <td>
                            <button class="btn btn-link btn-sm" value="{{L.POSetno}}" onclick="CreateDocumentForPODetail(this)">
                                <img src="~/Images/excel.png" height="30px" />
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <div class="c1">
                                <div class="row p-0">
                                    <div class="col-md-2 p-0">
                                        <span class="form-group pull-left page-size form-inline">
                                            <b>Records per page : &nbsp;&nbsp;</b>
                                            <select id="ddlPOPageSize" class="form-control control-color"
                                                    ng-model="POPageSize"
                                                    ng-change="POChangePageSize()">
                                                <option value="100000">All</option>
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-md-8 pull-right p-0">
                                        <div class="row p-0">
                                            <div class="col-md-10 p-0">
                                                <pagination total-items="POTotalCount" ng-change="POPageChanged()" items-per-page="POPageSize" direction-links="true" ng-model="POPageIndex" max-size="maxsize" class="pagination pull-right" boundary-links="true" rotate="false" num-pages="PONumPages"></pagination>
                                            </div>
                                            <div class="col-md-2 p-0">
                                                <a class="btn btn-primary p-2 pull-right">Page: {{POPageIndex}} / {{PONumPages}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        window.FetchPODetailsList = '@Url.Action("FetchPODetailsList", "MRM")';
        window.PODetailsPopup = '@Url.Action("PODetailsPopup", "MRM")';
        window.POTableDetails = '@Url.Action("GetPOTableDetails", "MRM")';
        window.GetPRDetailsFromPRSetNo = '@Url.Action("GetPRTableDetails", "MRM")';
        window.SavePODetailsList = '@Url.Action("SavePODetailsList", "MRM")';
        window.CreateDocumentForPO = '@Url.Action("CreateDocumentForPO", "MRM")';
        window.DeleteVendorPODetails = '@Url.Action("DeleteVendorPODetails", "MRM")';
        window.GetSuppliers = '@Url.Action("GetSuppliers", "MRM")';
        window.GetRMCategories = '@Url.Action("GetRMCategories", "MRM")';
        window.GetDeliveryDates = '@Url.Action("GetDeliveryDates", "MRM")';

    });

    var DeptName = '@ViewBag.DeptName';

    if (DeptName != 'Management') {
        $('#btnPRPDetails').show();
    }
    else {
        $('#btnPRPDetails').hide();
        }


function CreateDocumentForPODetail(e) {

    var PRSetNo = e.value;

    $.ajax({
        type: 'POST',
        url: window.CreateDocumentForPO,
        data: JSON.stringify({ PRSetNo: PRSetNo }),
        contentType: "application/json; charset=utf-8",
        success: function (data) {

            if (data.fileName != "") {
                console.log(data.fileName);
            }
            else {
                alert(data.errorMessage);
            }
        },
        error: function (x, e) {
            alert(data);
        }
    })
}

</script>
<script src="~/Areas/MRM/Scripts/PODetailPopUp.js"></script>
