@model NtierMvc.Model.MRM.PRDetailEntity
@{
    ViewBag.Title = "Purchase Requisition";
}

<div class="row mt-3">
    <table>
        <tr>
            <td>
                <button id="btnPRPDetails" type="button" class="btn btn-outline-primary btn-sm" ng-click="BindPRDetailsPopup()"><i class="fa fa-plus"></i> <b>PR Details</b></button>
            </td>
            <td>
                <label>Vendor Type</label>
            </td>
            <td>
                <label>Supplier ID</label>
            </td>
            <td>
                <label>RM Category</label>
            </td>
            <td>
                <label>Delivery Date</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.DropDownList("VendorType", new SelectList(@ViewBag.ListVendorType, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchVendorTypeId"
                           })
            </td>
            <td>
                @Html.DropDownList("SupplierId", new SelectList(@ViewBag.ListSupplierId, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchSupplierId"
                           })
            </td>
            <td>
                @Html.DropDownList("RMCategory", new SelectList(@ViewBag.ListRMCategory, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchRMCategory"
                           })
            </td>
            <td>
                @Html.DropDownList("DeliveryDate", new SelectList(@ViewBag.ListDeliveryDate, "DataStringValueField", "DataTextField", "Select"),
                                           new
                                           {
                                               @class = "form-control",
                                               ng_model = "SearchDeliveryDate"
                                           })
            </td>
            <td></td>
            <td>
                <button class="btn btn-link" type="button" id="btnSearch" ng-click="FetchPRDetailsList()">
                    <i class="fa fa-search"></i>
                </button>
            </td>
        </tr>
    </table>

    <div class="row mt-1">
        <div class="col-md-12">
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <table>
                <thead class="tblhead">
                    <tr>
                        <th>
                            Action
                            <div class="c3">
                                Action
                            </div>
                        </th>
                        <th>
                            PR No
                            <div class="c3">
                                PR No
                            </div>
                        </th>
                        <th>
                            PR Date
                            <div class="c2">
                                PR Date
                            </div>
                        </th>
                        <th>
                            Required From
                            <div class="c2">
                                Required From
                            </div>
                        </th>
                        <th>
                            Supplier Name
                            <div class="c2">
                                Supplier Name
                            </div>
                        </th>
                        <th>
                            Delivery Date
                            <div class="c2">
                                Delivery Date
                            </div>
                        </th>
                        <th>
                            Total PR Price
                            <div class="c2">
                                Total PR Price
                            </div>
                        </th>
                        <th>
                            Status
                            <div class="c2">
                                Status
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="L in PRPList">
                        <td>
                            <button id="btnViewPRDetails" ng-if="(((L.Status =='Approve1' || L.Status =='Approve2' || L.Status =='Reject1' || L.Status =='Reject2') && L.DeptName != 'Finance') || (L.Status =='Entry' && (L.DeptName == 'Management' || L.DeptName == 'Stores')))" type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="VIEW" ng-click="LoadPRDetailsViewPopup(L.PRSetno)">
                                <i class="fa fa-eye"></i>
                            </button>

                            <button id="btnEditPRDetails" ng-if="((L.Status =='Entry' || L.Status =='Reject1' || L.Status =='Reject2') && (L.DeptName == 'Finance'))" type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="EDIT" ng-click="LoadPRDetailsEditPopup(L.PRSetno)">
                                <i class="fa fa-pen"></i>
                            </button>
                        </td>
                        <td>
                            {{L.PRno}}
                        </td>
                        <td>
                            {{L.PRdate}}
                        </td>
                        <td>
                            {{L.ReqFrom}}
                        </td>
                        <td>
                            {{L.ApprovedSupplier1}}
                        </td>
                        <td>
                            {{L.DeliveryDate}}
                        </td>
                        <td>
                            {{L.TotalPRSetPrice}}
                        </td>
                        <td>
                            {{L.Status}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <div class="c1">
                                <div class="row p-0">
                                    <div class="col-md-2 p-0">
                                        <span class="form-group pull-left page-size form-inline">
                                            <b>Records per page : &nbsp;&nbsp;</b>
                                            <select id="ddlPRPageSize" class="form-control control-color"
                                                    ng-model="PRPageSize"
                                                    ng-change="PRChangePageSize()">
                                                <option value="100000">All</option>
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-md-8 pull-right p-0">
                                        <div class="row p-0">
                                            <div class="col-md-10 p-0">
                                                <pagination total-items="PRPTotalCount" ng-change="PRPageChanged()" items-per-page="PRPageSize" direction-links="true" ng-model="PRPageIndex" max-size="maxsize" class="pagination pull-right" boundary-links="true" rotate="false" num-pages="PRNumPages"></pagination>
                                            </div>
                                            <div class="col-md-2 p-0">
                                                <a class="btn btn-primary p-2 pull-right">Page: {{PRPageIndex}} / {{PRNumPages}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script src="~/Areas/MRM/Scripts/PRDetailPopUp.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        window.FetchPRDetailsList = '@Url.Action("FetchPRDetailsList", "MRM")';
        window.PRDetailsPopup = '@Url.Action("PRDetailPopup", "MRM")';
        window.GetPRTableDetails = '@Url.Action("GetPRTableDetails", "MRM")';
        window.SavePRDetailsList = '@Url.Action("SavePRDetailsList", "MRM")';

    });

    var DeptName = '@ViewBag.DeptName';

    if (DeptName != 'Management') {
        $('#btnPRPDetails').show();
    }
    else {
        $('#btnPRPDetails').hide();
    }

</script>

