@model NtierMvc.Model.EnquiryEntity

@{
    ViewBag.Title = "EnquiryDetails";
}

<div ng-controller="ModalController">
    <form id="formSaveEnquiryDetail">
        @Html.HiddenFor(m => m.EnquiryId)
        <div class="row">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label class="control-label">
                        User Initial
                    </label>
                    @Html.TextBoxFor(m => m.UserInitial, new
               {
                   @class = "form-control requiredValidation",
                   @id = "UserInitial",
                   @readonly = "readonly"
               })
                    @Html.HiddenFor(m => m.UnitNo)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Enquiry Type <span class="required">*</span>
                    </label>
                    @Html.DropDownListFor(m => m.EnqTypeId, new SelectList(@ViewBag.ListQuoteType, "DataStringValueField", "DataTextField", "Select"),
                    new
                    {
                        @class = "form-control requiredValidation",
                        @id = "EDEnquiryType",
                        @name = "EDEnquiryType",
                        @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                        @onchange = "GetQuoteNumberForEnquiry()"
                    })
                    <span class="HideValidMsg">Please Enter QuoteType</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Customer ID <span class="required">*</span></label>
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.CustomerId, new SelectList(ViewBag.ListCustomerId, "DataStringValueField", "DataTextField", Model.CustomerId), new
                   {
                       id = "EDCustomerId",
                       @class = "form-control requiredValidation",
                       data_id = "EDCustomerId",
                       data_select = "EDCustomerId",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                       @onchange = "GetVendorDetailsForEnquiry()"
                   })
                        <span class="HideValidMsg">Please Select Customer ID</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Customer Name
                    </label>
                    @Html.TextBoxFor(m => m.CustomerName, new
               {
                   @class = "form-control requiredValidation",
                   @id = "EDCustomerName",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                   @readonly = "readonly"
               })
                    <span class="HideValidMsg">Please Select Customer ID</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        City
                    </label>
                    @Html.TextBoxFor(m => m.City, new
               {
                   @class = "form-control requiredValidation",
                   @id = "City",
                   @placeholder = "Select Customer ID",
                   @readonly = "readonly"
               })
                    <span class="HideValidMsg">Please Select Customer ID</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        State
                    </label>
                    @Html.TextBoxFor(m => m.State, new
               {
                   @class = "form-control requiredValidation",
                   @id = "State",
                   @placeholder = "Select Customer ID",
                   @readonly = "readonly"
               })
                    @Html.HiddenFor(m => m.StateId)
                    <span class="HideValidMsg">Please Select Customer ID</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Country <span class="required">*</span>
                    </label>
                    @Html.TextBoxFor(m => m.Country, new
               {
                   @class = "form-control requiredValidation",
                   @id = "Country",
                   @placeholder = "Select Customer ID",
                   @readonly = "readonly"
               })
                    @Html.HiddenFor(m => m.CountryId)
                    <span class="HideValidMsg">Please Select Customer ID</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Enquiry Reference <span class="required">*</span>
                    </label>
                    @Html.TextBoxFor(m => m.EnqRef, new
               {
                   @class = "form-control requiredValidation",
                   @id = "EnqRef",
                   @placeholder = "Enquiry Reference"
               })
                    <span class="HideValidMsg">Please Enter Enquiry Reference</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Enquiry Date
                    </label>
                    @Html.TextBoxFor(m => m.EnqDt, new
               {
                   @class = "form-control requiredValidation ApprovalEnqDate",
                   @id = "EnqDt",
                   autocomplete = "off",
                   @placeholder = "dd/MM/yyyy",
                   @style = "disabled :disabled",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
               })
                    <span class="HideValidMsg">Please Select Enquiry Date</span>
                </div>
            </div>
            @*<div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Enquiry Type</label>
                <div class="m-radio-inline">
                    @Html.TextBoxFor(m => m.EnqType, new
                   {
                       @class = "form-control requiredValidation",
                       @id= "EnqType",
                       @placeholder = "Select Customer Name",
                       @readonly = "readonly",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                   })
                </div>
                <span class="HideValidMsg">Please Select Enquiry Type</span>
                @Html.TextBoxFor(m => m.EnqTypeId, new { ng_model = "EnqTypeId", @hidden = "hidden" })
            </div>
        </div>*@
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Due Date
                    </label>
                    @Html.TextBoxFor(m => m.DueDate, new
               {
                   @class = "form-control requiredValidation CalenderDisablePastDate",
                   @id = "DueDate",
                   @placeholder = "dd/MM/yyyy",
                   @style = "disabled :disabled",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
               })
                    <span class="HideValidMsg">Please Select Due Date</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Enquiry Receipt Date
                    </label>
                    @Html.TextBoxFor(m => m.EnqReceiptDate, new
               {
                   @class = "form-control requiredValidation ApprovalEnqDate",
                   @id = "DueDate",
                   @placeholder = "dd/MM/yyyy",
                   @style = "disabled :disabled",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
               })
                <span class="HideValidMsg">Please Select Enquiry Receipt Date</span>
                </div>
            </div>
            @*<div class="col-md-4">
            <div class="form-group">
                <label class="control-label">
                    Main Product Group
                </label>
                @Html.DropDownListFor(m => m.MainProdGrp, new SelectList(ViewBag.ListMainProdGrp, "DataStringValueField", "DataTextField", Model.MainProdGrp),
                   new
                   {
                       @class = "form-control requiredValidation",
                       @id = "MainProdGrp",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                       @onchange = "GetSubProductGrps()"
                   })
                <span class="HideValidMsg">Please Select Main Product Group</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">
                    Sub Product Group
                </label>
                @Html.DropDownListFor(m => m.SubProdGrp, new SelectList(ViewBag.ListSubProdGrp, "DataStringValueField", "DataTextField", Model.SubProdGrp),
                   new
                   {
                       @class = "form-control requiredValidation",
                       @id = "SubProdGrp",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                       @onchange = "GetProdName()"
                   })
                <span class="HideValidMsg">Please Select Sub Product Group</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">
                    Product Name
                </label>
                @Html.DropDownListFor(m => m.ProdName, new SelectList(ViewBag.ListProdName, "DataStringValueField", "DataTextField", Model.ProdName),
                   new
                   {
                       @class = "form-control requiredValidation",
                       @id = "ProdName",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                   })
                <span class="HideValidMsg">Please Select Product Name</span>
            </div>
        </div>*@
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Enquiry For
                    </label>
                    @Html.TextBoxFor(m => m.EnqFor, new
               {
                   @class = "form-control requiredValidation",
                   @id = "EnqFor",
                   @placeholder = "Enquiry For",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
               })
                    <span class="HideValidMsg">Please Select Enquiry Date</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Expression of Quote(EOQ) <span class="required">*</span>
                    </label>
                    @Html.DropDownListFor(m => m.Eoq, new SelectList(@ViewBag.ListEOQ, "DataValueField", "DataTextField", Model.Eoq),
                    new
                    {
                        @class = "form-control requiredValidation",
                        @id = "Eoq",
                        @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                        @onchange = "ShowHideReasonForRegret()"
                    })
                    <span class="HideValidMsg">
                        Please Select Expression of Quote(EOQ)
                    </span>
                </div>
            </div>
            <div id="divReasonForRegret" class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Reason For Regret
                    </label>
                    @Html.TextBoxFor(m => m.ReasonForRegret, new
               {
                   @class = "form-control",
                   @id = "ReasonForRegret",
                   @placeholder = "Reason For Regret"
               })
                    <span class="HideValidMsg">Please Select Reason for Regret</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Lead Time
                    </label>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.LeadTime, new
                       {
                           @class = "form-control",
                           @id = "LeadTime",
                           @placeholder = "Lead Time"
                       })
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.LeadTimeDuration, new SelectList(@ViewBag.ListLeadTimeDuration, "DataValueField", "DataTextField", Model.LeadTimeDuration),
                    new
                    {
                        @class = "form-control",
                        @id = "LeadTimeDuration"
                    })
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        End User
                    </label>
                    @Html.TextBoxFor(m => m.EndUser, new
               {
                   @class = "form-control",
                   @id = "EndUser",
                   @placeholder = "End User"
               })
                    <span class="HideValidMsg">Please Select End User</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Api Monogram Requirement
                    </label>
                    @Html.DropDownListFor(m => m.ApiMonogramRequirement, new SelectList(@ViewBag.API, "DataValueField", "DataTextField", Model.ApiMonogramRequirement),
                   new
                   {
                       @class = "form-control requiredValidation",
                       @id = "ApiMonogramRequirement",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                   })
                    <span class="HideValidMsg">Please Select Api Monogram Requirement</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Mode of enquiry
                    </label>
                    @Html.DropDownListFor(m => m.EnqMode, new SelectList(@ViewBag.ListEnqMode, "DataValueField", "DataTextField", Model.EnqMode),
                    new
                    {
                        @class = "form-control requiredValidation",
                        @id = "EnqMode",
                        @data_inneraction = "validationCall",
                        @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                    })
                    <span class="HideValidMsg">
                        Please Enter Mode of enquiry
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Enquiry Through
                    </label>
                    @Html.DropDownListFor(m => m.EnqThru, new SelectList(@ViewBag.ListEnqThru, "DataValueField", "DataTextField", Model.EnqThru),
                    new
                    {
                        @class = "form-control requiredValidation",
                        @id = "EnqThru",
                        @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                        @onchange = "AgentShowHide()"
                    })
                    <span class="HideValidMsg">Please Select Enquiry Through</span>
                </div>
            </div>
            <div id="divAgentName" class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Agent Name
                    </label>
                    @Html.TextBoxFor(m => m.AgentName,
                   new
                   {
                       @class = "form-control",
                       @id = "AgentName",
                       @placeholder = "Agent Name"
                   })
                    <span class="HideValidMsg">Please Select Agent Name</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        BG Required
                    </label>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.EnqBGreq, new SelectList(@ViewBag.YesNo, "DataValueField", "DataTextField", Model.EnqBGreq),
                            new
                            {
                                @class = "form-control",
                                @id = "EnqBGreq",
                                @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                            })
                        </div>
                    </div>
                    <span class="HideValidMsg">Please Select Letter Date</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Remarks
                    </label>
                    @Html.TextBoxFor(m => m.Remarks, new
               {
                   @class = "form-control",
                   @id = "Remarks",
                   @placeholder = "Remarks"
               })
                    <span class="HideValidMsg">Please Select Remarks</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-4 text-center">
                <input style="font-size:18px" type="button" class="btn btn-success btn-sm btn-save-EnquiryDetails" id="save_results" ng-click="SaveEnquiry()" value="Save" />
                <input style="font-size:18px" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" value="Close" />
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {

        window.SaveEnquiry = '@Url.Action("SaveEnquiryDetails", "Technical")';
        window.VendorDetailForEnquiry = '@Url.Action("GetVendorDetailForEnquiry", "Technical")';
        window.VendorDetail = '@Url.Action("GetQuoteVendorDetail", "Technical")';
        window.GetDeliveryItems = '@Url.Action("GetDeliveryItems", "Technical")';
        window.GetSubProdGrp = '@Url.Action("GetSubProdGrp", "Technical")';
        window.GetProdNames = '@Url.Action("GetProdName", "Technical")';

    });

    setTimeout(function () { AgentShowHide() }, 500);

    //LEASE DATE AND EXP LEASE DATE VALIDATION
    $('.ApprovalDate').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: '',
    });

    $('.ApprovalEnqDate').datepicker({

        format: 'dd-mm-yyyy',
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: 'today',
    });

    var date = new Date();
    $('.CalenderDisablePastDate').datepicker({

        format: 'dd-mm-yyyy',
        startDate: date,
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: ''
    });

</script>