@using NtierMvc.Model
@model NtierMvc.Model.ContractReview

<style type="text/css">
    table.tableizer-table {
        font-size: 16px;
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
    }

    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #CCC;
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
        line-height: 20px;
    }
</style>

<div ng-controller="ModalController">

    <form id="formSaveContractReview">

        <div class="row m--padding-10 ">
            <div class="col-md-6">
                <div class="row m--padding-10">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                Customer Name
                            </div>
                            <div class="col-md-3">
                                Country
                            </div>
                            <div class="col-md-3">
                                ENQ No
                            </div>
                            <div class="col-md-3">
                                Item No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.Customer, new SelectList(ViewBag.ListCustomer, "DataStringValueField", "DataTextField", Model.Customer), new
                           {
                               @class = "form-control requiredValidation clearField",
                               @id = "CRCustomer",
                               @data_inneraction = "validationCall",
                               @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                           })
                                <span class="HideValidMsg"> Select Customer</span>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Country, new
                           {
                               @class = "form-control requiredValidation",
                               @id = "CRCountry",
                               @readonly = "readonly"
                           })
                                <span class="HideValidMsg">Select Customer</span>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.ENQNo, new SelectList(ViewBag.ListENQNo, "DataStringValueField", "DataTextField", Model.ENQNo), new
                           {
                               @class = "form-control requiredValidation clearField",
                               @id = "CRENQNo",
                               @data_inneraction = "validationCall",
                               @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                           })
                                <span class="HideValidMsg">Select ENQ No</span>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.ItemNo, new SelectList(ViewBag.ListItemNo, "DataStringValueField", "DataTextField", Model.ItemNo), new
                           {
                               @class = "form-control requiredValidation clearField",
                               @id = "CRItemNo",
                               @data_inneraction = "validationCall",
                               @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                               @multiple = "true"
                           })
                                <span class="HideValidMsg">Select Item No</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <button type="button" id="btnContractReview" class="btn btn-sm btn-primary" onclick="getContractReviewDetails()">Get Report</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>

            @*<table class="table table-hover tableizer-table">
                    <thead>
                        <tr>
                            <th style="width:10%">Product Descriptions/ Review requirements</th>
                            <th>Enquiry Stage</th>
                            <th>Mackeral Proposal</th>
                            <th>CCD No.</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <h2> SALES & MARKETING </h2>
                            </td>
                        </tr>
                        <tr>
                            <td>1 Product Descriptions/ Specification</td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>2 Material Grade</td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                3 "Product Specification Level <br />
                                (PSL-1 or PSL-2 or PSL-3)"
                            </td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>4 Size</td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>5 Thread Type</td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>6 Bottom End Connection</td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>7 Top End Connection</td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>8 PPF</td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>9 Quantity</td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>10 Length</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>11 Shipping Instruction</td>
                            <td>&nbsp;</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>12 Feasibility of Product </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>13 Delivery Lead Time</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>14 Offer Validity</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>15 Packing Type</td>
                            <td>&nbsp;</td>
                            <td>As per MOT/STR/WI/03 Or As per customer requirement</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>16 Special Requirements if any</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>17 Payment Terms</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>18 Bank Guarantee if any</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>19 Any Legal and Other Requirement</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>20 Delivery mode:</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <h2>DESIGN & DEVELOPMENT</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>1 Availability of Drawings</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>2 Product Specification</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>3 Details given by Customer which are necessary for product</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>4 Requirements are necessary but not specified by the customer</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>5 Constraints and limitations</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>6 Applicable product specs or other standards</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>7 Testing and validation</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>8 Feasibility of Product</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>9 Additional Requirement</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <h2>RAW MATERIAL REQUIREMENT</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>1 Raw Material Specification (Grade, Type & Dimension)</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>2 Availability of Raw Material</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>3 Time Required for Raw material procurement</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>4 Supplier Availability</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>5 Additional Requirement</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="5">
                                <h2>MANUFACTURING / SERVICE ADEQUACY</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1 "Requirement of resources and work environment management <br />
                                a) Machine Availability <br />
                                b) Man power <br />
                                c) Material <br />
                                d) Design/ Drawing <br />
                                e) Vendor <br />
                                f) Testing Facility <br />
                                g)  Tooling, jigs & fixture, Die <br />
                                h) Availability of Monitoring & Measuring Instrument <br />
                                i) Outsource Processes and activities"
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>2 Product and customer-specified requirements</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>3 Requirements are necessary but not specified by the customer</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>4 Contingencies based on risk assessment</td>
                            <td>&nbsp;</td>
                            <td>As per Procedures and Records MOT/QSP/09 REV. 04 & MOT/F/MR/17 Rev. 00</td>
                            <td></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>5 Management of Change </td>
                            <td>&nbsp;</td>
                            <td>As per Procedures and Records MOT/QSP/23 REV. 04 & MOT/F/MR/10 Rev. 02</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>6 "Required verification, validation, monitoring, measurement, inspection, and test activities specific to the product and the criteria for product acceptance <br />
                            a) verification <br />
                            b) validation <br />
                            c) measurement <br />
                            d) inspection <br />
                            e) test activities specific <br />
                            <td></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>7 Organization Capabilities to meet the above mentioned requirement</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>8 Feasibility of Product</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>9 Any applicable requirement</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="6">Quality Review Product realization activities (Verification / validation / Inspection and Testing / monitoring & Measurement)</td>
                        </tr>
                        <tr>
                            <td>1 Material Test Report (Mill & NABL)</td>
                            <td>&nbsp;</td>
                            <td>Mill and NABL</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>2 Charpy Impact Test at the required temperature</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>3 Chemical Testing</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>4 Yield Testing</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>5 Tensile Test</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>6 Hardness Required</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>7 Heat Treatment</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>8 Load Testing</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>9 Assembly / Pressure Testing</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>10 NDT Testing</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>11 Coating Type & Thickness</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>12 Surface preparation</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>13 Dimensional Inspection</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>14 Third Party Inspection(TPI)</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>15 Marking Requirements</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>16 Documentation</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>17 Any Other Customer Specified Requirements</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>18 Risk Assessment & Opportunities</td>
                            <td>&nbsp;</td>
                            <td>As per Procedures and Records MOT/QSP/07 Rev. 03 & MOT/F/MR/18 Rev.02</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>19 Sulphide Stress Cracking Test- Grades C90 and T95</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>20 Sulphide Stress Cracking Test and Test Solution-Grade C110</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>21 Availability of Monitoring & Measuring Instrument</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>22 Outsource Processes and activities</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>23 Testing and validation</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <h2>POST PO /CONTRACT REWARD PROCESS</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>1 Is the name and address of the customer mentioned correctly in PO / Contract?</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>2 Are the requirements are identified and documented correctly and as per enquiry / tender ?</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>3 Is the description of the item mentioned correctly & as per enquiry / tender ?</td>

                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>4 Is the project details / scope of work mentioned correctly & as per enquiry / tender ?</td>

                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>5 Is the requirements differing from those previously identified are resolved and mentioned correctly in the P.O?</td>

                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>6 Is the value mentioned correctly as per offer?</td>

                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>7 Is the validity of the order mentioned?</td>

                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>8 Is the delivery terms mentioned?</td>

                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>9 Is there of the clarification / amendment required?</td>

                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>*@
        </div>
        <div class="row">
            <div class="col-md-6">
                <input class="btn btn-success" type="button" id="btnSaveListings" value="Save" ng-click="SaveCRListings()" />
            </div>
            <div class="col-md-6">

            </div>
        </div>

    </form>

</div>

<script type="text/javascript">

    $(document).ready(function () {

        window.GetOrderNote = '@Url.Action("GetOrderNote", "Technical")';
        window.SaveContractReviewDetails = '@Url.Action("SaveContractReviewDetails", "Technical")';
        window.GetEnqNo = '@Url.Action("GetEnqNo", "Technical")';
        window.GetCountry = '@Url.Action("GetCountry", "Technical")';
        window.GetItemNosForEnqs = '@Url.Action("GetItemNosForEnqs", "Technical")';
        window.GetExcelForContractReview = '@Url.Action("GetExcelForContractReview", "Technical")';
        window.DownloadDoc = '@Url.Action("Download", "Technical")';
    });



    $('#CRCustomer').chosen({
        width: "100%",
        placeholder_text_single: "Select Customer"
    });

    $('#CRENQNo').chosen({
        width: "100%",
        placeholder_text_single: "Select Enq No"
    });

    $('#CRItemNo').chosen({
        width: "100%",
        placeholder_text_single: "Select Item No",
        placeholder_text_multiple: "Select Item No"
    });

    $('#CRCustomer').chosen().change(
        function GetCountryAndEnqNo(element) {

            let Val = $('#CRCustomer').val();

            $.ajax({
                type: 'POST',
                url: window.GetEnqNo,
                data: JSON.stringify({ val: Val }),
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    $("#CRENQNo").empty();
                    if (res.length > 0) {
                        $.each(res, function (i, item) {
                            $("#CRENQNo").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                            $("#CRENQNo").trigger("chosen:updated");
                        })
                    }
                },
                error: function (x, e) {
                    alert('Some error is occurred, Please try after some time.');
                }
            })


            $.ajax({
                type: 'POST',
                url: window.GetCountry,
                data: JSON.stringify({ val: Val }),
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    $("#CRCountry").val(res);
                },
                error: function (x, e) {
                    alert('Some error is occurred, Please try after some time.');
                }
            })

        }
    )

    $('#CRENQNo').chosen().change(
    function GetItemNosForEnq() {

            let Val = $('#CRENQNo').val();

        $.ajax({
            type: 'POST',
            url: window.GetItemNosForEnqs,
            data: JSON.stringify({ EnqNo: Val }),
            contentType: "application/json; charset=utf-8",
            success: function (res) {
                $("#CRItemNo").empty();
                if (res.length > 0) {
                    $.each(res, function (i, item) {
                        $("#CRItemNo").append($('<option></option>').val(item.DataTextField).html(item.DataTextField));
                        $("#CRItemNo").trigger("chosen:updated");
                    })
                }
            },
            error: function (x, e) {
                alert('Some error is occurred, Please try after some time.');
            }
        })

    }
)

</script>


