
@model NtierMvc.Model.QuotationPreparationEntity

@*<script src="~/ang/PdfFile/pdfmake.js"></script>
    <script src="~/ang/PdfFile/vfs_fonts.js"></script>*@

<div ng-controller="ModalController">
    <form id="formSaveQuotationPrepDetail">

        @Html.HiddenFor(m => m.ViewPos1)
        @Html.HiddenFor(m => m.ViewPos2)
        @Html.HiddenFor(m => m.ViewPos3)
        @Html.HiddenFor(m => m.ViewPos4)
        @Html.HiddenFor(m => m.ViewPos5)
        @Html.HiddenFor(m => m.ViewPos6)
        @Html.HiddenFor(m => m.ViewPos7)
        @Html.HiddenFor(m => m.ViewPos8)
        @Html.HiddenFor(m => m.ViewPos9)
        @Html.HiddenFor(m => m.ViewPos10)

        <div class="row m--padding-10">
            <div class="col-md-6">
                <input style="font-size:18px" type="button" class="btn btn-success btn-sm" id="QPAddMasterItem" value="Add Master Item" ng-click="BindDescDetails()" />
            </div>
        </div>
        <div class="row m--padding-10">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group text-left">
                            <label class="control-label ">
                                Quote Type
                            </label>
                            @Html.DropDownListFor(m => m.QuoteType, new SelectList(ViewBag.ListQuoteType, "DataStringValueField", "DataTextField", Model.QuoteType), new
                                {
                                    @class = "form-control requiredValidation",
                                    @id = "QuotePrepFormType",
                                    @data_inneraction = "validationCall",
                                    @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                                    @onchange = "QPGetQuoteNos();"
                                })
                            <span class="HideValidMsg">Please Select Quote Type</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-left">
                            <label class="control-label ">
                                Quote Number
                            </label>
                            @Html.DropDownListFor(m => m.QuoteNo, new SelectList(ViewBag.ListQuoteNo, "DataStringValueField", "DataTextField", "Select"), new
                                {
                                    @class = "form-control requiredValidation",
                                    @id = "QuotePrepFormNo",
                                    @data_inneraction = "validationCall",
                                    @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                                    @onchange = "GetVendorDetailsForQuote()"
                                })
                            <span class="HideValidMsg">Please Select QuoteType</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group text-left">
                            <label class="control-label">
                                Main Product Line
                            </label>
                            @Html.DropDownListFor(m => m.MainProdGrp, new SelectList(@ViewBag.ListMainProdGrp, "DataStringValueField", "DataTextField", Model.MainProdGrp), new
                       {
                           @class = "form-control requiredValidation",
                           @id = "QuotePrepMainProdGrp",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                           ng_model = "MainProdGrp",
                           @onchange = "GetSubProductGrps('QuotePrep')"

                       })
                            <span class="HideValidMsg">Please Select Product Line</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Sub Product Line
                            </label>
                            @Html.DropDownListFor(m => m.SubProdGrp, new SelectList(ViewBag.ListSubProdGrp, "DataStringValueField", "DataTextField", Model.SubProdGrp),
                               new
                               {
                                   @class = "form-control requiredValidation",
                                   @id = "QuotePrepSubProdGrp",
                                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                                   @onchange = "GetProdName('QuotePrep')"
                               })
                            <span class="HideValidMsg">Please Select Sub Product Line</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Product Name
                            </label>
                            @Html.DropDownListFor(m => m.ProductName, new SelectList(@ViewBag.ProductNameList, "DataStringValueField", "DataTextField", Model.ProductName), new
                       {
                           @class = "form-control requiredValidation",
                           @id = "QuotePrepProductName",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                           @onchange = "GetProductNumberByName('QuotePrep');"

                       })
                            @*<select id="ProductName" name="ProductName" ng-model="ProductName" class="form-control requiredValidation clearField ng-pristine ng-untouched ng-valid ng-empty" onfocusout="return ValidateRequiredFieldsOnFocusOut(this)" ng-change="GetProductNumber(ProductName)">
                    <option data-ng-repeat="pN in ProductNameList" value="{{pN.DataStringValueField}}">{{pN.DataTextField}}</option>
                </select>*@
                            <span class="HideValidMsg">Please Select Product Name</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Product Number
                            </label>
                            @Html.TextBoxFor(m => m.ProductNo, new
                               {
                                   @class = "form-control requiredValidation",
                                   @style = "background-color : #fff",
                                   @id = "QuotePrepProductNo",
                                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                                   @readonly = "readonly"
                               })
                            <span class="HideValidMsg">Please Select Product Name</span>
                        </div>
                    </div>
                    @*<div class="col-md-6">
            <div class="form-group text-left">
                <label class="control-label">
                    Customer Name
                </label>
                @Html.TextBoxFor(m => m.CustomerName, new
               {
                   @class = "form-control requiredValidation",
                   @id = "QuotePrepVendorName",
                   @readonly = "readonly",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
               })

                <span class="HideValidMsg">Please Select Customer Name</span>
            </div>
        </div>*@

                    <div class="col-md-6">
                        <label class="control-label">
                            Item No
                        </label>

                        <div class="form-inline">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.Id)
                                @Html.TextBoxFor(m => m.ItemNo, new
                           {
                               @class = "form-control requiredValidation clearField",
                               @id = "QuotePrepItemNo",
                               @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                           })
                                <span class="HideValidMsg">Please Select ItemNo</span>
                            </div>
                            <input type="button" class="btn btn-default" value="Validate" onclick="ValidateItemNo()" />

                        </div>

                    </div>
                    @*<div class="col-md-6">
            <div class="form-group">
                <label class="control-label">
                    Enquiry Sr No
                </label>
                @Html.TextBoxFor(m => m.EnqSrNo, new
                   {
                       @class = "form-control clearField",
                       @id = "EnqSrNo"
                   })
                <span class="HideValidMsg">Please Select EnqSrNo</span>
            </div>
        </div>*@

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Casing Size
                            </label>
                            @Html.DropDownListFor(m => m.CasingSize, new SelectList(@ViewBag.CasingSize, "DataStringValueField", "DataTextField", Model.CasingSize), new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepCasingSize",
                           @onchange = "DisplayNewItemInDdl(this, 'Master.Taxonomy', 'CasingSize', 'DropDownValue'); GetDisplayFieldsForQuotePrep();"

                       })
                            <span class="HideValidMsg">Please Select Casing Size</span>
                        </div>
                    </div>
                    <div id="divCasingPpf" class="col-md-6 ShowHideFields" style="display:none">
                        <div class="form-group">
                            <label class="control-label">
                                Casing PPF
                            </label>
                            @Html.DropDownListFor(m => m.CasingPpf, new SelectList(ViewBag.CasingPpf, "DataStringValueField", "DataTextField", Model.CasingPpf), new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepCasingPpf",
                           @onchange = "DisplayNewItemInDdl(this, 'Master.Taxonomy', 'Ppf', 'DropDownValue')"

                       })
                            <span class="HideValidMsg">Please Select Casing Ppf</span>
                        </div>
                    </div>


                    <div id="divConnection" class="col-md-6 ShowHideFields" style="display:none">
                        <div class="form-group">
                            <label class="control-label">
                                Connection
                            </label>
                            @Html.DropDownListFor(m => m.Connection, new SelectList(@ViewBag.Connection, "DataStringValueField", "DataTextField", Model.Connection), new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepConnection",
                           @onchange = "DisplayNewItemInDdl(this, 'Master.Taxonomy', 'Connection', 'DropDownValue')"

                       })
                            <span class="HideValidMsg">Please Select Connection</span>
                        </div>
                    </div>
                    <div id="divMaterialGrade" class="col-md-6 ShowHideFields" style="display:none">
                        <div class="form-group">
                            <label class="control-label">
                                Material Grade
                            </label>
                            @Html.DropDownListFor(m => m.MaterialGrade, new SelectList(@ViewBag.MaterialGrade, "DataStringValueField", "DataTextField", Model.MaterialGrade), new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepMaterialGrade",
                           @onchange = "DisplayNewItemInDdl(this, 'Master.Taxonomy', 'MaterialGrade', 'DropDownValue')"

                       })
                            <span class="HideValidMsg">Please Select Material Grade</span>
                        </div>
                    </div>
                    <div id="divOpenHoleSize" class="col-md-6 ShowHideFields" style="display:none">
                        <div class="form-group">
                            <label class="control-label">
                                Open Hole Size
                            </label>
                            @Html.DropDownListFor(m => m.OpenHoleSize, new SelectList(ViewBag.ListOpenHoleSize, "DataStringValueField", "DataTextField", Model.OpenHoleSize), new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepOpenHoleSize"
                       })
                            <span class="HideValidMsg">Please Select Hole Size Range Inch</span>
                        </div>
                    </div>
                    <div id="divBallSize" class="col-md-6 ShowHideFields" style="display:none">
                        <div class="form-group">
                            <label class="control-label">
                                Ball Size
                            </label>
                            @Html.DropDownListFor(m => m.BallSize, new SelectList(ViewBag.ListBallSize, "DataStringValueField", "DataTextField", Model.BallSize), new
                                {
                                    @class = "form-control clearField ",
                                    @id = "QuotePrepBallSize",
                                    @data_inneraction = "validationCall"
                                })
                            <span class="HideValidMsg">Please Select Hole Size Range Inch</span>
                        </div>
                    </div>
                    <div class="col-md-6 ShowHideFields" style="display:none">
                        <div class="form-group">
                            <label class="control-label">
                                Casing Weight
                            </label>
                            @Html.DropDownListFor(m => m.CasingWeight, new SelectList(ViewBag.ListCasingWT, "DataStringValueField", "DataTextField", Model.CasingWeight), new
                       {
                           @class = "form-control",
                           @id = "QuotePrepCasingWT"
                       })
                            <span class="HideValidMsg">Please Select Casing Weight</span>
                        </div>
                    </div>
                    <div id="divWallThickness" class="col-md-6 ShowHideFields" style="display:none">
                        <div class="form-group">
                            <label class="control-label">
                                Wall Thickness
                            </label>
                            @Html.TextBoxFor(m => m.WallThickness, new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepWallThickness"
                       })
                            <span class="HideValidMsg">Please Enter Wall Thickness</span>
                        </div>
                    </div>
                    <div id="divODSize" class="col-md-6" style="display:none">
                        <div class="form-group">
                            <label class="control-label">
                                OD Size
                            </label>
                            @Html.TextBoxFor(m => m.ODSize, new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepODSize"
                       })
                            <span class="HideValidMsg">Please Select OD Size</span>
                        </div>
                    </div>
                    <div id="divNoOfBows" class="col-md-6 ShowHideFields" style="display:none">
                        <div class="form-group">
                            <label class="control-label">
                                No Of Bows
                            </label>
                            @Html.TextBoxFor(m => m.TotalBows, new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepNoOfBows",
                           @onkeypress = "return AllowNumbers(event); "
                       })
                            <span class="HideValidMsg">Please Select Total Bows</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Quantity
                            </label>
                            @Html.TextBoxFor(m => m.Qty, new
                       {
                           @class = "form-control requiredValidation clearField",
                           @id = "QuotePrepQty",
                           @onkeypress = "return AllowNumbers(event)",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                       })
                            <span class="HideValidMsg">Please Select Quantity</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Uom
                            </label>
                            @Html.DropDownListFor(m => m.Uom, new SelectList(@ViewBag.ListUom, "DataStringValueField", "DataTextField", Model.Uom), new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepUom"

                       })
                            <span class="HideValidMsg">Please Select Uom</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                PDC Drillable
                            </label>
                            @Html.DropDownListFor(m => m.PDCDrillable, new SelectList(@ViewBag.YesNo, "DataValueField", "DataTextField", Model.PDCDrillable), new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepPDCDrillable"

                       })
                            <span class="HideValidMsg">Please Select Uom</span>
                        </div>
                    </div>
                    <div class="col-md-6" style="display:none">
                        <div class="form-group">
                            <label class="control-label">
                                Currency
                            </label>
                            @Html.DropDownListFor(m => m.Currency, new SelectList(ViewBag.ListCurrency, "DataStringValueField", "DataTextField", Model.Currency), new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepCurrency"
                       })
                            <span class="HideValidMsg">Please Select Currency</span>
                        </div>
                    </div>
                    <div id="divUnitPrice" class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Unit Price
                            </label>
                            @Html.TextBoxFor(m => m.UnitPrice, new
                       {
                           @class = "form-control clearField",
                           @id = "QuotePrepUnitPrice",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                           @onblur = "return GetProductDetails();",
                           @onkeypress = "return validateDecimalNumbers(this,event)"
                       })
                            <span class="HideValidMsg">Please Select Unit Price</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group text-left">
                            <label class="control-label"> Download Type :</label>
                            <div class="col-md-12">
                                <table class="table-borderless">
                                    <tr>
                                        <td>
                                            <input style="height:40px" type="image" class="img-thumbnail" src="~/Images/excel.png" alt="Generate Quote" onclick="CreateDocument('xlsx') " />
                                        </td>
                                        <td>
                                            @*<input style="height:40px" type="image" class="img-thumbnail" src="~/Images/doc.png" alt="Generate Quote" onclick="CreateDocument('docx') " />*@
                                        </td>
                                        <td>
                                            @*<input style="height:40px" type="image" class="img-thumbnail" src="~/Images/PDF.jpg" alt="Generate Quote" onclick="CreateDocument('pdf') " />*@

                                        </td>
                                    </tr>
                                </table>

                            </div>

                            @*<select id="ddlDownload" class="dropdown form-control">
                                    <option value="">Select</option>
                                    <option value="xlsx">Excel</option>
                                    <option value="doc">Doc</option>
                                    <option value="pdf">Pdf</option>
                                </select>*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        @*<input style="font-size:18px" type="button" class="btn btn-info btn-sm" value="Generate Quote" onclick="CreateDocument()" />*@
                    </div>
                </div>

                <div id="divProductDetails" class="row">
                    <div class="col-md-12">
                        <label id="ViewProductId" name="ViewProductId" value="" hidden />

                        <table class="table table-danger table-sm text-center">
                            <thead>
                                <tr>
                                    <td>Item No</td>
                                    @*<td id="EnqSrNoHeader">Enquiry Ref. No</td>*@
                                    <td>Quantity</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label id="ViewItemNo" name="ViewItemNo" value="" />
                                    </td>
                                    @*<td id="EnqSrNoBody">
                                            <label id="ViewEnqSrNo" name="ViewEnqSrNo" value="" />
                                        </td>*@
                                    <td>
                                        <label id="ViewQuantity" name="ViewQuantity" value="" />
                                    </td>
                                    <td>
                                        <textarea class="form-control col-md-12" id="ViewProductDetails" name="ViewProductDetails" value="" rows="15"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row" style="display:none">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Net Weight
                                </label>
                                <input id="ViewNetWeight" type="text" disabled value="" class="form-control clearField" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Gross Weight
                                </label>
                                <input id="ViewGrossWeight" type="text" disabled value="" class="form-control clearField" />
                            </div>
                        </div>
                    </div>


                    <!--
                                        <label class="form-control " type="text" id="ViewProductName" name="ViewProductName" value="" style="width:100px;" />


                    <label class="form-control " type="text" id="ViewProductCode" name="ViewProductCode" value="" style="width:100px;" />


                    <label class="form-control " type="text" id="ViewPL" name="ViewPL" value="" style="width:100px;" />


                                        <label id="ViewPos1" name="ViewPos1" value="" />
                                        <label id="ViewProductNo" name="ViewProductNo" value="" />,

                                        <label id="ViewPos2" name="ViewPos2" value="" />
                                        <label id="ViewCasingSize" name="ViewCasingSize" class="ViewCasingSize" value="" />,

                                        <label id="ViewPos3" name="ViewPos3" value="" />
                                        <label id="ViewCasingSize1" name="ViewCasingSize1" class="ViewCasingSize" value="" />,
                                        <label id="ViewCasingPpf" name="ViewCasingPpf" value="" />,

                                        <label id="ViewPos4" name="ViewPos4" value="" />
                                        <label id="ViewMaterialGrade" name="ViewMaterialGrade" value="" />,

                                        <label id="ViewConnection" name="ViewConnection" value="" />
                                        <label id="ViewPos5" name="ViewPos5" value="" />


                                        <label class="form-control " type="text" id="ViewPos6" name="ViewPos6" value="" style="width:100px;" />


                    <label class="form-control " type="text" id="ViewPos7" name="ViewPos7" value="" style="width:100px;" />


                    <label class="form-control " type="text" id="ViewPos8" name="ViewPos8" value="" style="width:100px;" />


                    <label class="form-control " type="text" id="ViewPos9" name="ViewPos9" value="" style="width:100px;" />


                    <label class="form-control " type="text" id="ViewPos10" name="ViewPos10" value="" style="width:100px;" />


                    <label class="form-control " type="text" id="ViewDES" name="ViewDES" value="" style="width:100px;" />  -->


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pt-4 text-center">
                <input style="font-size:18px" type="button" class="btn btn-success btn-sm" id="saveQuotePreparation" value="Save" ng-click="SaveQuotePreparation()" />
                <input style="font-size:18px" type="button" class="btn btn-default btn-sm" id="viewProducts" value="Display Description" onclick="GetProductDetails()" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        window.SaveQuotePreparation = '@Url.Action("SaveQuotePreparation", "Technical")';
        window.GetProductLineList = '@Url.Action("GetProductLineList", "Technical")';
        window.GetProductNumber = '@Url.Action("GetProductNumber", "Technical")';
        window.GenerateQuoteReport = '@Url.Action("GenerateQuoteReport", "Technical")';
        window.VendorDetailsForQuote = '@Url.Action("GetVendorDetailsForQuote", "Technical")';
        window.GetProductNumber = '@Url.Action("GetProductNumber", "Technical")';
        window.GetPrepQuoteNo = '@Url.Action("GetPrepQuoteNo", "Technical")';
        window.GetProductTypes = '@Url.Action("GetProductTypes", "Technical")';
        window.GetPrepProductNames = '@Url.Action("GetPrepProductNames", "Technical")';
        window.CreateDownloadDocument = '@Url.Action("CreateDownloadDocument", "Technical")';
        window.CheckDuplicateItemNo = '@Url.Action("CheckDuplicateItemNo", "Technical")';
        window.GetProductNameForProductType = '@Url.Action("GetProductNameForProductType", "Technical")';
        window.GetSubProdGrp = '@Url.Action("GetSubProdGrp", "Technical")';
        window.GetProdNames = '@Url.Action("GetProdName", "Technical")';
        window.BindDescDetail = '@Url.Action("BindDescDetail", "Technical")';
        window.GetDisplayFieldsForQuoteP = '@Url.Action("GetDisplayFieldsForQuotePrep", "Technical")';

        $('#divProductDetails').hide();
    });

</script>



