@using NtierMvc.Model
@using NtierMvc.Infrastructure

@model NtierMvc.Model.QuotationEntity
@{
    ViewBag.Title = "Technical";
}

<div class="row mt-3">
    <table class="table-borderless">
        <tr>
            <td>
                <button id="btnAdd" type="button" class="btn btn-outline-primary btn-sm" style="float: left;" ng-click="BindQuotationPopup()"><i class="fa fa-plus"></i><b> Add New Quotation</b></button>
            </td>
            <td>
                <label>Quote Type</label>
            </td>
            <td>
                <label>Customer Id</label>
            </td>
            <td>
                <label>Supply of</label>
            </td>
            <td>
                <label>Delivery Terms</label>
            </td>
        </tr>
        <tr>
            <td>
                <button id="btnRevisedQuote" type="button" class="btn btn-outline-info btn-sm" style="float: left;" ng-click="BindRevisedQuotationPopup()"><i class="fa fa-plus"></i><b> Add New Revised Quotation</b></button>
            </td>
            <td>
                @Html.DropDownList("QuoteType", new SelectList(@ViewBag.ListQuoteType, "DataStringValueField", "DataTextField", "Select"),
                    new
                    {
                        @class = "form-control",
                        ng_model = "SearchQuoteType",
                        @id = "QTQuoteType"
                    })
            </td>
            <td>
                @Html.DropDownList("CustomerId", new SelectList(@ViewBag.ListCustomerId, "DataStringValueField", "DataTextField", "Select"),
               new
               {
                   @class = "form-control",
                   ng_model = "SearchQuoteCustomerID",
                   @id = "QTCustomerId",
                   @multiple = true
               })
            </td>
            <td>
                @Html.DropDownList("Subject", new SelectList(@ViewBag.ListSubject, "DataStringValueField", "DataTextField", "Select"),
               new
               {
                   @class = "form-control",
                   ng_model = "SearchSubject",
                   @id = "QTSubject",
                   @multiple = true
               })
            </td>
            <td>
                @Html.DropDownList("DeliveryTerms", new SelectList(@ViewBag.ListDeliveryTerms, "DataStringValueField", "DataTextField", "Select"),
               new
               {
                   @class = "form-control",
                   ng_model = "SearchDeliveryTerms",
                   @id = "QTDeliveryTerms",
                   @multiple = true
               })
            </td>
            <td>
                <button class="btn btn-sm btn-success" type="button" id="btnSearch" ng-click="FetchQuotationList()">
                    Search
                </button>
                <button class="btn btn-sm btn-info" type="button" id="btnClearSearchQuotereg" ng-click="DefaultQuotationList(); FetchQuotationList();">Clear</button>
            </td>
        </tr>
    </table>
</div>

<div class="wrapper">
    <div class="container">
        <table id="tblQuoteReg">
            <thead class="tblhead">
                <tr>
                    <th>
                        Action
                        <div class="c1">
                            Action
                        </div>
                    </th>
                    <th>
                        Customer Id
                        <div class="c2">
                            Customer Id
                        </div>
                    </th>
                    <th>
                        Customer Name
                        <div class="c3">
                            Customer Name
                        </div>
                    </th>
                    <th>
                        Country
                        <div class="c3">
                            Country
                        </div>
                    </th>
                    <th>
                        Quote No.
                        <div class="c3">
                            Quote No.
                        </div>
                    </th>
                    <th>
                        Date
                        <div class="c3">
                            Date
                        </div>
                    </th>
                    <th>
                        Currency
                        <div class="c3">
                            Currency
                        </div>
                    </th>
                    <th>
                        Enquiry Date
                        <div class="c3">
                            Enquiry Date
                        </div>
                    </th>
                    <th>
                        Enquiry No
                        <div class="c3">
                            Enquiry No
                        </div>
                    </th>
                    <th>
                        Subject
                        <div class="c3">
                            Subject
                        </div>
                    </th>
                    <th>
                        Delivery Terms
                        <div class="c3">
                            Delivery Terms
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="L in AvailableQuotationList">
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="VIEW" ng-click="LoadQuotationViewPopup(L.Id)">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="EDIT" ng-click="LoadQuotationEditPopup(L.Id)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="DELETE" ng-click="DeleteQuotation(L.Id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td>
                        {{L.CustomerId}}
                    </td>
                    <td>
                        {{L.CustomerName}}
                    </td>
                    <td>
                        {{L.Country}}
                    </td>
                    <td>
                        {{L.QuoteNo}} {{L.RevisedQuoteNo}}
                    </td>
                    <td>
                        {{L.QuoteDate}}
                    </td>
                    <td>
                        {{L.Currency}}
                    </td>
                    <td>
                        {{L.EnqDt}}
                    </td>
                    <td>
                        {{L.EnqNo}}
                    </td>
                    <td>
                        {{L.Subject}}
                    </td>
                    <td>
                        {{L.DeliveryTerms}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="c1">
                            <div class="row p-0">
                                <div class="col-md-2 p-0">
                                    <span class="form-group pull-left page-size form-inline">
                                        <b>Records per page : &nbsp;&nbsp;</b>
                                        <select id="ddlCustPageSize" class="form-control control-color"
                                                ng-model="custPageSize"
                                                ng-change="CustChangePageSize()">
                                            <option value="100000">All</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-8 pull-right p-0">
                                    <div class="row p-0">
                                        <div class="col-md-10 p-0">
                                            <pagination total-items="custTotalCount" ng-change="CustPageChanged()" items-per-page="custPageSize" direction-links="true" ng-model="custPageIndex" max-size="maxsize" class="pagination pull-right" boundary-links="true" rotate="false" num-pages="custNumPages"></pagination>
                                        </div>
                                        <div class="col-md-2 p-0">
                                            <a class="btn btn-primary p-2 pull-right">Page: {{custPageIndex}} / {{custNumPages}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script src="~/Scripts/CustomJS/QuotationDetails.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        window.GetDdlValueForQuote = '@Url.Action("GetDdlValueForQuote","Technical")';
        window.QuotationDetailsPopup = '@Url.Action("QuotationPopup", "Technical")';
        window.RevisedQuotationDetailsPopup = '@Url.Action("RevisedQuotationPopup", "Technical")';
        window.DeleteQuotationDetail = '@Url.Action("DeleteQuotationDetail", "Technical")';
        window.FetchQuoteRegList = '@Url.Action("FetchQuoteRegList", "Technical")';
        window.GetPrepQuoteNo = '@Url.Action("GetPrepQuoteNo", "Technical")';


        $('#QTQuoteType').chosen({
            width: "210px",
            placeholder_text_single: "Select QuoteType",
            placeholder_text_multiple: "Select QuoteType"
        });

        $('#QTCustomerId').chosen({
            width: "210px",
            placeholder_text_single: "Select Customer Id",
            placeholder_text_multiple: "Select Customer Id"
        });

        $('#QTSubject').chosen({
            width: "210px",
            placeholder_text_single: "Select Subject",
            placeholder_text_multiple: "Select Subject"
        });

        $('#QTDeliveryTerms').chosen({
            width: "210px",
            placeholder_text_single: "Select Delivery Terms",
            placeholder_text_multiple: "Select Delivery Terms"
        });


        $("#QTQuoteType").chosen().change(
            function GetQuoteType() {
                //var QuoteType = $('#QTQuoteType').val();
                var QuoteType = '';
                var x = document.getElementById("QTQuoteType");
                for (var i = 0; i < x.options.length; i++) {
                    if (x.options[i].selected == true) {
                        //alert(x.options[i].value);
                        QuoteType = QuoteType + x.options[i].value + ',';
                    }
                }

                QuoteType = QuoteType.substring(0, QuoteType.length - 1);

                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: window.GetDdlValueForQuote,
                    data: { QuoteType: QuoteType, type: 'CustomerId' },
                    success: function (res) {
                        if (res.length > 0) {
                            $("#QTCustomerId").empty();
                            $.each(res, function (i, item) {
                                $("#QTCustomerId").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                                $("#QTCustomerId").trigger("chosen:updated");
                            })
                        }
                    },
                    error: function (result) {
                        alert(result)
                    }
                });
            }
        )

        $("#QTCustomerId").chosen().change(
            function GetProductGroup() {
                //var CustomerId = $('#QTCustomerId').val();
                var QuoteType = $('#QTQuoteType').val();

                var CustomerId = '';
                var x = document.getElementById("QTCustomerId");
                for (var i = 0; i < x.options.length; i++) {
                    if (x.options[i].selected == true) {
                        //alert(x.options[i].value);
                        CustomerId = CustomerId + x.options[i].value + ',';
                    }
                }

                CustomerId = CustomerId.substring(0, CustomerId.length - 1);

                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: window.GetDdlValueForQuote,
                    data: { CustomerId: CustomerId, QuoteType: QuoteType, type: 'Subject' },
                    success: function (res) {
                        if (res.length > 0) {
                            $("#QTSubject").empty();
                            $.each(res, function (i, item) {
                                $("#QTSubject").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                                $("#QTSubject").trigger("chosen:updated");
                            })
                        }
                    },
                    error: function (result) {
                        alert(result)
                    }
                });
            }
        )

        $("#QTSubject").chosen().change(
            function GetSubject() {
                //var CustomerId = $('#QTCustomerId').val();
                var QuoteType = $('#QTQuoteType').val();

                var CustomerId = '';
                var x = document.getElementById("QTCustomerId");
                for (var i = 0; i < x.options.length; i++) {
                    if (x.options[i].selected == true) {
                        //alert(x.options[i].value);
                        CustomerId = CustomerId + x.options[i].value + ',';
                    }
                }

                CustomerId = CustomerId.substring(0, CustomerId.length - 1);

                var SubjectId = '';
                var x = document.getElementById("QTSubject");
                for (var i = 0; i < x.options.length; i++) {
                    if (x.options[i].selected == true) {
                        //alert(x.options[i].value);
                        SubjectId = SubjectId + x.options[i].value + ',';
                    }
                }

                SubjectId = SubjectId.substring(0, SubjectId.length - 1);

                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: window.GetDdlValueForQuote,
                    data: { CustomerId: CustomerId, QuoteType: QuoteType, SubjectId: SubjectId, type: 'DeliveryTerms' },
                    success: function (res) {
                        if (res.length > 0) {
                            $("#QTDeliveryTerms").empty();
                            $.each(res, function (i, item) {
                                $("#QTDeliveryTerms").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                                $("#QTDeliveryTerms").trigger("chosen:updated");
                            })
                        }
                    },
                    error: function (result) {
                        alert(result)
                    }
                });
            }
        )


    });

    $('#btnClearSearchQuotereg').click(function () {

        $('#QTQuoteType').val([]).trigger('chosen:updated');
        $('#QTCustomerId').val([]).trigger('chosen:updated');
        $('#QTSubject').val([]).trigger('chosen:updated');
        $('#QTDeliveryTerms').val([]).trigger('chosen:updated');


    });

    //angular.module('App').controller('MainController', function ($scope) {

    //    $('#btnClearSearchQuotereg').click(function (e) {
    //        $scope.$apply(function () {
    //            $scope.SearchQuoteType = "";
    //            $scope.SearchQuoteCustomerID = "";
    //            $scope.SearchSubject = "";
    //            $scope.SearchDeliveryTerms = "";
    //        });

    //        angular.element(document.getElementById('tblQuoteReg')).scope().FetchQuotationList();

    //    });
    //});



</script>

