@using NtierMvc.Model
@using NtierMvc.Infrastructure

@model NtierMvc.Model.OrderEntity
@{
    ViewBag.Title = "Order";
}


<div class="row mt-3">
    <table class="table-borderless">
        <tr>
            <td>
               
            </td>
            <td>
                <label>Quote Type</label>
            </td>
            <td>
                <label>Customer Id</label>
            </td>
            @*<td>
            <label>Product Group</label>
        </td>*@
            <td>
                <label>Delivery Terms</label>
            </td>
            <td>
                <label>PO Delivery Date</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                @Html.DropDownList("QuoteType", new SelectList(@ViewBag.ListQuoteType, "DataStringValueField", "DataTextField", "Select"),
                    new
                    {
                        @class = "form-control",
                        ng_model = "SearchOrderQuoteType",
                        @id = "ORQuoteType"
                    })
            </td>
            <td>
                @Html.DropDownList("CustomerId", new SelectList(@ViewBag.ListCustomerId, "DataStringValueField", "DataTextField", "Select"),
               new
               {
                   @class = "form-control",
                   ng_model = "SearchOrderCustomerId",
                   @id = "ORCustomerId",
                   @multiple = true
               })
            </td>
            @*<td>
            @Html.DropDownList("ProductGroup", new SelectList(@ViewBag.ListProdName, "DataStringValueField", "DataTextField", "Select"),
           new
           {
               @class = "form-control",
               ng_model = "SearchOrderProductGroup",
               @id = "ORProductGroup",
               @multiple = true
           })
        </td>*@
            <td>
                @Html.DropDownList("DeliveryTerms", new SelectList(@ViewBag.ListDeliveryTerms, "DataStringValueField", "DataTextField", "Select"),
               new
               {
                   @class = "form-control",
                   ng_model = "SearchOrderDeliveryTerms",
                   @id = "ORDeliveryTerms",
                   @multiple = true
               })
            </td>
            <td>
                @Html.DropDownList("PODeliveryDate", new SelectList(@ViewBag.ListPODeliveryDate, "DataTextField", "DataTextField", "Select"),
               new
               {
                   @class = "form-control",
                   ng_model = "SearchPODeliveryDate",
                   @id = "ORPODeliveryDate",
                   @multiple = true
               })
            </td>
            <td>
                <button class="btn btn-sm btn-success" type="button" id="btnSearch" ng-click="FetchOrdersList()">
                    Search
                </button>
                <button class="btn btn-sm btn-info" type="button" id="btnClearSearchOrders" ng-click="DefaultOrdersList(); FetchOrdersList();">Clear</button>
                <button class="btn btn-sm btn-info" type="button" id="btnDownloadReport" ng-click="CreatePOReport('PO_WORK_AUHTORIZATION');">Master Order<i class="fa fa-download" style="font-size:16px" aria-hidden="true"></i></button>
            </td>
        </tr>
    </table>
</div>

<div class="wrapper">
    <div class="container">
        <table class="text-center">
            <thead class="tblhead">
                <tr>
                    <th>
                        Action
                        <div class="c1">
                            Action
                        </div>
                    </th>
                    <th>
                        WA No
                        <div class="c2">
                            WA No
                        </div>
                    </th>
                    <th>
                        PO Entity
                        <div class="c2">
                            PO Entity
                        </div>
                    </th>
                    <th>
                        PO Location
                        <div class="c3">
                            PO Location
                        </div>
                    </th>
                    <th>
                        PO No
                        <div class="c3">
                            PO No
                        </div>
                    </th>
                    <th>
                        PO Date
                        <div class="c3">
                            PO Date
                        </div>
                    </th>
                    <th>
                        Currency
                        <div class="c3">
                            Currency
                        </div>
                    </th>
                    <th>
                        ExWorkValue
                        <div class="c3">
                            ExWorkValue
                        </div>
                    </th>
                    <th>
                        PO Delivery Date
                        <div class="c3">
                            PO Delivery Date
                        </div>
                    </th>
                    <th>
                        Consignee Name
                        <div class="c3">
                            Consignee Name
                        </div>
                    </th>
                    <th>
                        Consignee Location
                        <div class="c3">
                            Consignee Location
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="L in AvailableOrdersList">
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="VIEW" ng-click="LoadOrderViewPopup(L.Id)">
                            <i class="fa fa-eye"></i>
                        </button>                        
                    </td>
                    <td>
                        {{L.SoNoView}}
                    </td>
                    <td>
                        {{L.PoEntity}}
                    </td>
                    <td>
                        {{L.PoLocation}}
                    </td>
                    <td>
                        {{L.PoNo}}
                    </td>
                    <td>
                        {{L.PoDate}}
                    </td>
                    <td>
                        {{L.Curr}}
                    </td>
                    <td>
                        {{L.ExWorkValue}}
                    </td>
                    <td>
                        {{L.PoDeliveryDate}}
                    </td>
                    <td>
                        {{L.ConsigneeName}}
                    </td>
                    <td>
                        {{L.ConsigneeLocation}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="c1">
                            <div class="row p-0">
                                <div class="col-md-2 p-0">
                                    <span class="form-group pull-left page-size form-inline">
                                        <b>Records per page : &nbsp;&nbsp;</b>
                                        <select id="ddlorderPageSize" class="form-control control-color"
                                                ng-model="orderPageSize"
                                                ng-change="OrderChangePageSize()">
                                            <option value="100000">All</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-8 pull-right p-0">
                                    <div class="row p-0">
                                        <div class="col-md-10 p-0">
                                            <pagination total-items="orderTotalCount" ng-change="OrderPageChanged()" items-per-page="orderPageSize" direction-links="true" ng-model="orderPageIndex" max-size="maxsize" class="pagination pull-right" boundary-links="true" rotate="false" num-pages="orderNumPages"></pagination>
                                        </div>
                                        <div class="col-md-2 p-0">
                                            <a class="btn btn-primary p-2 pull-right">Page: {{orderPageIndex}} / {{orderNumPages}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--<div class="modal" id="addOrderDetails" tabindex="-1" role="dialog">-->
    @*@using (Ajax.BeginForm(actionName: "SaveOrderDetails", controllerName: "Technical", ajaxOptions: new AjaxOptions
        {
            HttpMethod = "POST"
            // OnSuccess = "BuildingSpaceDetails.UploadFiles"
        },
                routeValues: null,
                htmlAttributes: new { id = "frmOrderDetails" }))
        {*@
    <!--<div class="modal-dialog" style="width:80%; max-width: 80%;" role="document">
        <div class="modal-content">
            <div class="modal-header">-->
                @*@Html.HiddenFor(m => m.TrnBuildingHdrId)*@
                <!--<h5 class="modal-title">Add Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="div-Staff-details" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>-->
    @*}*@
<!--</div>


<div class="modal fade" id="add_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>


<div class="modal fade" id="registor-Sucess-Failure" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Notification</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                &nbsp;&nbsp;<span id="spn-registor-Sucess-Failure"></span><span id="spnUserName" style="font-weight:bold"></span>&nbsp;&nbsp;<span id="spnUserNameMore"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Sucess-Failure" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Notification</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                &nbsp;&nbsp;<span id="spn-Sucess-Failure"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>-->
<script type="text/javascript">

    $(document).ready(function () {

        window.OrderDetailsPopup = '@Url.Action("OrderPopup", "Technical")';
        window.DeleteOrderDetail = '@Url.Action("DeleteOrderDetail", "Technical")';
        window.ItemDetailsPopup = '@Url.Action("ItemPopup", "Technical")';
        window.GetPrepQuoteNo = '@Url.Action("GetPrepQuoteNo", "Technical")';
        window.CreatePOReport = '@Url.Action("CreatePOReport", "Technical")';

        $('#ORPODeliveryDate').chosen({
            width: "210px",
            placeholder_text_single: "Select PODeliveryDate",
            placeholder_text_multiple: "Select PODeliveryDates"
        });


        $('#ORQuoteType').chosen({
            width: "210px",
            placeholder_text_single: "Select QuoteType",
            placeholder_text_multiple: "Select QuoteType"
        });

        $('#ORCustomerId').chosen({
            width: "210px",
            placeholder_text_single: "Select Vendor Id",
            placeholder_text_multiple: "Select Vendor Id"
        });

        //$('#ORProductGroup').chosen({
        //    width: "210px",
        //    placeholder_text_single: "Select Product Group",
        //    placeholder_text_multiple: "Select Product Group"
        //});

        $('#ORDeliveryTerms').chosen({
            width: "210px",
            placeholder_text_single: "Select Delivery Terms",
            placeholder_text_multiple: "Select Delivery Terms"
        });

        $("#ORQuoteType").chosen().change(
            function GetQuoteType() {
                //var QuoteType = $('#QTQuoteType').val();
                var QuoteType = '';
                var x = document.getElementById("ORQuoteType");
                for (var i = 0; i < x.options.length; i++) {
                    if (x.options[i].selected == true) {
                        //alert(x.options[i].value);
                        QuoteType = QuoteType + x.options[i].value + ',';
                    }
                }

                QuoteType = QuoteType.substring(0, QuoteType.length - 1);

                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: window.GetDdlValueForQuote,
                    data: { QuoteType: QuoteType, type: 'CustomerId' },
                    success: function (res) {
                        if (res.length > 0) {
                            $("#ORCustomerId").empty();
                            $.each(res, function (i, item) {
                                $("#ORCustomerId").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                                $("#ORCustomerId").trigger("chosen:updated");
                            })
                        }
                    },
                    error: function (result) {
                        alert(result)
                    }
                });
            }
        )

        //$("#ORCustomerId").chosen().change(
        //    function GetProductGroup() {
        //        //var VendorId = $('#QTVendorId').val();
        //        debugger;
        //        var CustomerId = '';
        //        var x = document.getElementById("ORCustomerId");
        //        for (var i = 0; i < x.options.length; i++) {
        //            if (x.options[i].selected == true) {
        //                //alert(x.options[i].value);
        //                CustomerId = CustomerId + x.options[i].value + ',';
        //            }
        //        }

        //        CustomerId = CustomerId.substring(0, CustomerId.length - 1);

        //        return $.ajax({
        //            contentType: 'application/json; charset=utf-8',
        //            dataType: 'json',
        //            type: 'GET',
        //            url: window.GetDdlValueForQuote,
        //            data: { CustomerId: CustomerId, type: 'ProductGroup' },
        //            success: function (res) {
        //                if (res.length > 0) {
        //                    $("#ORProductGroup").empty();
        //                    $.each(res, function (i, item) {
        //                        $("#ORProductGroup").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
        //                        $("#ORProductGroup").trigger("chosen:updated");
        //                    })
        //                }
        //            },
        //            error: function (result) {
        //                alert(result)
        //            }
        //        });
        //    }
        //)

    });

    function GetQuoteNoListForPartialOrders() {

        let QuoteType = $('#SearchOrderQuoteType').val();

        $.ajax({
            type: 'POST',
            url: window.GetPrepQuoteNo,
            data: JSON.stringify({ quotetypeId: QuoteType }),
            contentType: "application/json; charset=utf-8",
            success: function (res) {
                if (res.length > 0) {
                    $("#SearchOrderQuoteNo").empty();
                    $.each(res, function (i, item){
                        $("#SearchOrderQuoteNo").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                    })
                }
            }
        })
    }

    $('#btnClearSearchOrders').click(
        function ClearFields() {

            $('#ORQuoteType').val([]).trigger('chosen:updated');
            $('#ORCustomerId').val([]).trigger('chosen:updated');
            $('#ORDeliveryTerms').val([]).trigger('chosen:updated');
            $('#ORPODeliveryDate').val([]).trigger('chosen:updated');
        }
    );

</script>




<script src="~/Scripts/CustomJS/TechItemDetails.js?@ViewBag.ReleaseVersion"></script>