@using NtierMvc.Model
@using NtierMvc.Infrastructure
@model NtierMvc.Model.EnquiryEntityDetails
@{
    ViewBag.Title = "Enquiry Details";
}

<div class="row mt-3">
    <table class="table-borderless">
        <tr>
            <td>
                <button id="btnAdd" type="button" class="btn btn-outline-primary btn-sm" style="float: left;" ng-click="BindEnquiryPopup()"><i class="fa fa-plus"></i> <b>Add New Enquiry</b></button>
            </td>
            <td>
                <label>EOQ</label>
            </td>
            <td>
                <label>Product Group</label>
            </td>
            <td>
                <label>Vendor Id</label>
            </td>
            @*<td>
                    <label>Vendor Name</label>
                </td>*@
            <td>
                <label>Month</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.DropDownList("EOQ", new SelectList(@ViewBag.ListEOQ, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchEOQ",
                               @onchange = "GetVendorEOQ()",
                               @id = "EQEOQ"
                           })
            </td>
            <td>
                @Html.DropDownList("ProductGroup", new SelectList(@ViewBag.ListProdGrp, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchProductGroup",
                               @id = "EQProductGroup"
                           })
            </td>
            <td>
                @Html.DropDownList("VendorId", new SelectList(@ViewBag.ListVendorId, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchEnqVendorID",
                               @id = "EQVendorId",
                               @multiple = "true"
                           })
            </td>
            @*<td>
                     @Html.DropDownList("VendorName", new SelectList(@ViewBag.ListVendorName, "DataStringValueField", "DataTextField", "Select"), new
                {
                    @class = "form-control",
                    ng_model = "SearchEnqName",
                    @id = "EQVendorName"
                })
                 </td>*@
            <td>
                @Html.DropDownList("Month", new SelectList(@ViewBag.ListMonth, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchMonth",
                               @id = "EQMonth"
                           })
            </td>
            <td>
                <button class="btn btn-link" type="button" id="btnSearch" ng-click="FetchEnquiryList()">
                    <i class="fa fa-search"></i>
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="wrapper">
    <div class="container">
        <table>
            <thead class="tblhead">
                <tr>
                    <th>
                        Action
                        <div class="c1">
                            Action
                        </div>
                    </th>
                    <th>
                        Vendor Name
                        <div class="c2">
                            Vendor Name
                        </div>
                    </th>
                    <th>
                        Vendor Type
                        <div class="c3">
                            Vendor Type
                        </div>
                    </th>
                    <th>
                        Country
                        <div class="c3">
                            Country
                        </div>
                    </th>
                    <th>
                        Enq Ref
                        <div class="c3">
                            Enq Ref
                        </div>
                    </th>
                    <th>
                        Enq Date
                        <div class="c3">
                            Enq Date
                        </div>
                    </th>                    
                    <th>
                        Due Date
                        <div class="c3">
                            Due Date
                        </div>
                    </th>
                    <th>
                        Prod Grp
                        <div class="c3">
                            Prod Grp
                        </div>
                    </th>
                    <th>
                        Enq For
                        <div class="c3">
                            Enq For
                        </div>
                    </th>
                    <th>
                        EOQ
                        <div class="c3">
                            EOQ
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="L in AvailableEnquiryList">
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="VIEW" ng-click="LoadEnquiryViewPopup(L.EnquiryId)">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="EDIT" ng-click="LoadEnquiryEditPopup(L.EnquiryId)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="DELETE" ng-click="DeleteEnquiry(L.EnquiryId)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td>
                        {{L.VendorName}}
                    </td>
                    <td>
                        {{L.VendorType}}
                    </td>
                    <td>
                        {{L.Country}}
                    </td>
                    <td>
                        {{L.EnqRef}}
                    </td>
                    <td>
                        {{L.EnqDt}}
                    </td>
                    <td>
                        {{L.DueDate}}
                    </td>
                    <td>
                        {{L.ProdGrp}}
                    </td>
                    <td>
                        {{L.EnqFor}}
                    </td>
                    <td>
                        {{L.Eoq}}
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="c1">
                            <div class="row p-0">
                                <div class="col-md-2 p-0">
                                    <span class="form-group pull-left page-size form-inline">
                                        <b>Records per page : &nbsp;&nbsp;</b>
                                        <select id="ddlEnqPageSize" class="form-control control-color"
                                                ng-model="enqPageSize"
                                                ng-change="EnqChangePageSize()">
                                            <option value="100000">All</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-8 pull-right p-0">
                                    <div class="row p-0">
                                        <div class="col-md-10 p-0">
                                            <pagination total-items="enqTotalCount" ng-change="EnqPageChanged()" items-per-page="enqPageSize" direction-links="true" ng-model="enqPageIndex" max-size="maxsize" class="pagination pull-right" boundary-links="true" rotate="false" num-pages="enqNumPages"></pagination>
                                        </div>
                                        <div class="col-md-2 p-0">
                                            <a class="btn btn-primary p-2 pull-right">Page: {{enqPageIndex}} / {{enqNumPages}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="modal" id="addEnquiryDetails" tabindex="-1" role="dialog">
    @using (Ajax.BeginForm(actionName: "SaveEnquiryDetails", controllerName: "Enquiry", ajaxOptions: new AjaxOptions
    {
        HttpMethod = "POST"
        // OnSuccess = "BuildingSpaceDetails.UploadFiles"
    },
            routeValues: null,
            htmlAttributes: new { id = "frmEnquiryDetails" }))
    {
        <div class="modal-dialog" style="width:80%; max-width: 80%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*@Html.HiddenFor(m => m.TrnBuildingHdrId)*@
                    <h5 class="modal-title">Add Enquiry Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="div-Staff-details" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="add_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

<script type="text/javascript">
        $(document).ready(function () {
            window.EnquiryDetailsPopup = '@Url.Action("EnquiryPopup", "Technical")';
            window.GetDdlValueForEnquiry = '@Url.Action("GetDdlValueForEnquiry", "Technical")';

            var Data = '@TempData["StatusMsg"]';
            if (Data === "INSERTED SUCCESSFULLY" || Data === "UPDATED SUCCESSFULLY")
            {
                alertNotification(Data);
            }

        })


    $('#EQEOQ').chosen({
        width: "210px",
        placeholder_text_single: "Select EOQ"
    });

    $('#EQProductGroup').chosen({
        width: "210px",
        placeholder_text_single: "Select Product Group"
    });

    $('#EQVendorId').chosen({
        width: "210px",
        placeholder_text_single: "Select Vendor Id",
        placeholder_text_multiple: "Select Vendor Ids"
    });

    $('#EQVendorName').chosen({
        width: "210px",
        placeholder_text_single: "Select Vendor Name"
    });

    $('#EQMonth').chosen({
        width: "210px",
        placeholder_text_single: "Select Month"
    });

    $("#EQEOQ").chosen().change(
        function GetEQEOQ() {
            var EOQId = $('#EQEOQ').val();

            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: window.GetDdlValueForEnquiry,
                data: { EOQId: EOQId, type: 'ProductGroup' },
                success: function (res) {
                    if (res.length > 0) {
                        $("#EQProductGroup").empty();
                        $.each(res, function (i, item) {
                            $("#EQProductGroup").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                            $("#EQProductGroup").trigger("chosen:updated");
                        })
                    }
                },
                error: function () {
                    alert(result)
                }
            });
        }
    )

    $("#EQProductGroup").chosen().change(
        function GetEQProductGroup() {
            var EQProductGroupId = $('#EQProductGroup').val();

            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: window.GetDdlValueForEnquiry,
                data: { ProductGroup: EQProductGroupId, type: 'VendorId' },
                success: function (res) {
                    if (res.length > 0) {
                        $("#EQVendorId").empty();
                        $.each(res, function (i, item) {
                            $("#EQVendorId").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                            $("#EQVendorId").trigger("chosen:updated");
                        })
                    }
                },
                error: function () {
                    alert(result)
                }
            });
        }
    )

</script>
