@using NtierMvc.Model
@using NtierMvc.Infrastructure
@model NtierMvc.Model.EnquiryEntityDetails
@{
    ViewBag.Title = "Enquiry Details";
}

<div class="row mt-3">
    <table class="table-borderless">
        <tr>
            <td>
                <button id="btnAdd" type="button" class="btn btn-outline-primary btn-sm" style="float: left;" ng-click="BindEnquiryPopup()"><i class="fa fa-plus"></i> <b>Add New Enquiry</b></button>
            </td>
            <td>
                <label>Enquiry Type</label>
            </td>
            <td>
                <label>Customer</label>
            </td>
            <td>
                <label>Enq For</label>
            </td>
            <td>
                <label>Due Date</label>
            </td>
            <td>
                <label>EOQ</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.DropDownList("EnqType", new SelectList(@ViewBag.ListEnqType, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchEQEnqType",
                               @id = "EQEnqType"
                           })
            </td>
            <td>
                @Html.DropDownList("CustomerName", new SelectList(@ViewBag.ListCustomerName, "DataStringValueField", "DataTextField", "Select"), new
           {
               @class = "form-control",
               ng_model = "SearchCustomerName",
               @id = "EQCustomer",
               @multiple = "true"
           })

            </td>
            <td>
                @Html.DropDownList("EnqFor", new SelectList(@ViewBag.ListEnqFor, "DataStringValueField", "DataTextField", "Select"),
             new
             {
                 @class = "form-control",
                 ng_model = "SearchEnqFor",
                 @id = "EQEnqFor",
                 @multiple = "true"
             })
            </td>
            <td>
                @Html.DropDownList("DueDate", new SelectList(@ViewBag.ListDueDate, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchDueDate",
                               @id = "EQDueDate",
                               @multiple = "true"
                           })
            </td>
            <td>
                @Html.DropDownList("EOQ", new SelectList(@ViewBag.ListEOQ, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model = "SearchEOQ",
                               @id = "EQEOQ",
                               @multiple = "true"
                           })
            </td>
            <td>
                <button class="btn btn-sm btn-success" type="button" id="btnSearch" ng-click="FetchEnquiryList()">
                    Search
                </button>
                <button class="btn btn-sm btn-info" type="button" id="btnClearSearchEnquiry" ng-click="DefaultEnquiryList(); FetchEnquiryList();">Clear</button>
            </td>
        </tr>
    </table>
</div>

<div class="wrapper">
    <div class="container">
        <table id="TblEnquiry">
            <thead class="tblhead">
                <tr>
                    <th>
                        Action
                        <div class="c1">
                            Action
                        </div>
                    </th>
                    <th>
                        Customer Name
                        <div class="c1">
                            Customer Name
                        </div>
                    </th>
                    <th>
                        Country
                        <div class="c1">
                            Country
                        </div>
                    </th>
                    <th>
                        Enq Ref
                        <div class="c1">
                            Enq Ref
                        </div>
                    </th>
                    <th>
                        Enq Date
                        <div class="c1">
                            Enq Date
                        </div>
                    </th>
                    <th>
                        Due Date
                        <div class="c1">
                            Due Date
                        </div>
                    </th>
                    @*<th>
                            Prod Grp
                            <div class="c1">
                                Prod Grp
                            </div>
                        </th>*@
                    <th>
                        Enq For
                        <div class="c1">
                            Enq For
                        </div>
                    </th>
                    <th>
                        EOQ
                        <div class="c1">
                            EOQ
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="L in AvailableEnquiryList">
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="VIEW" ng-click="LoadEnquiryViewPopup(L.EnquiryId)">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="EDIT" ng-click="LoadEnquiryEditPopup(L.EnquiryId)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="DELETE" ng-click="DeleteEnquiry(L.EnquiryId)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td>
                        {{L.CustomerName}}
                    </td>
                    <td>
                        {{L.Country}}
                    </td>
                    <td>
                        {{L.EnqRef}}
                    </td>
                    <td>
                        {{L.EnqDt}}
                    </td>
                    <td>
                        {{L.DueDate}}
                    </td>
                    @*<td>
                            {{L.ProdGrp}}
                        </td>*@
                    <td>
                        {{L.EnqFor}}
                    </td>
                    <td>
                        {{L.Eoq}}
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="c1">
                            <div class="row p-0">
                                <div class="col-md-2 p-0">
                                    <span class="form-group pull-left page-size form-inline">
                                        <b>Records per page : &nbsp;&nbsp;</b>
                                        <select id="ddlEnqPageSize" class="form-control control-color"
                                                ng-model="enqPageSize"
                                                ng-change="EnqChangePageSize()">
                                            <option value="100000">All</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-8 pull-right p-0">
                                    <div class="row p-0">
                                        <div class="col-md-10 p-0">
                                            <pagination total-items="enqTotalCount" ng-change="EnqPageChanged()" items-per-page="enqPageSize" direction-links="true" ng-model="enqPageIndex" max-size="maxsize" class="pagination pull-right" boundary-links="true" rotate="false" num-pages="enqNumPages"></pagination>
                                        </div>
                                        <div class="col-md-2 p-0">
                                            <a class="btn btn-primary p-2 pull-right">Page: {{enqPageIndex}} / {{enqNumPages}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script src="~/Scripts/CustomJS/EnquiryDetails.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            window.EnquiryDetailsPopup = '@Url.Action("EnquiryPopup", "Technical")';
            window.GetDdlValueForEnquiry = '@Url.Action("GetDdlValueForEnquiry", "Technical")';
        })


    $('#EQEnqType').chosen({
        width: "210px",
        placeholder_text_single: "Select Enq Type"
    });

    $('#EQCustomer').chosen({
        width: "210px",
        placeholder_text_single: "Select Customer"
    });

    $('#EQEnqFor').chosen({
        width: "210px",
        placeholder_text_single: "Select Enq For",
        placeholder_text_multiple: "Select Enq For"
    });

    $('#EQDueDate').chosen({
        width: "210px",
        placeholder_text_single: "Select Due Date",
        placeholder_text_multiple: "Select Due Date"
    });

    $('#EQEOQ').chosen({
        width: "210px",
        placeholder_text_single: "Select EOQ",
        placeholder_text_multiple: "Select EOQ"
    });

    $("#EQEnqType").chosen().change(
        function GetEnqType() {
            
            var EnqType = $("#EQEnqType").val();

            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: window.GetDdlValueForEnquiry,
                data: { EnqType: EnqType, type: 'Customer' },
                success: function (res) {
                    if (res.length > 0) {
                        $("#EQCustomer").empty();
                        $.each(res, function (i, item) {
                            $("#EQCustomer").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                            $("#EQCustomer").trigger("chosen:updated");
                        })
                    }
                },
                error: function (result) {
                    alert(result)
                }
            });
        }
    )

    $("#EQCustomer").chosen().change(
        function GetEnqFor() {

            var EnqType = $("#EQEnqType").val();
            var EQCustomerId = '';
            var x = document.getElementById("EQCustomer");
            for (var i = 0; i < x.options.length; i++) {
                if (x.options[i].selected == true) {
                    //alert(x.options[i].value);
                    EQCustomerId = EQCustomerId + x.options[i].value + ',';
                }
            }

            EQCustomerId = EQCustomerId.substring(0, EQCustomerId.length - 1);

            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: window.GetDdlValueForEnquiry,
                data: { EnqType: EnqType, CustomerId: EQCustomerId, type: 'EnqFor' },
                success: function (res) {
                    if (res.length > 0) {
                        $("#EQEnqFor").empty();
                        $.each(res, function (i, item) {
                            $("#EQEnqFor").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                            $("#EQEnqFor").trigger("chosen:updated");
                        })
                    }
                },
                error: function () {
                    alert(result)
                }
            });
        }
    )

    $("#EQEnqFor").chosen().change(
        function GetEQEnqFor() {
            
            var EQEnqFor = '';
            var EnqType = $("#EQEnqType").val();

            var EQCustomerId = '';
            var x = document.getElementById("EQCustomer");
            for (var i = 0; i < x.options.length; i++) {
                if (x.options[i].selected == true) {
                    //alert(x.options[i].value);
                    EQCustomerId = EQCustomerId + x.options[i].value + ',';
                }
            }

            EQCustomerId = EQCustomerId.substring(0, EQCustomerId.length - 1);

            var y = document.getElementById("EQEnqFor");
            for (var i = 0; i < y.options.length; i++) {
                if (y.options[i].selected == true) {
                    //alert(x.options[i].value);
                    EQEnqFor = EQEnqFor + y.options[i].value + ',';
                }
            }

            EQEnqFor = EQEnqFor.substring(0, EQEnqFor.length - 1);

            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: window.GetDdlValueForEnquiry,
                data: { EnqType: EnqType, CustomerId: EQCustomerId, EnqFor: EQEnqFor, type: 'DueDate' },
                success: function (res) {
                    if (res.length > 0) {
                        $("#EQDueDate").empty();
                        $.each(res, function (i, item) {
                            $("#EQDueDate").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                            $("#EQDueDate").trigger("chosen:updated");
                        })
                    }
                },
                error: function () {
                    alert(result)
                }
            });
        }
    )

    $("#EQDueDate").chosen().change(
        function GetEnqType() {
            var EnqType = $("#EQEnqType").val();

            var EQCustomerId = '';
            var x = document.getElementById("EQCustomer");
            for (var i = 0; i < x.options.length; i++) {
                if (x.options[i].selected == true) {
                    //alert(x.options[i].value);
                    EQCustomerId = EQCustomerId + x.options[i].value + ',';
                }
            }

            EQCustomerId = EQCustomerId.substring(0, EQCustomerId.length - 1);

            var y = document.getElementById("EQEnqFor");
            for (var i = 0; i < y.options.length; i++) {
                if (y.options[i].selected == true) {
                    //alert(x.options[i].value);
                    EQEnqFor = EQEnqFor + y.options[i].value + ',';
                }
            }

            EQEnqFor = EQEnqFor.substring(0, EQEnqFor.length - 1);

            var DueDate = '';
            var x = document.getElementById("EQDueDate");

            for (var i = 0; i < x.options.length; i++) {
                if (x.options[i].selected == true) {
                    //alert(x.options[i].value);
                    DueDate = DueDate + formatDate(x.options[i].value, 'yyyy-MM-dd') + ',';
                }
            }

            DueDate = DueDate.substring(0, DueDate.length - 1);

            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: window.GetDdlValueForEnquiry,
                data: { EnqType: EnqType, CustomerId: EQCustomerId, EnqFor: EQEnqFor, DueDate: DueDate, type: 'EOQ' },
                success: function (res) {
                    if (res.length > 0) {
                        $("#EQEOQ").empty();
                        $.each(res, function (i, item) {
                            $("#EQEOQ").append($('<option></option>').val(item.DataStringValueField).html(item.DataTextField));
                            $("#EQEOQ").trigger("chosen:updated");
                        })
                    }
                },
                error: function (result) {
                    alert(result)
                }
            });
        }
    )

    $('#btnClearSearchEnquiry').click(
        function ClearFields() {

            $('#EQEnqType').val([]).trigger('chosen:updated');
            $('#EQCustomer').val([]).trigger('chosen:updated');
            $('#EQEnqFor').val([]).trigger('chosen:updated');
            $('#EQDueDate').val([]).trigger('chosen:updated');
            $('#EQEOQ').val([]).trigger('chosen:updated');         

        }
    );


    window.onload = function () {
        setTimeout(function () {
            angular.element(document.getElementById('TblEnquiry')).scope().DefaultEnquiryList();
            angular.element(document.getElementById('TblEnquiry')).scope().FetchEnquiryList();
        }, 500);
    }

</script>
