@{
    ViewBag.Title = "TechnicalMaster";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<link href="~/assets/css/tableStyle.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/tabs.js"></script>

<div ng-controller="MainController">

    <div class="tab">
        <button id="defaultOpen" class="tablinks" onclick="openCity(event, 'EnquiryView')" ng-click="DefaultEnquiryList(); FetchEnquiryList();">Enquiry</button>
        <button class="tablinks" onclick="openCity(event, 'QuoteRegPartialView')" id="QuoteRegPartialViewLink" ng-click="DefaultQuotationList(); FetchQuotationList();">Quote Register</button>
        @*<button id="QuotePrepPartialViewLink" class="tablinks" onclick="openCity(event, 'QuotePrepPartialView')" data-url="@Url.Action("PartialQuotePrep", "Technical")">Quote Preparation</button>*@
        <button id="QuotePrepPartialViewLink" class="tablinks" onclick="openCity(event, 'QuotePrepPartialView')" ng-click="BindQuotePrepPopup()">Quote Preparation</button>
        <button id="OrdersPartialViewLink" class="tablinks" onclick="openCity(event, 'OrdersPartialView')" ng-click="DefaultOrdersList(); FetchOrdersList();">Orders</button>
        <button id="ClarificationPartialViewLink" class="tablinks" onclick="openCity(event, 'ClarificationPartialView')" ng-click="BindClarificationPopup()">Clarification</button>
        <button id="ContractReviewPartialViewLink" class="tablinks" onclick="openCity(event, 'ContractReviewPartialView')" ng-click="BindContractReviewPopup()">Contract Review</button>
    </div>

    <div id="EnquiryView" class="tabcontent">
        @Html.Partial("PartialEnquiry")
    </div>

    <div id="QuoteRegPartialView" class="tabcontent">
        @Html.Partial("PartialQuoteReg")
    </div>

    <div id="QuotePrepPartialView" class="tabcontent">
        @Html.Partial("PartialQuotePrep")
    </div>

    <div id="OrdersPartialView" class="tabcontent">
        @Html.Partial("PartialOrders")
    </div>
    <div id="ClarificationPartialView" class="tabcontent">
        @Html.Partial("PartialClarification")
    </div>
    <div id="ContractReviewPartialView" class="tabcontent">
        @Html.Partial("PartialContractReview")
    </div>
</div>

<script>
    document.getElementById("defaultOpen").click();

    $(document).ready(function () {
        window.QuotePrepPopup = '@Url.Action("PartialQuotePrep", "Technical")';
        window.Clarification = '@Url.Action("PartialClarification", "Technical")';
        window.ContractReview = '@Url.Action("PartialContractReview", "Technical")';
        window.FetchQuotationList = '@Url.Action("FetchQuotationList", "Technical")';
        window.FetchOrdersList = '@Url.Action("FetchOrdersList", "Technical")';
        window.FetchEnquiryList = '@Url.Action("FetchEnquiryList", "Technical")';

        //$("#QuotePrepPartialViewLink").click(function (e) {
        //    $("#QuotePrepPartialView").html("Loading...").load($(this).data("url"));
        //});

    });

</script>