@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@section PageScripts{
    <script src="~/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <link href="~/assets/css/CommonValidation.css" rel="stylesheet" type="text/css" />
    @*<script src="~/Scripts/CustomJS/CustomerDetails.js"></script>
        <script src="~/Scripts/CustomAngularJS/CustomerMaster.js"></script>*@
    <script src="~/assets/js/custom.js" type="text/javascript"></script>
}
<link href="~/assets/css/tableStyle.css" rel="stylesheet" />


<div class="row mt-3">
    <div class="col-md-2">
        <button id="btnAdd" type="button" class="btn btn-outline-primary btn-sm btn-Add-CustomerDetails" style="float: left;"><i class="fa fa-plus"></i> Add New Customer</button>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                @*<input type="text" id="txtSearch" class="form-control btn-Search-CustomerDetails" placeholder="Search By Customer" />*@
                <div class="input-group">
                    <input type="text" class="form_download" id="txtSearch" placeholder="Search By Name">
                    <div class="input-group-btn">
                        <button class="btn btn-outline-brand" type="button" id="btnSearch">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <button id="btnClearSearch" type="button" class="btn btn-outline-primary btn-sm btn-ClearSearch-CustomerDetails" style="float: left;"><i class="fa fa-download"></i> Clear Search</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-12">
        <div class="form-group text-right">
            @if (@ViewBag.PagewiseAccessEntity != null && @ViewBag.PagewiseAccessEntity.IsEditAllowed)
            {
                <button type="button" id="btnSubmit" class="btn btn-primary">Add To List</button>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="tblCustomerDetails" class="table dva-table dva-tborder agencygrid">
                <thead>
                    <tr>
                        <th style="min-width:140px;">View/Edit/Delete</th>
                        <th style="min-width:140px;">
                            VENDOR ID
                        </th>
                        <th style="min-width:140px;">
                            VENDOR TYPE
                        </th>
                        <th style="min-width:140px;">
                            VENDOR NATURE
                        </th>
                        <th style="min-width:140px;">
                            FUNCTION AREA
                        </th>
                        <th style="min-width:140px;">
                            VENDOR NAME
                        </th>
                        <th style="min-width:140px;">
                            CITY
                        </th>
                        <th style="min-width:140px;">
                            STATE
                        </th>
                        <th style="min-width:140px;">
                            Contact Person
                        </th>
                        <th style="min-width:140px;">
                            DESIGNATION
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3" class="text-center">
                            <h3>
                                {{AvailableListTextToShow}}
                            </h3>
                        </td>
                    </tr>
                    <tr ng-repeat="L in AvailableCustomerList | filter: SearchText">
                        <td>
                            {{$index+1}}
                        </td>
                        <td>
                            {{L.VendorType}}
                        </td>
                        <td>
                            {{L.VendorNature}}
                        </td>
                        <td>
                            {{L.FunctionArea}}
                        </td>
                        <td>
                            {{L.City}}
                        </td>
                        <td>
                            {{L.State}}
                        </td>
                        <td>
                            {{L.ContactPerson}}
                        </td>
                        <td>
                            {{L.Designation}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td align="center" colspan="6">
                            <span class="form-group pull-left page-size form-inline">
                                <select id="ddlPageSize" class="form-control control-color"
                                        ng-model="pageSize"
                                        ng-change="changePageSize()">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </span>
                            <div class="pull-right">
                                <pagination total-items="totalcount" ng-change="pagechanged()" items-per-page="pageSize" direction-links="true" ng-model="pageIndex" max-size="maxsize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                                <a class="btn btn-primary">Page: {{pageIndex}} / {{numPages}}</a>
                            </div>
                        </td>
                    </tr>
                </tfoot>                
            </table>
        </div>
    </div>
</div>

<div class="modal" id="addCustomerDetails" tabindex="-1" role="dialog">
    @using (Ajax.BeginForm(actionName: "SaveCustomerDetails", controllerName: "Customer", ajaxOptions: new AjaxOptions
    {
        HttpMethod = "POST"
        // OnSuccess = "BuildingSpaceDetails.UploadFiles"
    },
            routeValues: null,
            htmlAttributes: new { id = "frmCustomerDetails" }))
    {
        <div class="modal-dialog" style="width:80%; max-width: 80%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*@Html.HiddenFor(m => m.TrnBuildingHdrId)*@
                    <h5 class="modal-title">Add Customer Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="div-Staff-details" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="add_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<script src="~/Scripts/jquery.Datatable.js"></script>
<script src="~/Scripts/CustomJS/CustomerDetails.js"></script>


<div class="modal fade" id="registor-Sucess-Failure" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Notification</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                &nbsp;&nbsp;<span id="spn-registor-Sucess-Failure"></span><span id="spnUserName" style="font-weight:bold"></span>&nbsp;&nbsp;<span id="spnUserNameMore"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Sucess-Failure" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Notification</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                &nbsp;&nbsp;<span id="spn-Sucess-Failure"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('#btnSearch').on("click", function () {
            CustomerDetails.OnSearch();
        })
    });

    $(function () {
        CustomerDetails.Load();
    });

    //COMPARING MOBILE NUMBER AND ALTERNATIVE MOBILE NUMBER
    var alterMobileNumber = $('#altrmobileNumber');
    alterMobileNumber.on('blur', function () {
        $('#sameMobileNumber').hide();
        if ($('#mobileNumber').val() == '') {
        }
        else {
            if (alterMobileNumber.val() == $('#mobileNumber').val()) {
                $('#sameMobileNumber').show();
                alterMobileNumber.val('');
            }
        }
    });

    $(document).on("blur", ".check_mobileNumber", function () {
        validateMobileNumberforFirst($(this));
    })

    function validateMobileNumberforFirst(e) {
        var mobileNumber = $(e).val();
        var one1 = String(mobileNumber).charAt(0);
        var one_as_number1 = Number(one1);
        if (one1 != "") {
            if (one_as_number1 < 7) {
                //$("#spn-Sucess-Failure").text('Mobile Number should start with 7 or 8 or 9')
                //$("#Sucess-Failure").modal('show');
                alertNotification('Please Enter valid Mobile Number');
                $(e).val('');
            }
        }
    }

    $(function () {

        var statusMsg = '@TempData.Peek("StatusMsg")';
        var StatusMsgBody = '@TempData.Peek("StatusMsgBody")';
            var userName = '@TempData.Peek("UserName")';
            var VendorName = '@TempData["VendorName"]';

        if (statusMsg == 'Success') {

            $("#spn-registor-Sucess-Failure").text(' Dear ' + userName + ', ');
            $("#spnUserName").text(" You are successfully registered the customer. With Name : " + VendorName + ". ");
            $("#spnUserNameMore").text(' ');
            $("#registor-Sucess-Failure").modal('show');
            @*$('#registor-Sucess-Failure').on('hidden.bs.modal', function () {
                window.location.href = '@Url.Action("Login", "Account")';
            });*@


        } else if (statusMsg=='Error') {
            $("#spn-registor-Sucess-Failure").text(' Dear ' + userName + ', ');
            $("#spnUserName").text(" Customer : " + StatusMsgBody + ".");
            $("#spnUserNameMore").text('Kindly Contact Support for any help.');
            $("#registor-Sucess-Failure").modal('show');
        }
    });

</script>

@section Scripts{
    @*<script src="~/Scripts/CustomAngularJS/CustomerMaster.js"></script>*@
}