<!DOCTYPE html>
@using NtierMvc.Infrastructure
@using NtierMvc.Model

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/flat-icon/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />*@
    <link href="~/assets/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />
    @RenderSection("PageStyles", required: false)
    <!-- Theme Layout Style Start-->
    <link href="~/assets/css/layout/theme-layout.css" rel="stylesheet" type="text/css" />
    <!-- Theme Layout Style End-->
    @RenderSection("PageCustomStyles", required: false)
    <script src="~/assets/plugins/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootbox/bootbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrsap-select/1.13.1/js/bootstrap-select.min.js"></script>*@
    <script src="~/assets/plugins/nice-scroll/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/select2/dist/js/select2.min.js" type="text/javascript"></script>
    <script src="~/assets/js/layout/theme-layout.js" type="text/javascript"></script>
    <script src="~/assets/js/custom.js" type="text/javascript"></script>
    <script src="~/Scripts/CustomJS/common.js?@ViewBag.ReleaseVersion" type="text/javascript"></script>
    @RenderSection("PageScripts", required: false)
    <style type="text/css">
        .modal-dialog {
            margin-top: 170px;
        }
    </style>
    <style>
        .bootstrap-select > .dropdown-toggle {
            position: relative;
            width: 100%;
            z-index: 1;
            text-align: right;
            white-space: nowrap;
            border-radius: 0px;
            border: 1px solid #ced4da;
            background-color: #fff;
            color: #958e96;
        }

        .show > .btn-light.dropdown-toggle {
            color: #4c4c4c;
            background-color: #dae0e5;
            border-color: #d3d9df;
            box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5);
        }

        .bootstrap-select .dropdown-menu li a {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: block;
            width: 100%;
            padding: .15rem 1rem;
            clear: both;
            font-weight: normal;
            color: #4c4c4c;
            text-align: inherit;
            white-space: nowrap;
            background: 0 0;
            border: 0;
            font-size: 0.8rem !important;
        }
    </style>
</head>
<body>
    <div class="overlap_container"><div class="overlap"><img src="~/assets/images/loader-orange.gif" /></div></div>
    <div class="mk-grid">
        <header class="dva-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light dva-menu">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="~/assets/images/maha_it.png" alt="MahaIT" />
                        <span class="dva-brand-text">
                            Maharashtra Information Technology Corporation Limited<br>
                            (Government of Maharashtra)
                        </span>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            @*<li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "Home",new { Area="Admin"})">Home </a>
                                </li>*@
                            <li class="nav-item">
                                @if (ERPContext.UserContext != null)
                                {
                                    var adminUsr = ERPContext.UserContext.UserRoles.Where(U => (U.RoleName == NtierMvc.Model.Constants.ERPVTIADMINROLENAME || U.RoleName == NtierMvc.Model.Constants.ERPITIADMINROLENAME)).FirstOrDefault();
                                    var FinanceAdmin = ERPContext.UserContext.UserRoles.Where(U => (U.RoleName == NtierMvc.Model.Constants.ERPFINANCEOFFICERROLENAME)).FirstOrDefault();

                                    if (FinanceAdmin != null)
                                    {
                                        <a class="nav-link" href="@Url.Action("FinanceOfficerDashboardView", "FinanceOfficerDetails", new { Area = "Admin" })">Home </a>

                                    }
                                    else if (adminUsr != null)
                                    {
                                        <a class="nav-link" href="@Url.Action("Index", "Home", new { Area = "Admin" })">Home </a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="@Url.Action("Home", "Application", new { Area = "" })">Home </a>
                                    }
                                }
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("AboutUs", "Application", new { Area = "" })">About Us </a>
                            </li>
                            <li class="nav-item" style="display:none">
                                <a class="nav-link" href="#">Help </a>
                            </li>
                            <li class="nav-item" style="display:none">
                                <a class="nav-link" href="#">FAQ </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ContactUs", "Application", new { Area = "" })">Contact Us </a>
                            </li>

                            @if (ERPContext.UserContext != null)
                            {
                                var adminUsr = ERPContext.UserContext.UserRoles.Where(U => (U.RoleName == NtierMvc.Model.Constants.ERPVTIADMINROLENAME || U.RoleName == NtierMvc.Model.Constants.ERPITIADMINROLENAME || U.RoleName == NtierMvc.Model.Constants.ERPFINANCEOFFICERROLENAME)).FirstOrDefault();
                                if (adminUsr != null)
                                {
                                    <li class="nav-item" style="display:none">
                                        <a class="nav-link" href="@Url.Action("ChangePassword", "Home", new { Area = "Admin" })">Change Password</a>
                                    </li>

                                }
                            }
                            <li class="nav-item">
                                @if (ERPContext.UserContext != null)
                                {
                                    <a class="nav-link cancelcnfrm" href="@Url.Action("SessionLogout", "Account", new { Area = "" })">Logout </a>
                                }
                                else
                                {
                                    <a class="nav-link" href="@Url.Action("Login", "Account", new { Area = "" })">Login <>Login </a>
                                }
                            </li>
                            <li class="nav-item">
                                <select class="form-control language-select" id="UrlList" onchange="doNavigate()">
                                    <option>Select Language</option>
                                    <option value="@Url.Action("Changelanguage", "Application", new { LanguageID = "En" })"> English </option>
                                    <option value="@Url.Action("Changelanguage", "Application", new { LanguageID = "mr" })"> मराठी </option>
                                </select>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </header>

        <div class="mk-body">
            <div class="mk-aside-left">
                <div class="mk-sidebar-menu">
                    <div class="mk-sidebar-navtitle">
                        <span class="navtitle">Navigation</span>
                        <span class="mk-menu-close-mobile"><img src="~/assets/images/menu-toggler-close.png" /></span>
                    </div>

                    <ul class="mk-sbmenu-content">
                        <li>
                            @if (ERPContext.UserContext != null)
                            {
                                var adminUsr = ERPContext.UserContext.UserRoles.Where(U => (U.RoleName == NtierMvc.Model.Constants.ERPVTIADMINROLENAME || U.RoleName == NtierMvc.Model.Constants.ERPITIADMINROLENAME)).FirstOrDefault();
                                var FinanceAdmin = ERPContext.UserContext.UserRoles.Where(U => (U.RoleName == NtierMvc.Model.Constants.ERPFINANCEOFFICERROLENAME)).FirstOrDefault();

                                if (FinanceAdmin != null)
                                {
                                    <a href="@Url.Action("FinanceOfficerDashboardView", "FinanceOfficerDetails", new { Area = "Admin" })">
                                        <span class="menu-icon flaticon-home-icon-silhouette"></span>
                                        <span class="menu-text">Dashboard</span>
                                    </a>
                                }
                                else if (adminUsr != null)
                                {
                                    <a href="@Url.Action("Index", "Home", new { Area = "Admin" })">
                                        <span class="menu-icon flaticon-home-icon-silhouette"></span>
                                        <span class="menu-text">Dashboard</span>
                                    </a>
                                }
                            }
                        </li>
                        @*<li class="has-submenu">
                                <a href="#application_form" data-toggle="collapse" aria-expanded="true" data-parent=".mk-sbmenu-content">
                                    <span class="menu-icon flaticon-menu"></span>
                                    <span class="menu-text">Application Form</span>
                                </a>
                                <ul class="sub-menu collapse show" id="application_form">
                                    <li class="li-auth-rep">
                                        <a href="@Url.Action("Index","AuthorizedRepresentativeDetails",new { Area="Admin"})">
                                            <span class="smenu-icon fa fa-sitemap"></span>
                                            <span class="smenu-text">Authorized Representative Details</span>
                                        </a>
                                    </li>
                                    <li class="li-promo-org">
                                        <a href="@Url.Action("PromotingOrgDetails","PromotingOrgVerification",new { Area="Admin"})">
                                            <span class="smenu-icon fa fa-sitemap"></span>
                                            <span class="smenu-text">Promoting Organization Details</span>
                                        </a>
                                    </li>
                                    <li class="li-promoters">
                                        <a href="@Url.Action("PromotersDetails","PromotersDetails",new { Area="Admin"})">
                                            <span class="smenu-icon fa fa-user"></span>
                                            <span class="smenu-text">Promoters Details</span>
                                        </a>
                                    </li>
                                    <li class="li-propo-inst">
                                        <a href="@Url.Action("Index","ProposedInstituteDetails",new { Area="Admin"})">
                                            <span class="smenu-icon fa fa-building-o"></span>
                                            <span class="smenu-text">Proposed Institute Details</span>
                                        </a>
                                    </li>
                                    <li class="li-propo-trade">
                                        <a href="@Url.Action("Index","ProposedTradeUnitDetails",new { Area="Admin"})">
                                            <span class="smenu-icon fa fa-puzzle-piece"></span>
                                            <span class="smenu-text">Proposed Trade / Units Details</span>
                                        </a>
                                    </li>
                                    @if (@MahaITContext.UserContext.AppCode != AppType.VTI)
                                    {
                                    <li class="li-land">
                                        <a href="@Url.Action("Index", "LandDetails", new { Area = "Admin" })">
                                            <span class="smenu-icon fa fa-university"></span>
                                            <span class="smenu-text">Land Details</span>
                                        </a>
                                    </li>
                                    }
                                    <li class="li-funds">
                                        <a href="@Url.Action("Index","FundsRequirementDetails",new { Area="Admin"})">
                                            <span class="smenu-icon fa fa-bar-chart"></span>
                                            <span class="smenu-text">Funds Availability and Requirement Details</span>
                                        </a>
                                    </li>
                                    <li class="li-fees">
                                        <a href="@Url.Action("FeeCalculationForAdmin","FeeCalculationForAdmin",new { Area="Admin"})">
                                            <span class="smenu-icon fa fa-money"></span>
                                            <span class="smenu-text">Fees Calculation</span>
                                        </a>
                                    </li>
                                    <li class="li-iti-decl">
                                        <a href="@Url.Action("ITIDeclarationVerification","UndertakingVerification",new { Area="Admin"})">
                                            <span class="smenu-icon fa fa-thumbs-o-up"></span>
                                            <span class="smenu-text">Undertaking</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>*@

                        <li>
                            <a href="@Url.Action("EnquireURN", "EnquireURN", new { Area = "Admin" })">
                                <span class="menu-icon fa fa-question-circle"></span>
                                <span class="menu-text" id="EnquireURN"> Enquire URN</span>
                            </a>
                        </li>

                        @if (ERPContext.UserContext != null)
                        {
                            var FinanceAdmin = ERPContext.UserContext.UserRoles.Where(U => (U.RoleName == NtierMvc.Model.Constants.ERPFINANCEOFFICERROLENAME)).FirstOrDefault();

                            var adminUsr = ERPContext.UserContext.UserRoles.Where(U => (U.RoleName == NtierMvc.Model.Constants.ERPVTIADMINROLENAME || U.RoleName == NtierMvc.Model.Constants.ERPITIADMINROLENAME)).FirstOrDefault();

                            if (FinanceAdmin != null)
                            {
                                <li>
                                    <a href="@Url.Action("FinanceOfficerPaymentDetails", "FinanceOfficerDetails", new { Area = "Admin" })">
                                        <span class="menu-icon fa fa-question-circle"></span>
                                        <span class="menu-text"> Enquire URN</span>
                                    </a>
                                </li>
                            }

                            if (adminUsr != null)
                            {
                                <li>
                                    <a href="@Url.Action("RegistrationsNLOIDetails", "LOINRegistrations", new { Area = "Admin" })">
                                        <span class="menu-icon fa fa-pencil-square-o"></span>
                                        <span class="menu-text" id="LOINRegistrations"> Registrations & LOI Count</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("StatusCheck", "StatusCheck", new { Area = "Admin" })">
                                        <span class="menu-icon fa fa-check-square-o"></span>
                                        <span class="menu-text" id="StatusCheck"> Status check</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="menu-icon fa fa-clipboard"></span>
                                        <span class="menu-text"> Issue of Approval letter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="menu-icon fa fa-certificate"></span>
                                        <span class="menu-text"> Recommendation of Trade & Units</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ManageNorms", "ManageNorms", new { Area = "Admin" })">
                                        <span class="menu-icon fa fa-edit"></span>
                                        <span class="menu-text" id="ManageNorms"> Manage Norms</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "InspectionStatus", new { Area = "Admin" })">
                                        <span class="menu-icon fa fa-check-square-o"></span>
                                        <span class="menu-text" id="InspectionStatus"> Inspection Status Check</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "InspectionRegistrations", new { Area = "Admin" })">
                                        <span class="menu-icon fa fa-edit"></span>
                                        <span class="menu-text" id="InspectionRegistrations"> Manage Inspection Registrations</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

            <div class="mk-content-wrapper">
                <div class="mk-page-bar">
                    <div>
                        <span class="mk-menu-toggle"> <img src="~/assets/images/menu-toggler.png" /></span>
                        <span class="mk-menu-toggle-mobile"><img src="~/assets/images/menu-toggler.png" /></span>
                    </div>
                    <div>
                        <ul class="mk-horizontal-menu" style="display:none;">
                            <li class="mk-hm-nav">
                                <a href="@Url.Action("EnquireURN", "EnquireURN", new { Area = "Admin" })">Enquire URN</a>
                            </li>

                            @if (ERPContext.UserContext != null)
                            {
                                var FinanceAdmin = ERPContext.UserContext.UserRoles.Where(U => (U.RoleName == NtierMvc.Model.Constants.ERPFINANCEOFFICERROLENAME)).FirstOrDefault();

                                if (FinanceAdmin != null)
                                {
                                    <li class="mk-hm-nav">
                                        <a href="@Url.Action("FinanceOfficerPaymentDetails", "FinanceOfficerDetails", new { Area = "Admin" })">
                                            <span class="menu-icon fa fa-question-circle"></span>
                                            <span class="menu-text"> Payment Details</span>
                                        </a>
                                    </li>
                                }

                                var adminUsr = ERPContext.UserContext.UserRoles.Where(U => (U.RoleName == NtierMvc.Model.Constants.ERPVTIADMINROLENAME || U.RoleName == NtierMvc.Model.Constants.ERPITIADMINROLENAME)).FirstOrDefault();

                                if (adminUsr != null)
                                {
                                    <li class="mk-hm-nav">
                                        <a href="@Url.Action("RegistrationsNLOIDetails", "LOINRegistrations", new { Area = "Admin" })">Registrations & LOI Count</a>
                                    </li>
                                    <li class="mk-hm-nav">
                                        <a href="@Url.Action("StatusCheck", "StatusCheck", new { Area = "Admin" })">Status check</a>
                                    </li>
                                    <li class="mk-hm-nav">
                                        <a href="#">Issue of Approval letter</a>
                                    </li>
                                    <li class="mk-hm-nav">
                                        <a href="#">Recommendation of Trade & Units</a>
                                    </li>
                                    <li class="mk-hm-nav">
                                        <a href="@Url.Action("ManageNorms", "ManageNorms", new { Area = "Admin" })">Manage Norms</a>
                                    </li>
                                    <li class="mk-hm-nav">
                                        <a href="@Url.Action("Index", "InspectionStatus", new { Area = "Admin" })">Inspection Status Check</a>
                                    </li>
                                    <li class="mk-hm-nav">
                                        <a href="@Url.Action("Index", "InspectionRegistrations", new { Area = "Admin" })">Manage Inspection Registrations</a>
                                    </li>

                                }
                            }
                        </ul>
                    </div>
                    @*<div>
                            <ul class="mk-horizontal-menu">
                                <li class="mk-hm-nav mk-hm-has-submenu">
                                    <a href="#">Application Form</a>
                                    <div class="mk-hm-dropdown">
                                        <ul class="">
                                            <li><a href="@Url.Action("Index","AuthorizedRepresentativeDetails")">Authorized Representative Details</a></li>
                                            <li><a href="@Url.Action("PromotingOrgDetails","PromotingOrgVerification")">Promoting Organization Details</a></li>
                                            <li><a href="@Url.Action("PromotersDetails","PromotersDetails")">Promoters Details</a></li>
                                            <li><a href="@Url.Action("Index","ProposedInstituteDetails")">Proposed Institute Details</a></li>
                                            <li><a href="@Url.Action("Index","ProposedTradeUnitDetails")">Proposed Trade / Units Details</a></li>
                                            @if (@MahaITContext.UserContext.AppCode != AppType.VTI)
                                            {
                                                <li><a href="@Url.Action("Index", "LandDetails")">Land Details</a></li>
                                            }
                                            <li><a href="@Url.Action("Index","FundsRequirementDetails")">Funds Availability and Requirement Details</a></li>
                                            <li><a href="@Url.Action("Index","FeeCalculationForAdmin")">Fees Calculation</a></li>
                                            <li><a href="@Url.Action("Index","UndertakingVerification")">Undertaking</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mk-hm-nav mk-hm-has-submenu">
                                    <a href="#">Infrastructure Details</a>
                                    <div class="mk-hm-dropdown">
                                        <ul class="">
                                            <li><a href="pvt-iti-workshop-space-details.html">Workshop Space Details</a></li>
                                            <li><a href="pvt-iti-common-specility-space-details.html">Common Facility Space Details</a></li>
                                            <li><a href="pvt-iti-building-details.html">Building Details</a></li>
                                            <li><a href="pvt-iti-power-details.html">Power Details</a></li>
                                            <li><a href="pvt-iti-infra-details.html">Infrastructure Details</a></li>
                                            <li><a href="pvt-iti-other-infra-details.html">Other Infrastructure Details</a></li>
                                            <li><a href="pvt-iti-inspection-details.html">Submit Details and Request for Inspection</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>*@
                    <div class="ml-auto">
                        @if (ERPContext.UserContext != null)
                        {
                            @*<span class="mk-profile"><img src="~/assets/images/profile.png" />&nbsp; @MahaITContext.UserContext.FirstName.ToUpper() @MahaITContext.UserContext.LastName.ToUpper(), @MahaITContext.UserContext.UserName.ToUpper()</span>*@
                            <span class="mk-profile"><img src="~/assets/images/profile.png" />&nbsp; @ERPContext.UserContext.UserName.ToUpper()</span>

                        }
                    </div>
                </div>
                <div class="mk-page-content">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="dva-common-container">
                                @RenderBody()
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <footer class="mk-footer">
            <span>© 2017 This is official website of Enterprise Resource Planning. All Rights Reserved.</span>
            <span><a href="" target="__blank">Powered by ERP</a></span>
        </footer>
    </div>
    @RenderSection("PageScriptsEnd", required: false)
    @{
        string CssController = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    }
    <script type="text/javascript">
        function doNavigate() {
            window.location.href = document.getElementById("UrlList").value;
        }
        //Model scroll ///
        $(document).on('hidden.bs.modal', '.modal', function () {
            $('.modal:visible').length && $(document.body).addClass('modal-open');
        });
        $(document).ready(function () {
            $(".menu-text").each(function () {
                if ($(this).attr("id") == '@CssController') {
                    $(this).css("color", "#5595c2");
                    $(this).siblings().css("color", "#5595c2");
                }
            })
        });
    </script>
</body>
</html>
