@model NtierMvc.Model.EnquiryEntity

@{
    ViewBag.Title = "EnquiryDetails";
}

@*@using (Html.BeginForm("SaveEnquiryDetails", "Enquiry", FormMethod.Post, new { @id = "formSaveEnquiryDetail" }))
    {*@
<div ng-controller="ModalController">
    <form id="formSaveEnquiryDetail">
        @Html.HiddenFor(m => m.EnquiryId)
        <div class="row">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label class="control-label">
                        User Initial
                    </label>
                    @Html.TextBoxFor(m => m.UserInitial, new
               {
                   @class = "form-control requiredValidation",
                   @id = "UserInitial",
                   @readonly = "readonly"
               })
                    @Html.HiddenFor(m => m.UnitNo)
                    @*<span class="HideValidMsg">Please Enter Valid Letter Number</span>
                        <span class="HideValidMsg">Please Select Post</span>*@
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Vendor Name
                    </label>
                    @Html.DropDownListFor(m => m.VendorId, new SelectList(@ViewBag.ListVendorId, "DataStringValueField", "DataTextField", Model.VendorId),
                    new
                    {
                        @class = "form-control requiredValidation",
                        @id = "VendorName",
                        @data_inneraction = "validationCall",
                        @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                        ng_model = "VendorId"
                    })
                    <span class="HideValidMsg">Please Select Name</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        City
                    </label>
                    @Html.TextBoxFor(m => m.City, new
               {
                   @class = "form-control requiredValidation",
                   @id= "City",
                   @placeholder = "Select Vendor Name",
                   ng_model = "City",
                   @readonly = "readonly"
               })
                    <span class="HideValidMsg">Please Select Vendor Name</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        State
                    </label>
                    @Html.TextBoxFor(m => m.State, new
               {
                   @class = "form-control requiredValidation",
                   @id= "State",
                   @placeholder = "Select Vendor Name",
                   ng_model = "State",
                   @readonly = "readonly"
               })
                    @Html.TextBoxFor(m => m.StateId, new { ng_model = "StateId", @hidden = "hidden" })
                    <span class="HideValidMsg">Please Select Vendor Name</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Country <span class="required">*</span>
                    </label>
                    @Html.TextBoxFor(m => m.Country, new
               {
                   @class = "form-control requiredValidation",
                   @id= "Country",
                   @placeholder = "Select Vendor Name",
                   ng_model = "Country",
                   @readonly = "readonly"
               })
                    @Html.TextBoxFor(m => m.CountryId, new { ng_model = "CountryId", @hidden = "hidden" })
                    @*@Html.DropDownListFor(m => m.Country, new SelectList(@ViewBag.ListCountry, "DataValueField", "DataTextField", Model.Country),
                        new
                        {
                            @class = "form-control requiredValidation",
                            @id = "Country",
                            @data_inneraction = "validationCall",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })*@
                    <span class="HideValidMsg">Please Select Vendor Name</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Enquiry Reference <span class="required">*</span>
                    </label>
                    @Html.TextBoxFor(m => m.EnqRef, new
               {
                   @class = "form-control requiredValidation",
                   @id= "EnqRef",
                   ng_model = "EnqRef",
                   @placeholder = "Enquiry Reference"
               })
                    <span class="HideValidMsg">Please Enter Enquiry Reference</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Enquiry Date
                    </label>
                    @Html.TextBoxFor(m => m.EnqDt, new
               {
                   @class = "form-control requiredValidation ApprovalEnqDate",
                   @id = "EnqDt",
                   @placeholder = "dd/MM/yyyy",
                   @style = "disabled :disabled",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
               })
                    <span class="HideValidMsg">Please Select Enquiry Date</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Enquiry Type</label>
                    <div class="m-radio-inline">
                        @Html.TextBoxFor(m => m.EnqType, new
                       {
                           @class = "form-control requiredValidation",
                           @id= "EnqType",
                           @placeholder = "Select Vendor Name",
                           ng_model = "EnqType",
                           @readonly = "readonly",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                       })
                        @*@Html.DropDownListFor(m => m.EnqType, new SelectList(@ViewBag.ListEnqType, "DataValueField", "DataTextField", Model.Eoq),
                        new
                        {
                            @class = "form-control requiredValidation",
                            @id = "EnqType",
                            @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                        })*@
                    </div>
                    <span class="HideValidMsg">Please Select Enquiry Type</span>
                    @Html.TextBoxFor(m => m.EnqTypeId, new { ng_model = "EnqTypeId", @hidden = "hidden" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Due Date
                    </label>
                    @Html.TextBoxFor(m => m.DueDate, new
               {
                   @class = "form-control requiredValidation ApprovalDate",
                   @id = "DueDate",
                   @placeholder = "dd/MM/yyyy",
                   @style = "disabled :disabled",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
               })
                    <span class="HideValidMsg">Please Select Enquiry Date</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Product Group
                    </label>
                    @Html.DropDownListFor(m => m.ProdGrp, new SelectList(@ViewBag.ListProdGrp, "DataValueField", "DataTextField", Model.Eoq),
                    new
                    {
                        @class = "form-control requiredValidation",
                        @id = "ProdGrp",
                        @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                    })
                    <span class="HideValidMsg">Please Select Product Group</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Expression of Quote(EOQ) <span class="required">*</span>
                    </label>
                    @Html.DropDownListFor(m => m.Eoq, new SelectList(@ViewBag.ListEOQ, "DataValueField", "DataTextField", Model.Eoq),
                    new
                    {
                        @class = "form-control requiredValidation",
                        @id = "Eoq",
                        @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                    })
                    <span class="HideValidMsg">
                        Please Select Expression of Quote(EOQ)
                    </span>
                    @*@Html.ValidationMessageFor(m => m.Vicinity.NameofInstitute, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Enquiry For
                    </label>
                    @Html.TextBoxFor(m => m.EnqFor, new
               {
                   @class = "form-control requiredValidation",
                   @id = "EnqFor",
                   @placeholder = "Enquiry For",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
               })
                    <span class="HideValidMsg">Please Select Enquiry Date</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Lead Time
                    </label>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.LeadTime, new
                       {
                           @class = "form-control requiredValidation",
                           @id = "LeadTime",
                           @placeholder = "Lead Time",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                       })
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.LeadTimeDuration, new SelectList(@ViewBag.ListLeadTimeDuration, "DataValueField", "DataTextField", Model.LeadTimeDuration),
                    new
                    {
                        @class = "form-control requiredValidation",
                        @id = "LeadTimeDuration",
                        @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                    })
                        </div>
                    </div>
                    <span class="HideValidMsg">Please Select Letter Date</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        End User <span class="required">*</span>
                    </label>
                    @Html.TextBoxFor(m => m.EndUser, new
               {
                   @class = "form-control",
                   @id = "EndUser",
                   @placeholder = "End User"
               })
                    <span class="HideValidMsg">Please Select End User</span>
                    @*@Html.ValidationMessageFor(m => m.Vicinity.NameofInstitute, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Api Monogram Requirement
                    </label>
                    @Html.DropDownListFor(m => m.ApiMonogramRequirement, new SelectList(@ViewBag.YesNo, "DataValueField", "DataTextField", Model.ApiMonogramRequirement),
                   new
                   {
                       @class = "form-control requiredValidation",
                       @id = "ApiMonogramRequirement",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                   })
                    <span class="HideValidMsg">Please Select Api Monogram Requirement</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Remarks
                    </label>
                    @Html.TextBoxFor(m => m.Remarks, new
               {
                   @class = "form-control",
                   @id = "Remarks",
                   @placeholder = "Remarks",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
               })
                    <span class="HideValidMsg">Please Select Remarks</span>
                    @*@Html.ValidationMessageFor(m => m.Vicinity.NameofInstitute, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Reason For Regret
                    </label>
                    @Html.TextBoxFor(m => m.ReasonForRegret, new
               {
                   @class = "form-control",
                   @id = "ReasonForRegret",
                   @placeholder = "Reason For Regret",
                   @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
               })
                    <span class="HideValidMsg">Please Select Reason for Regret</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Mode of enquiry
                    </label>
                    @Html.DropDownListFor(m => m.EnqMode, new SelectList(@ViewBag.ListEnqMode, "DataValueField", "DataTextField", Model.EnqMode),
                    new
                    {
                        @class = "form-control requiredValidation",
                        @id = "EnqMode",
                        @data_inneraction = "validationCall",
                        @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                    })
                    <span class="HideValidMsg">
                        Please Enter Mode of enquiry
                    </span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        Enquiry Through
                    </label>
                    @Html.DropDownListFor(m => m.EnqThru, new SelectList(@ViewBag.ListEnqThru, "DataValueField", "DataTextField", Model.EnqThru),
                    new
                    {
                        @class = "form-control requiredValidation",
                        @id = "EnqThru",
                        @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                    })
                    <span class="HideValidMsg">Please Select Enquiry Through</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">
                        BG Required
                    </label>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.EnqBGreq, new SelectList(@ViewBag.YesNo, "DataValueField", "DataTextField", Model.EnqBGreq),
                            new
                            {
                                @class = "form-control requiredValidation",
                                @id = "EnqBGreq",
                                @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                            })
                        </div>
                    </div>
                    <span class="HideValidMsg">Please Select BG Required</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-4 text-center">
                <input style="font-size:18px" type="button" class="btn btn-success btn-sm btn-save-EnquiryDetails" id="save_results" ng-click="SaveEnquiry()" value="Save" />
                <input style="font-size:18px" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" value="Close" />
            </div>
        </div>
    </form>
</div>
@*}*@
<script>
    $(document).ready(function () {
        //$('.multiple-checkboxes').multiselect();

        window.SaveEnquiry = '@Url.Action("SaveEnquiryDetails", "Enquiry")';
        window.VendorDetailForEnquiry = '@Url.Action("GetVendorDetailForEnquiry", "Enquiry")';

        //$('#save_results').on("click", function () {
        //    EnquiryDetails.FinalSave();
        //})
    });
    //LEASE DATE AND EXP LEASE DATE VALIDATION
    $('.ApprovalDate').datepicker({

        format: 'dd/mm/yyyy',
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: '',
    });
    $('.ApprovalEnqDate').datepicker({

        format: 'dd/mm/yyyy',
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: 'today',
    });
</script>
<script src="~/Scripts/CustomJS/common.js"></script>