@using NtierMvc.Model
@using NtierMvc.Infrastructure
@model NtierMvc.Model.EnquiryEntityDetails
@{
    ViewBag.Title = "Enquiry Details";
}

@section PageScripts{
    <script src="~/Scripts/CustomJS/Staff.js?@ViewBag.ReleaseVersion"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
}
<link href="~/assets/css/tableStyle.css" rel="stylesheet" />

<div class="row mt-3">
    <div class="col-md-12">
        <div class="form-group text-right">
            <button id="btnAdd" type="button" class="btn btn-outline-primary btn-sm btn-Add-EnquiryDetails" style="float: left;"><i class="fa fa-plus"></i> Add Enquiry Details</button>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-12">
        <div class="form-group text-right">
            @if (@ViewBag.PagewiseAccessEntity != null && @ViewBag.PagewiseAccessEntity.IsEditAllowed)
            {
                <button type="button" id="btnSubmit" class="btn btn-primary">Add To List</button>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="tblEnquiryDetailsDetails" class="table dva-table dva-tborder agencygrid">
                <thead>
                    <tr>
                        <th style="min-width:140px;">View/Edit/Delete</th>
                        <th style="min-width:140px;">
                            USER_INITIAL
                        </th>
                        <th style="min-width:140px;">
                            UNIT_NO
                        </th>
                        <th style="min-width:140px;">
                            VENDOR_NAME
                        </th>
                        <th style="min-width:140px;">
                            COUNTRY
                        </th>
                        <th style="min-width:140px;">
                            ENQ_REF
                        </th>
                        <th style="min-width:140px;">
                            ENQ_DT
                        </th>
                        <th style="min-width:140px;">
                            ENQ_TYPE
                        </th>
                        <th style="min-width:140px;">
                            DUE_DATE
                        </th>
                        <th style="min-width:140px;">
                            PROD_GRP
                        </th>
                        <th style="min-width:140px;">
                            ENQ_FOR
                        </th>
                        <th style="min-width:140px;">
                            EOQ
                        </th>
                        <th style="min-width:140px;">
                            LEADTIME
                        </th>
                        <th style="min-width:140px;">
                            END_USER
                        </th>
                        <th style="min-width:140px;">
                            API_MONOGRAM_REQUIREMENT
                        </th>
                        <th style="min-width:140px;">
                            REASON_FOR_REGRET
                        </th>
                        <th style="min-width:140px;">
                            DATE_OF_RECEIPT
                        </th>
                        <th style="min-width:140px;">
                            REMARKS
                        </th>
                        <th style="min-width:140px;">
                            ENQ_MODE
                        </th>
                        <th style="min-width:140px;">
                            ENQ_THRU
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int index = 0; index < Model.lstEnqEntity.Count; index++)
                    {
                    <tr data-keyvalue="@Model.lstEnqEntity[index].EnquiryId">
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm btn-view-EnquiryDetails" data-toggle="tooltip" data-placement="bottom" title="VIEW">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-sm btn-Edit-EnquiryDetails" data-toggle="tooltip" data-placement="bottom" title="EDIT">
                                <i class="fa fa-edit"></i>
                            </button>
                            <a href="@Url.Action("DeleteEnquiryDetail", "Enquiry")/@Model.lstEnqEntity[index].EnquiryId" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
                        </td>
                        @*<td>
            @(index + 1)
        </td>*@
                        <td>
                            <span class="spnProfileDetail">
                                @Html.HiddenFor(m => m.lstEnqEntity[index].EnquiryId, new { id = "EnquiryId" })
                                @Model.lstEnqEntity[index].UserInitial
                            </span>
                        </td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].UnitNo</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].VendorName</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].Country</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].EnqRef</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].EnqDt</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].EnqType</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].DueDate</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].ProdGrp</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].EnqFor</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].Eoq</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].LeadTime - @Model.lstEnqEntity[index].TimeDuration </span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].EndUser</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].ApiMonogramRequirement</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].ReasonForRegret</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].DateOfReceipt</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].Remarks</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].EnqMode</span></td>
                        <td><span class="spnProfileDetail">@Model.lstEnqEntity[index].EnqThru</span></td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" id="addEnquiryDetails" tabindex="-1" role="dialog">
    @using (Ajax.BeginForm(actionName: "SaveEnquiryDetails", controllerName: "Enquiry", ajaxOptions: new AjaxOptions
    {
        HttpMethod = "POST"
        // OnSuccess = "BuildingSpaceDetails.UploadFiles"
    },
            routeValues: null,
            htmlAttributes: new { id = "frmEnquiryDetails" }))
    {
        <div class="modal-dialog" style="width:80%; max-width: 80%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*@Html.HiddenFor(m => m.TrnBuildingHdrId)*@
                    <h5 class="modal-title">Add Enquiry Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="div-Staff-details" class="modal-body">

                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Save" />
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close" />
                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="add_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<script src="~/Scripts/jquery.Datatable.js"></script>
<script src="~/Scripts/CustomJS/EnquiryDetails.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
<script type="text/javascript">
        $(document).ready(function () {
            window.OtherDetailsPopup = '@Url.Action("EnquiryPopup", "Enquiry")';

            var Data = '@TempData["StatusMsg"]';
            if (Data === "INSERTED SUCCESSFULLY" || Data === "UPDATED SUCCESSFULLY")
            {
                alertNotification(Data);
            }

        })
        $(function () {
            EnquiryDetails.Load();
        });
</script>
