
@{
    ViewBag.Title = "CustomerMaster";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<link href="~/assets/css/tableStyle.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/tabs.js"></script>

<div ng-controller="MainController">
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'CustomerPartialView')" id="defaultOpen" ng-click="FetchCustomerList()">Customer</button>
        <button class="tablinks" onclick="openCity(event, 'EnquiryPartialView')" ng-click="FetchEnquiryList()">Enquiry</button>
        <button class="tablinks" onclick="openCity(event, 'QuotationPartialView')" ng-click="FetchQuotationList()">Quotation</button>
        <button class="tablinks" onclick="openCity(event, 'OrdersPartialView')" ng-click="FetchOrdersList()">Order</button>
    </div>

    <!-- Tab content -->
    <div id="CustomerPartialView" class="tabcontent">
        @Html.Partial("PartialCustomer")
    </div>

    <div id="EnquiryPartialView" class="tabcontent">
        @Html.Partial("../Enquiry/PartialEnquiry")
    </div>

    <div id="QuotationPartialView" class="tabcontent">
        @Html.Partial("../Quotation/PartialQuotation")
    </div>

    <div id="OrdersPartialView" class="tabcontent">
        @Html.Partial("../Technical/PartialOrderViewOnly")
    </div>
</div>

<script>
        document.getElementById("defaultOpen").click();
    
    $(document).ready(function () {

        window.OtherDetailsPopup = '@Url.Action("CustomerPopup", "Customer")';
        window.CustomerWithSearch = '@Url.Action("CustomerWithSearch", "Customer")';
        
        window.SaveCustomer = '@Url.Action("SaveCustomerDetails", "Customer")';
        window.StateDetail = '@Url.Action("GetStateDetail", "Customer")';      
        
        window.OtherDetailsPopup = '@Url.Action("CustomerPopup", "Customer")';
        window.CustomerWithSearch = '@Url.Action("CustomerWithSearch", "Customer")';
        window.FetchCustomerList = '@Url.Action("FetchCustomerList", "Customer")';
        window.DeleteCustomerDetail = '@Url.Action("DeleteCustomerDetail", "Customer")';
        
        window.EnquiryDetailsPopup = '@Url.Action("EnquiryPopup", "Technical")';
        window.FetchEnquiryList = '@Url.Action("FetchEnquiryList", "Enquiry")';
        window.DeleteEnquiryDetail = '@Url.Action("DeleteEnquiryDetail", "Technical")';

        window.QuotationDetailsPopup = '@Url.Action("QuotationPopup", "Technical")';
        window.RevisedQuotationDetailsPopup = '@Url.Action("RevisedQuotationPopup", "Technical")';
        window.GetPrepQuoteNo = '@Url.Action("GetPrepQuoteNo", "Technical")';
        window.FetchQuotationList = '@Url.Action("FetchQuotationList", "Technical")';
        window.FetchOrdersList = '@Url.Action("FetchOrdersList", "Technical")';

    })

</script>