@using NtierMvc.Model
@using NtierMvc.Infrastructure

@model NtierMvc.Model.Customer.CustomerEntityDetails
@{
    ViewBag.Title = "Customer";
}

<div class="row mt-3">
    <div class="col-md-2">
        <button id="btnAdd" type="button" class="btn btn-outline-primary btn-sm" style="float: left;" ng-click="BindCustomerPopup()"><i class="fa fa-plus"></i> <b>Add New Customer</b></button>
    </div>
    <div class="col-md-8">
        <div class="row text-center">
            <div class="col-md-2">
                <label>Vendor ID</label>
            </div>
            <div class="col-md-2">
                <label>Vendor Type</label>
            </div>
            <div class="col-md-2">
                <label>Vendor Nature</label>
            </div>
            <div class="col-md-2">
                <label>Function Area</label>
            </div>
            <div class="col-md-2">
                <label>Vendor Name</label>
            </div>
            <div class="col-md-2">
                <label>Quote Type</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    @Html.DropDownList("VendorId", new SelectList(@ViewBag.ListVendorId, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model= "SearchCustVendorID"
                           })
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    @Html.DropDownList("VendorType", new SelectList(@ViewBag.ListVendorType, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model= "SearchCustVendorType"
                           })
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    @Html.DropDownList("VendorNatureId", new SelectList(@ViewBag.ListVendorNature, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model= "SearchCustVendorNature"
                           })
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    @Html.DropDownList("FunctionalAreaId", new SelectList(@ViewBag.ListFunctionalArea, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model= "SearchCustFunctionalArea"
                           })
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    @Html.DropDownList("VendorName", new SelectList(@ViewBag.ListVendorName, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model= "SearchCustName"
                           })
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    @Html.DropDownList("QuoteType", new SelectList(@ViewBag.ListQuoteType, "DataStringValueField", "DataTextField", "Select"),
                           new
                           {
                               @class = "form-control",
                               ng_model= "SearchQuoteType"
                           })
                </div>
            </div>
            <div class="input-group-btn col-md-2">
                <button class="btn btn-link" type="button" id="btnSearch" ng-click="FetchCustomerList()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-12">
        @*<div class="form-group text-right">
                @if (@ViewBag.PagewiseAccessEntity != null && @ViewBag.PagewiseAccessEntity.IsEditAllowed)
                {
                    <button type="button" id="btnSubmit" class="btn btn-primary">Add To List</button>
                }
            </div>*@
    </div>
</div>


<div class="wrapper">
    <div class="container">
        <table>
            <thead class="tblhead">
                <tr>
                    <th>
                        Action
                        <div class="c1">
                            Action
                        </div>
                    </th>
                    <th>
                        Vendor Id
                        <div class="c2">
                            Vendor Id
                        </div>
                    </th>
                    <th>
                        Vendor Type
                        <div class="c3">
                            Vendor Type
                        </div>
                    </th>
                    <th>
                        Vendor Nature
                        <div class="c3">
                            Vendor Nature
                        </div>
                    </th>
                    <th>
                        Function Area
                        <div class="c3">
                            Function Area
                        </div>
                    </th>
                    <th>
                        Vendor Name
                        <div class="c3">
                            Vendor Name
                        </div>
                    </th>
                    <th>
                        City
                        <div class="c3">
                            City
                        </div>
                    </th>
                    <th>
                        Contact Person
                        <div class="c3">
                            Contact Person
                        </div>
                    </th>
                    <th>
                        Designation
                        <div class="c3">
                            Designation
                        </div>
                    </th>
                    @*<th>
                        State
                        <div class="c3">
                            State
                        </div>
                    </th>
                    <th>
                        Country
                        <div class="c3">
                            Country
                        </div>
                    </th>
                    <th>
            Email
            <div class="c3">
                Email
            </div>
        </th>*@
                    <th>
                        Mobile
                        <div class="c3">
                            Mobile
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="L in AvailableCustomerList">
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="VIEW" ng-click="LoadCustomerViewPopup(L.CustomerId)">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="EDIT" ng-click="LoadCustomerEditPopup(L.CustomerId)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="DELETE" ng-click="DeleteCustomer(L.CustomerId)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td>
                        {{L.VendorId}}
                    </td>
                    <td>
                        {{L.VendorType}}
                    </td>
                    <td>
                        {{L.VendorNature}}
                    </td>
                    <td>
                        {{L.FunctionArea}}
                    </td>
                    <td>
                        {{L.VendorName}}
                    </td>
                    <td>
                        {{L.City}}
                    </td>

                    <td>
                        {{L.ContactPerson}}
                    </td>
                    <td>
                        {{L.Designation}}
                    </td>
                    @*<td>
                        {{L.State}}
                        </td>
                        <td>
                            {{L.Country}}
                        </td>
                        <td>
                            {{L.email1}}
                        </td>*@
                    <td>
                        {{L.mob1}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="c1">
                            <div class="row p-0">
                                <div class="col-md-2 p-0">
                                    <span class="form-group pull-left page-size form-inline">
                                        <b>Records per page : &nbsp;&nbsp;</b>
                                        <select id="ddlCustPageSize" class="form-control control-color"
                                                ng-model="custPageSize"
                                                ng-change="CustChangePageSize()">
                                            <option value="100000">All</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-8 pull-right p-0">
                                    <div class="row p-0">
                                        <div class="col-md-10 p-0">
                                            <pagination total-items="custTotalCount" ng-change="CustPageChanged()" items-per-page="custPageSize" direction-links="true" ng-model="custPageIndex" max-size="maxsize" class="pagination pull-right" boundary-links="true" rotate="false" num-pages="custNumPages"></pagination>
                                        </div>
                                        <div class="col-md-2 p-0">
                                            <a class="btn btn-primary p-2 pull-right">Page: {{custPageIndex}} / {{custNumPages}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            </tfoot>
        </table>
    </div>
</div>


@*<div class="row">
        <div class="col-md-12">
            <div class="table-responsive tbl-content">
                <table>
                    <thead style="position: absolute">
                        <tr>
                            <th style="min-width: 110px;">
                                Action
                            </th>
                            <th style="min-width: 100px;">
                                Vendor Id
                            </th>
                            <th style="min-width:50px">
                                Vendor Type
                            </th>
                            <th style="min-width: 125px;">
                                Vendor Nature
                            </th>
                            <th style="min-width: 100px;">
                                Function Area
                            </th>
                            <th style="min-width: 115px;">
                                Vendor Name
                            </th>
                            <th style="min-width: 105px;">
                                City
                            </th>
                            <th style="min-width: 80px;">
                                State
                            </th>
                            <th style="min-width: 100px;">
                                Contact Person
                            </th>
                            <th style="min-width: 115px;">
                                Designation
                            </th>
                            <th style="min-width: 150px;">
                                Country
                            </th>
                            <th style="min-width: 90px;">
                                Email
                            </th>
                            <th style="min-width: 100px;">
                                Mobile
                            </th>
                        </tr>
                    </thead>
                </table>
                <table id="tblCustomerDetails" style="margin-top:45px">
                    <tbody>
                        <!--<tr>
                                <td colspan="13" class="text-center">
                                    <h3>
                                        {{AvailableCustListTextToShow}}
                                    </h3>
                                </td>
                            </tr>-->
    <tr ng-repeat="L in AvailableCustomerList" style="min-width: 110px;">
        <td style="min-width:125px">
            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="VIEW" ng-click="LoadCustomerViewPopup(L.CustomerId)">
                <i class="fa fa-eye"></i>
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="EDIT" ng-click="LoadCustomerEditPopup(L.CustomerId)">
                <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="DELETE" ng-click="DeleteCustomer(L.CustomerId)">
                <i class="fa fa-trash"></i>
            </button>
        </td>
        <td style="min-width: 100px;">
            {{L.VendorId}}
        </td>
        <td style="min-width:50px">
            {{L.VendorType}}
        </td>
        <td style="min-width:125px">
            {{L.VendorNature}}
        </td>
        <td style="min-width:100px">
            {{L.FunctionArea}}
        </td>
        <td style="min-width:115px">
            {{L.VendorName}}
        </td>
        <td style="min-width:105px">
            {{L.City}}
        </td>
        <td style="min-width:80px">
            {{L.State}}
        </td>
        <td style="min-width:100px">
            {{L.ContactPerson}}
        </td>
        <td style="min-width:115px">
            {{L.Designation}}
        </td>
        <td style="min-width:150px">
            {{L.Country}}
        </td>
        <td style="min-width:50px">
            {{L.email1}}
        </td>
        <td style="min-width:50px">
            {{L.mob1}}
        </td>
    </tr>
                    </tbody>
    <tfoot>
        <tr>
            <td align="center" colspan="13">
                <div class="row">
                    <div class="col-md-2">
                        <span class="form-group pull-left page-size form-inline">
                            <select id="ddlCustPageSize" class="form-control control-color"
                                    ng-model="custPageSize"
                                    ng-change="CustChangePageSize()">
                                <option value="100000">All</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-8 pull-right">
                        <div class="row">
                            <div class="col-md-8">
                                <pagination total-items="custTotalCount" ng-change="CustPageChanged()" items-per-page="custPageSize" direction-links="true" ng-model="custPageIndex" max-size="maxsize" class="pagination" boundary-links="true" rotate="false" num-pages="custNumPages"></pagination>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-primary">Page: {{custPageIndex}} / {{custNumPages}}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </tfoot>
                </table>
            </div>
        </div>
    </div>*@

<div class="modal" id="addCustomerDetails" tabindex="-1" role="dialog">
    @using (Ajax.BeginForm(actionName: "SaveCustomerDetails", controllerName: "Customer", ajaxOptions: new AjaxOptions
    {
        HttpMethod = "POST"
        // OnSuccess = "BuildingSpaceDetails.UploadFiles"
    },
            routeValues: null,
            htmlAttributes: new { id = "frmCustomerDetails" }))
    {
        <div class="modal-dialog" style="width:80%; max-width: 80%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*@Html.HiddenFor(m => m.TrnBuildingHdrId)*@
                    <h5 class="modal-title">Add Customer Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="div-Staff-details" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="add_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<script src="~/Scripts/jquery.Datatable.js"></script>


<div class="modal fade" id="registor-Sucess-Failure" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Notification</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                &nbsp;&nbsp;<span id="spn-registor-Sucess-Failure"></span><span id="spnUserName" style="font-weight:bold"></span>&nbsp;&nbsp;<span id="spnUserNameMore"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Sucess-Failure" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Notification</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                &nbsp;&nbsp;<span id="spn-Sucess-Failure"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        //$('#btnSearch').on("click", function () {
        //    CustomerDetails.OnSearch();
        //})
    });

    //$(function () {
    //    CustomerDetails.Load();
    //});

    //COMPARING MOBILE NUMBER AND ALTERNATIVE MOBILE NUMBER
    var alterMobileNumber = $('#altrmobileNumber');
    alterMobileNumber.on('blur', function () {
        $('#sameMobileNumber').hide();
        if ($('#mobileNumber').val() == '') {
        }
        else {
            if (alterMobileNumber.val() == $('#mobileNumber').val()) {
                $('#sameMobileNumber').show();
                alterMobileNumber.val('');
            }
        }
    });

    $(document).on("blur", ".check_mobileNumber", function () {
        validateMobileNumberforFirst($(this));
    })

    function validateMobileNumberforFirst(e) {
        var mobileNumber = $(e).val();
        var one1 = String(mobileNumber).charAt(0);
        var one_as_number1 = Number(one1);
        if (one1 != "") {
            if (one_as_number1 < 7) {
                //$("#spn-Sucess-Failure").text('Mobile Number should start with 7 or 8 or 9')
                //$("#Sucess-Failure").modal('show');
                alertNotification('Please Enter valid Mobile Number');
                $(e).val('');
            }
        }
    }


</script>


