@model NtierMvc.Model.GateEntryEntity

@{
    ViewBag.Title = "Inbound";
}

<div ng-controller="ModalController" class="row">
    <form id="formInbound">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.Id)
            @*<div class="row mb-2">
                    <div class="col-md-12" style="background-color: lightblue;">
                        <h4 class="control-label mt-2" style="margin-left:10px; font-size: 22px">Material Entry</h4>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            PO No 
                        </label>
                        @Html.DropDownListFor(m => m.VendorPONO, new SelectList(@ViewBag.ListPONo, "DataStringValueField", "DataTextField", Model.Type),
                           new
                           {
                               @class = "form-control requiredValidation clearField",
                               @id = "GEVendorPONO",
                               @data_inneraction = "validationCall",
                               @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                               @onchange = "GetDetailForGateEntry()"
                           })
                        <span class="HideValidMsg">Select PO No</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            PO Date 
                        </label>
                        @Html.TextBoxFor(m => m.POdate, new
                       {
                           @class = "form-control ml-3 requiredValidation applyDisabled",
                           @id = "GEPODate",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                       })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label ">
                            Work Instruction 
                        </label>
                        @Html.TextBoxFor(m => m.WorkNo, new
                       {
                           @class = "form-control ml-3 requiredValidation applyDisabled",
                           @id = "GEWorkNo",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                       })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label ">
                            General Condition 
                        </label>
                        @Html.TextBoxFor(m => m.GeneralCondition, new
                       {
                           @class = "form-control ml-3 requiredValidation applyDisabled",
                           @id = "GEGeneralCondition",
                           @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                       })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Delivery Date 
                        </label>
                        @Html.TextBoxFor(m => m.DeliveryDate, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "GEDeliveryDate",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                       @readonly = "true"
                   })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group text-left">
                        <label class="control-label ">
                            QMS Requirements 
                        </label>
                        @Html.TextBoxFor(m => m.QMSRequirement, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "GEQMSRequirement",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                       @readonly = "true"
                   })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Quality 
                        </label>
                        @Html.TextBoxFor(m => m.Quality, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "GEQuality",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)",
                       @readonly = "true"
                   })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            PO Validity 
                        </label>
                        @Html.TextBoxFor(m => m.POValidity, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "GEPOValidity",
                       @readonly = "true"
                   })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Packaging &amp; Forwarding 
                        </label>
                        @Html.TextBoxFor(m => m.PackForward, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "GEPackForward",
                       @readonly = "true"
                   })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            PO Revise No 
                        </label>
                        @Html.TextBoxFor(m => m.PORevNo, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "GEPORevNo",
                       @readonly = "true"
                   })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Mode Of Payment 
                        </label>
                        @Html.TextBoxFor(m => m.ModeOfPayment, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "GEModeOfPayment",
                       @readonly = "true"
                   })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Item Category 
                        </label>
                        @Html.TextBoxFor(m => m.ItemCategory, new
                    {
                        @class = "form-control requiredValidation clearField applyDisabled",
                        @id = "GEItemCategory",
                        @readonly = "true"
                    })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Payment Terms 
                        </label>
                        @Html.TextBoxFor(m => m.PaymentTerms, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "GEPaymentTerms",
                        @readonly = "true"
                   })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Mode Of Transport 
                        </label>
                        @Html.TextBoxFor(m => m.ModeOfTransport, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "GEModeOfTransport",
                        @readonly = "true"
                   })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Any Other Requirements 
                        </label>
                        @Html.TextBoxFor(m => m.AnyOtherRequirements, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "GEAnyOtherRequirements",
                        @readonly = "true"
                   })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Vehicle No. <span class="required">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.VehicleNo, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "VehicleNo",
                       @placeholder = "Enter Vehicle No",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                   })
                        <span class="HideValidMsg"> Enter Vehicle No</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Driver Name <span class="required">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.DriverName, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "DriverName",
                       @placeholder = "Enter Driver Name",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                   })
                        <span class="HideValidMsg">Enter Driver Name</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Driver Contact No <span class="required">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.DriverContactNo, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "DriverContactNo",
                       @placeholder = "Enter Driver Contact No",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                   })
                        <span class="HideValidMsg">Enter Driver Contact No</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Time In <span class="required">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.TimeIn, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "TimeIn",
                       @placeholder = "Enter Time In",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                   })
                        <span class="HideValidMsg">Enter Time In</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Time Out <span class="required">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.TimeOut, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "TimeOut",
                       @placeholder = "Enter Time Out",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                   })
                        <span class="HideValidMsg">Enter Time Out</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Vehicle Released <span class="required">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.VehicleReleased, new
                   {
                       @class = "form-control requiredValidation clearField applyDisabled",
                       @id = "VehicleReleased",
                       @placeholder = "Enter Vehicle Released",
                       @onfocusout = "return ValidateRequiredFieldsOnFocusOut(this)"
                   })
                        <span class="HideValidMsg">Enter Vehicle Released</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-inline pull-right">
                                <div class="form-group mt-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input RadioList" id="RadioListRM" name="multiRL" value="RM" onchange="RadioListChange()">
                                        <label class="custom-control-label h5" for="RadioListRM">RM</label>
                                    </div>

                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input RadioList" id="RadioListBOI" name="multiRL" value="BOI" onchange="RadioListChange()">
                                        <label class="custom-control-label h5" for="RadioListBOI">Bought Out Items</label>
                                    </div>

                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input RadioList" id="RadioListJW" name="multiRL" value="JW" onchange="RadioListChange()">
                                        <label class="custom-control-label h5" for="RadioListJW">Job Work</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input RadioList" id="RadioListGI" name="multiRL" value="GI" onchange="RadioListChange()">
                                        <label class="custom-control-label h5" for="RadioListGI">General Items</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input RadioList" id="RadioListC" name="multiRL" value="C" onchange="RadioListChange()">
                                        <label class="custom-control-label h5" for="RadioListC">Consumables</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input RadioList" id="RadioListCG" name="multiRL" value="CG" onchange="RadioListChange()">
                                        <label class="custom-control-label h5" for="RadioListCG">Capital Goods</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input RadioList" id="RadioListO" name="multiRL" value="O" onchange="RadioListChange()">
                                        <label class="custom-control-label h5" for="RadioListO">Others</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <hr style="width:100%" />
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <table class="table table-bordered tableRadio" id="tableRM">
                                <thead>
                                    <tr>
                                        <td>
                                            SN
                                        </td>
                                        <td>
                                            RM Description
                                        </td>
                                        <td>
                                            RM Grade
                                        </td>
                                        <td>
                                            RM Hardness
                                        </td>
                                        <td>
                                            PSL Level
                                        </td>
                                        <td>
                                            OD
                                        </td>
                                        <td>
                                            WT
                                        </td>
                                        <td>
                                            Len
                                        </td>
                                        <td>
                                            Qty Required (Nos)
                                        </td>
                                        <td>
                                            Qty in Stock (Nos)
                                        </td>
                                        <td>
                                            Purchase Qty (Nos)
                                        </td>
                                        <td>
                                            Unit Price
                                        </td>
                                        <td>
                                            Total Price
                                        </td>
                                        <td>
                                            Discount
                                        </td>
                                        <td>
                                            Final Price
                                        </td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <table class="table tableRadio" id="tableBOI">
                                <thead>
                                    <tr>
                                        <td>
                                            SN
                                        </td>
                                        @*<td>
                                                RM Code
                                            </td>*@
                                        <td>
                                            RM Description
                                        </td>
                                        <td>
                                            RM Grade
                                        </td>
                                        <td>
                                            PS Level
                                        </td>
                                        <td>
                                            Qty Required (Nos)
                                        </td>
                                        <td>
                                            Qty in Stock (Nos)
                                        </td>
                                        <td>
                                            Purchase Qty (Nos)
                                        </td>
                                        <td>
                                            Unit Price
                                        </td>
                                        <td>
                                            Total Price
                                        </td>
                                        <td>
                                            HSN
                                        </td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <table class="table tableRadio" id="tableJW">
                                <thead>
                                    <tr>
                                        <td>
                                            SN
                                        </td>
                                        @*<td>
                                                RM Code
                                            </td>*@
                                        <td>
                                            Item Description
                                        </td>
                                        <td>
                                            RM Grade
                                        </td>
                                        <td>
                                            JW Qty (Nos)
                                        </td>
                                        <td>
                                            Unit Price
                                        </td>
                                        <td>
                                            Total Price
                                        </td>
                                        <td>
                                            WIP No
                                        </td>
                                        <td>
                                            DRG No
                                        </td>
                                        <td>
                                            Opn Code
                                        </td>
                                        <td>
                                            Process Name
                                        </td>
                                        <td>
                                            EDR
                                        </td>
                                        <td>
                                            OPN Time
                                        </td>
                                        <td>
                                            HSN
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="tableRadio" id="tableGI" style="width: 70%;">
                                <thead>
                                    <tr>
                                        <td style="width: 6%;">
                                            SN
                                        </td>
                                        <td style="width: 36%;">
                                            Item Description
                                        </td>
                                        <td style="width: 8%;">
                                            Qty (Nos)
                                        </td>
                                        <td style="width: 10%;">
                                            Unit Price
                                        </td>
                                        <td style="width: 11%;">
                                            Total Price
                                        </td>
                                        @*<td width="16%">
                                                Required Dly. Date
                                            </td>*@
                                        <td style="width: 5%;">
                                            HSN
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="tableRadio" id="tableC" style="width: 70%;">
                                <thead>
                                    <tr>
                                        <td style="width: 6%;">
                                            SN
                                        </td>
                                        <td style="width: 36%;">
                                            Item Description
                                        </td>
                                        <td style="width: 8%;">
                                            Qty (Nos)
                                        </td>
                                        <td style="width: 10%;">
                                            Unit Price
                                        </td>
                                        <td style="width: 11%;">
                                            Total Price
                                        </td>
                                        @*<td width="16%">
                                                Required Dly. Date
                                            </td>*@
                                        <td style="width: 5%;">
                                            HSN
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="tableRadio" id="tableO" style="width: 70%;">
                                <thead>
                                    <tr>
                                        <td style="width: 6%;">
                                            SN
                                        </td>
                                        <td style="width: 36%;">
                                            Item Description
                                        </td>
                                        <td style="width: 8%;">
                                            Qty (Nos)
                                        </td>
                                        <td style="width: 10%;">
                                            Unit Price
                                        </td>
                                        <td style="width: 11%;">
                                            Total Price
                                        </td>
                                        @*<td width="16%">
                                                Required Dly. Date
                                            </td>*@
                                        <td style="width: 5%;">
                                            HSN
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="row">
                        <hr style="width:100%" />
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pt-4 text-center">
                    <button style="font-size:18px" type="button" class="btn btn-success btn-sm" id="save_results" ng-click="SaveInboundDetails()">Save</button>
                    <button style="font-size:18px" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        window.SaveGateEntry = '@Url.Action("SaveGateEntry", "GateEntry")';
        window.GetDetailsForGateEntry = '@Url.Action("GetDetailsForGateEntry", "GateEntry")';

        $('#tableRM').hide();
        $('#tableBOI').hide();
        $('#tableJW').hide();
        $('#tableGI').hide();
        $('#tableC').hide();
        $('#tableO').hide();

    });


    $('.NoEndDate').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: '',
    });
    $('.CurrentEndDate').datepicker({

        format: 'dd/mm/yyyy',
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        endDate: 'today',
    });
</script>
